{% extends 'content.twig' %}

{% block main_content %}
    <div class="row error-internal">
        <h1>Error Interno</h1>
        <p>Se ha producido un error interno en la aplicación y se ha enviado una 
        notificación al equipo de desarrollo</p>
        {# Notificación no implementada aun :P #}
    </div>
{% endblock main_content %}