{% extends 'layout.twig' %}

{% block main_content %}
    <div class="row error-internal" style="text-align:center;margin:150px 0">
        <h1>En mantenimiento</h1>
        <p>El sistema se encuentra temporalmente fuera de servicio.</p>
    </div>
{% endblock main_content %}
