<div id="modal-approver-close" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(approver_close, {
                action: path('requisition_approver_close', { id: requisition.id }),
                attr: {'data-redirect': dashboard }
            }) }}
            <div class="modal-header">
                <h4>Solicitud N° {{ requisition.number }} - {{ product.name }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(approver_close.datetime) }}
                {{ form_row(approver_close.reason) }}
                {{ form_row(approver_close.comments) }}

                <div id="work-files" data-prototype="{{ form_widget(approver_close.files.vars.prototype)|e }}">
                    {% for file in approver_close.files %}
                        {{ form_widget(file) }}
                    {% endfor %}
                </div>

                <button id="add-validation-type-action"
                        class="btn btn-add btn-warning"
                        data-target="work-files"
                        data-proto-name="__validation_files__">Agregar comentario y/o documento</button>
                {#{{ form_row(approver_close.files) }}#}
            </div>
            <div class="modal-footer">
                {{ form_widget(approver_close.cancel) }}
                {{ form_widget(approver_close.send) }}
            </div>
            {{ form_rest(approver_close) }}
        </div>
    </div>
</div>

<script>
    var countClick = 0;
    $('#approver_close_datetime_date').datepicker({
        language: 'es',
        endDate: new Date,
        format: 'dd/mm/yyyy',
        startDate: new Date('{{ requisition.createdAt|date('Y-m-d H:i:s') }}'),
        autoclose: true
    }).val(moment().format('DD/MM/YYYY'));

    $('#approver_close_datetime_time_hour').val(moment().format('H'));
    $('#approver_close_datetime_time_minute').val(moment().format('m'));

    $('[name="approver_close[reason]"]').on('change', function () {
        var required = $(this).val() === 'approver_close.reason.other';
        $('#approver_close_comments').attr('required', required).attr('disabled', !required).val('');
    });

    $("#add-validation-type-action").on('click',function () {
        ++countClick;
        if(countClick >= 2) {
            $(this).attr('disabled', 'disabled');
        }
    });
</script>