{% import '_partial/macros.twig' as macros %}
{% import _self as widgets %}

{% set product = requisition.product %}

<div id="change-supplier-form" class="tabla-ranking row meta-block">
    <h3>Selección de proveedor</h3>
    {{ form_start(change_sup, {
        action: path('requisition_change_supplier', { id: requisition.id }),
        attr: { id: 'change_sup-form', 'data-redirect': path('dashboard') }
    }) }}
    <table class="table table-striped table-condensed">
        <tbody>
            <tr>
                <td colspan="2">
                    <table class="table table-striped table-condensed" style="margin:0!important">
                        <thead>
                            <tr>
                                <th class="supplier-ranking">Ranking</th>
                                <th class="contract-cost-center">Centro Costo</th>
                                <th class="contract-price">Precio</th>
                                <th class="contract-sla">Fecha de Entrega</th>
                                {% if is_granted('ROLE_APPROVER') %}
                                    <th class="contract-supplier" style="width:40%">Proveedor</th>
                                {% endif %}
                                <th class="supplier-selector" style="white-space:nowrap">Seleccionar proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for child in change_sup.contract.children %}
                                <tr>
                                    {% set contract = change_sup.contract.vars.choices[child.vars.name].data %}
                                    <td class="supplier-ranking">{{ macros.star_rating(3) }}</td>
                                    <td class="contract-cost-center">{{ contract.costCenter }}</td>
                                    <td class="contract-price">
                                        {% if is_granted('ROLE_APPROVER') or not contract.centralized %}
                                            ${{ contract.price.value|number_format(0, ',', '.') }}
                                        {% endif %}
                                    </td>   
                                    <td class="contract-sla">{{ sla_calculator.getEstimate(requisition.createdAt, contract.getSLA('product.delivered'))|date('d/m/Y') }}</td>
                                    {% if is_granted('ROLE_APPROVER') %}
                                        <td style="width:40%">{{ contract.supplier.name }}</td>
                                    {% endif %}
                                    <td class="supplier-selector">
                                        {{ form_widget(child, {
                                            label: false, 
                                            attr: { 
                                                'data-type': contract.centralized ? 'centralized' : 'descentralized',
                                                'style': 'display:inline-block'
                                            }
                                        }) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pull-right">
        <button type="submit" class="btn btn-warning">Enviar solicitud</button>
    </div>
    {{ form_end(change_sup) }}
</div>

<script>
    (function() {
        var form = $('#change-supplier-form');
        var label = $('<label>').text('Solicitud rechazada');

        var cell = form.find('input[type=radio]:disabled').hide().closest('td');
        cell.find('label').remove();
        cell.append(label);
        form.show();
    }());
</script>