{% if is_granted('ROLE_APPROVER') %}
    {% if requisition.metadata['purchase_order'] is not defined %}
        <div class="row meta-block">
            <h3>Adjuntar Orden de Compra</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th><strong>Adjuntar archivo</strong></th>
                        <td>
                            {{ form(purchase_order, {
                                attr: { id: 'form-attach-po' },
                                action: path('requisition_attach_po', { id: requisition.id })
                            }) }}
                            <span id="loading" style="display: none;">
                                Cargando archivo. Espere por favor...
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    {% set sendOrder = path('requisition_proceed', { process: 'product', id: requisition.id, step: 'approve'}) %}

    {% set message %}
        {%- filter escape -%}
            La solicitud <a href="{{ detail }}">N° {{ requisition.number }}</a> ha sido enviada al proveedor
        {%- endfilter -%}
    {% endset %}

    <button id="send-oc"
        data-message="{{ message }}"
        data-url="{{ sendOrder }}"
        data-redirect="{{ dashboard }}"
        class="btn btn-warning pull-right">Enviar</button>

    <script>
        var submitBtn = $('#send-oc');
        var formPo = $('#form-attach-po');
        var file = formPo.find('input[type=file]');
        var loading = $('#loading');

        //submitBtn.prop('disabled', !!file.prop('required'));

        file.on('change', function (e) {
            e.preventDefault();
            formPo.trigger('submit');
        });

        formPo.on('submit', function (e) {
            e.preventDefault();
            formPo.hide();
            loading.show();

            $.ajax({
                url: formPo.attr('action'),
                data: new FormData(formPo.get(0)),
                processData: false,
                contentType: false
            }).done(function (data) {
                if (!validateForm(formPo, data)) {
                    bootbox.alert('Ha ocurrido un error al adjuntar la orden de compra');
                } else {
                    submitBtn.prop('disabled', false);
                }
            }).fail(function () {
                bootbox.alert('Ha ocurrido un error al adjuntar la orden de compra');
            }).always(function () {
                formPo.show();
                loading.hide();
            });
        });

        submitBtn.on('click', function() {
            var btn = $(this);

            $.post(btn.data('url')).done(function () {
                bootbox.alert(btn.data('message'), function() {
                    window.location.replace(btn.data('redirect'));
                });
            });
        });
    </script>
{% endif %}

{% if is_granted('ROLE_APPROVER') %}

{% endif %}