{% set dialog %}
    {%- filter escape -%}
        La orden de trabajo para la solicitud <a href="{{ path('requisition_work_order', { id: requisition.id }) }}">N° {{ requisition.number }}</a>, fue aceptada por usted. Por favor, recuerde despachar el producto o servicio en el plazo estipulado para una buena evaluación.
    {%- endfilter -%}
{% endset %}

{% set attr = {
    'data-action': path('requisition_proceed', { 
        id: requisition.id, 
        process: 'product', 
        step: 'deliver' 
    }),
    'data-return': dashboard,
    'data-dialog': dialog,
    class: 'btn btn-warning'
} %}

{%- set action -%}
    $(function() {
        var btn = $(event.target);

        $.post(btn.data('action')).done(function (data) {
            bootbox.dialog({
                message: btn.data('dialog'),
                buttons: {
                    'Aceptar': {
                        className: 'btn btn-warning',
                        callback: function () {
                            window.location.replace(btn.data('return'));
                        }
                    }
                }
            });
        });
    });
{%- endset -%}

<div class="row pull-right">
    <button onclick="{{ action|raw }}" {% for name, value in attr %} {{ name }}="{{ value }}"{% endfor %}>{% if requisition.type == 'requisition.maintenance' %}Aceptar orden de trabajo{% else %}Confirmar recepción{% endif %}</button>
</div>