{% import '_partial/macros.twig' as macros %}
{% import _self as widgets %}

{% set change   = path('product_approver_change', { id: requisition.id }) %}
{% set justify  = path('supplier_change_justify', { id: requisition.id }) %}
{% set continue = path('requisition_proceed', { id: requisition.id, process: 'product', step: 'continue' }) %}
{% set addMeta  = path('requisition_add_meta', { id: requisition.id }) %}
{% set reject   = path('decline_reject', { id: requisition.id }) %}

{% if metadata.decline is defined %}
    <div id="declined-meta" class="row meta-block">
        {% for meta in metadata.decline %}
            <h3>Rechazo de solicitud (proveedor {{ loop.index }})</h3>
            <table class="table table-striped">
                <tbody>
                    {% if meta.reason is defined %}
                        <tr>
                            <th><strong>Motivo</strong></th>
                            <td>{{ meta.reason|trans }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th><strong>Argumentación</strong></th>
                        <td>{{ meta.comment }}</td>
                    </tr>
                </tbody>
            </table>
            <br />
        {% endfor %}
    </div>
{% endif %}
{% set is_maintenance = requisition.type == 'requisition.maintenance' %}

{% if is_maintenance %}
<div id="change-supplier-form" class="tabla-ranking row meta-block">
    <h3>Selección de proveedor</h3>
    {{ form_start(change_sup, {
        action: path('requisition_change_supplier', { id: requisition.id }),
        attr: { id: 'change_sup-form', 'data-redirect': path('dashboard') }
    }) }}
    <table class="table table-striped table-condensed">
        <tbody>
        <tr>
            <td colspan="2">
                <table class="table table-striped table-condensed" style="margin:0!important">
                    <thead>
                    <tr>
                        <th class="supplier-ranking">Ranking</th>
                        <th class="contract-cost-center">Centro Costo</th>
                        <th class="contract-price">Precio</th>
                        <th class="contract-sla">Fecha de Entrega</th>
                        {% if is_granted('ROLE_APPROVER') %}
                            <th class="contract-supplier" style="width:40%">Proveedor</th>
                        {% endif %}
                        <th class="supplier-selector" style="white-space:nowrap">Seleccionar proveedor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for child in change_sup.contract.children %}
                        <tr>
                            {% set contract = change_sup.contract.vars.choices[child.vars.name].data %}
                            <td class="supplier-ranking">{{ macros.star_rating(3) }}</td>
                            <td class="contract-cost-center">{{ contract.costCenter }}</td>
                            <td class="contract-price">
                                {% if is_granted('ROLE_APPROVER') or not contract.centralized %}
                                    ${{ contract.price.value|number_format(0, ',', '.') }}
                                {% endif %}
                            </td>
                            <td class="contract-sla">{{ sla_calculator.getEstimate(requisition.createdAt, requisition.getSLA('product.delivered'))|date('d/m/Y') }}</td>
                            {% if is_granted('ROLE_APPROVER') %}
                                <td style="width:40%">{{ contract.supplier.name }}</td>
                            {% endif %}
                            <td class="supplier-selector">
                                {{ form_widget(child, {
                                    label: false,
                                    attr: {
                                        'data-type': contract.centralized ? 'centralized' : 'descentralized',
                                        'style': 'display:inline-block'
                                    }
                                }) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    {{ form_end(change_sup) }}
</div>

<script>
    (function() {
        console.log('asdasd')
        var form = $('#change-supplier-form');
        var label = $('<label>').text('Solicitud rechazada');

        var cell = form.find('input[type=radio]:disabled').hide().closest('td');
        cell.find('label').remove();
        cell.append(label);
        form.show();
    }());
</script>
{% endif %}

<div class="row pull-right">
    {% if is_maintenance %}
        <button id="decline-reject"
            class="btn btn-warning"
            data-action="{{ path('requisition_proceed', { id: requisition.id, process: 'product', step: 'continue' }) }}"
            data-return="{{ path('dashboard') }}">No aceptar rechazo</button>
    {% endif %}

    <button id="{% if is_maintenance %}close-declined{% else %}accept-decline{% endif %}"
        class="btn btn-warning"
        data-add-meta="{{ path('requisition_add_meta', { id: requisition.id }) }}"
        data-action="{{ path('requisition_proceed', { id: requisition.id, process: 'product', step: 'decline' }) }}"
        data-return="{{ path('dashboard') }}">{% if is_maintenance %}Aceptar rechazo{% else %}Aceptar{% endif %}</button>

    {% if is_maintenance %}
        <button id="change-supplier"
            class="btn btn-warning"
            data-return="{{ path('dashboard') }}">Cambiar proveedor</button>
    {% endif %}
</div>

{% include 'requisition/product/action/_approver_close_modal.twig' %}

<div class="row">
    {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
        <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
    {% endif %}
</div>

<script>
    function ajaxFailCallback() {
        bootbox.alert('Ha ocurrido un error al procesar su solicitud.');
    }

    function changeSupplierCallback(value) {
        if (value == null) {
            return;
        }

        var data = new FormData();
        data.append('supplier_change', value);

        $.ajax({
            url: "{{ justify }}",
            data: data,
            processData: false,
            contentType: false
        }).done(function() {
            $.post("{{ change }}", $('#change_sup-form').serialize()).done(function() {
                $.post("{{ continue }}").done(function() {
                    bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                        window.location.replace($('#change-supplier').data('return'));
                    });
                }).fail(ajaxFailCallback)
            }).fail(ajaxFailCallback)
        }).fail(ajaxFailCallback);
    }

    function declineRejectCallback(value) {
        if (value == null) {
            return;
        }

        $.post("{{ reject }}").then(function () {
            var form = new FormData;
            form.append('key', 'decline_rejection');
            form.append('value', value);

            $.ajax({
                url: "{{ addMeta }}",
                data: form,
                processData: false,
                contentType: false
            }).done(function () {
                $.post("{{ continue }}").done(function() {
                    window.location.replace($('#decline-reject').data('return'));
                }).fail(ajaxFailCallback);
            }).fail(ajaxFailCallback);
        }).fail(ajaxFailCallback);
    }

    function closeDeclinedCallback(value) {
        if (null === value) {
            return;
        }

        var form = new FormData;
        form.append('key', 'decline_comment');
        form.append('value', value);

        var btn = $('#close-declined');
        var addMetaAction = btn.data('add-meta');
        var closeAction = btn.data('action');

        $.ajax({
            url: addMetaAction,
            data: form,
            processData: false,
            contentType: false
        }).done(function () {
            $.post(closeAction).done(function() {
                window.location.replace(btn.data('return'));
            }).fail(function () {
                bootbox.alert('Ha ocurrido un error al enviar su mensaje');
                btn.button('loading');
            });
        }).fail(function () {
            bootbox.alert('Ha ocurrido un error al enviar su mensaje');
            btn.button('loading');
        });
    }

    $('#decline-reject').on('click', function() {
        bootbox.prompt({
            title: 'No aceptar rechazo de proveedor',
            inputType: 'textarea',
            placeholder: 'Escriba aquí el argumento para aceptar no aceptar el rechazo del proveedor',
            callback: declineRejectCallback
        })
    });

    $('#accept-decline').on('click', function () {
        var button = $(this);

        $.post(button.data('action')).done(function () {
            bootbox.alert('Su mensaje ha sido enviado exitosamente.', function () {
                window.location.replace(button.data('return'));
            });
        }).fail(function () {
            bootbox.alert('Ha ocurrido un error al procesar su solicitud.');
        });
    });

    $('#close-declined').on('click', function () {
        bootbox.prompt({
            title: 'Aceptar rechazo',
            inputType: 'textarea',
            placeholder: 'Escriba aquí el argumento para aceptar el rechazo del proveedor',
            callback: closeDeclinedCallback
        });
    });

    $('#change-supplier').on('click', function () {
        if (!$('#change_sup-form').find('input[type=radio]:checked').length) {
            bootbox.alert('Debe seleccionar un proveedor para realizar el cambio');
            return;
        }

        bootbox.prompt({
            title: 'Cambio de proveedor',
            inputType: 'textarea',
            placeholder: 'Escriba aquí el argumento para cambiar el proveedor',
            callback: changeSupplierCallback
        });
    });
</script>
