{% form_theme supplier_cert 'form_theme.twig' %}

{% macro extra_widget(form) %}
<div class="removable-item clearfix" style="margin-bottom:20px;border:1px solid #ddd;padding:15px">
    {{ form_widget(form) }}
    <div class="pull-right">
        <button class="btn btn-sm btn-danger btn-remove-item btn-remove-document">Eliminar</button>
    </div>
</div>
{% endmacro %}

{{ form_start(supplier_cert, {
    attr: { id: 'vcard-supplier-cert' },
    action: path('vcards_certificar', { id: requisition.id })
}) }}
<div class="row work-order-files">
    <h4>Certificación de trabajo</h4>

    <div class="clearfix" style="padding: 20px;background-color: #eee">
        <div class="form-group">
            <label class="col-sm-2 control-label">Fecha y hora de certificación</label>
            <div class="col-sm-10" style="margin-top:20px">{{ 'now'|date('d/m/Y H:i:s') }}</div>
        </div>

        {{ form_row(supplier_cert.receiver) }}

        {% import _self as macros %}

        {% set extra_proto %}
            {{ macros.extra_widget(supplier_cert.extras.vars.prototype)|e }}
        {% endset %}

        <div id="extras" class="clearfix" data-prototype="{{ extra_proto }}">
            {% for extra in supplier_cert.extras %}
                {{ macros.extra_widget(extra) }}
            {% endfor %}
        </div>

        {% do supplier_cert.extras.setRendered %}

        <button class="btn btn-add btn-warning pull-right"
            data-target="extras"
            data-proto-name="__vcard_certification_extra_name__"
        >Agregar comentario y/o documento</button>
    </div>
</div>

    <button type="submit" class="btn btn-warning" style="float:right; margin-left: 10px">Confirmar trabajo</button>
{{ form_end(supplier_cert) }}

<script>
    $(function() {
        $('#vcard_certification_deliveredAt_date').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            orientation: 'bottom',
            language: 'es',
            endDate: new Date
        });
    });
</script>
