
.product-list-container {
    margin-bottom: 20px;
    .product-name {
        display: inline-block;
        min-height: 40px;
    }
}

.detalle-producto {
    .titulo h3 {
        font-weight: 100;
    }
    .inventory-code {
        margin: 10px 0;
    }
    .justificacion {
        display: none;
        &.show {
            display: block;
        }
    }
}

.supplier-ranking {
    text-align: left;
}

.detalle-solicitud {
    .row {
        margin: 0 0 20px 0;
    }
    table {
        margin: 0!important;
    }
    .titulo {
        margin-bottom: 10px;
        h3 {
            font-weight: 100;
            font-size: 2em;
            margin-top: 0;
        }
    }
    .solicitud-workflow {
        border-radius: 0!important;
    }
    .row.panel-tarjeta {
        margin-bottom: 0!important;
        h3 {
            font-weight: 100;
        }
    }
    .requisition-detail {
        padding: 0!important;
        h4 {
            margin-bottom: 30px;
        }
    }
}

#cart {
    .cart-table {
        .actions {
            width: 220px!important;
            .btn {
                margin-left: 20px!important;
                border: 1px solid red;
            }
        }
    }
}

