.dashboard {
    // margin-top: 20px;

    h3 {
        font-weight: 100;
        font-size: 22px;
    }
}

.menu-supplier-cbe nav.menu-bar {
    width: 600px;
}
.menu-supplier-cbe .mainmenu-home ul li span
, .menu-supplier-cbe .mainmenu-home ul li a {
    padding:10px 10px 130px 10px;
    width:150px;
    color:#fff;
    display:block;
    cursor:pointer;
    text-transform:uppercase
}
.menu-supplier-cbe .mainmenu-home {
    margin-top:-50px;
    }
ul#supplier-menu li span {
        background: #ddd;
}
.mainmenu-home li.menu-ofertas a
, .mainmenu-home li.menu-ofertas a:hover
, .mainmenu-home li.menu-ofertas span
, .mainmenu-home li.menu-ofertas span:hover {
    background: #ddd url('img/sprite.png') -90px -95px no-repeat!important;
}
li.menu-estado-pago a
, li.menu-estado-pago a:hover
, li.menu-estado-pago span
, li.menu-estado-pago span:hover {
    background: #ddd url('img/sprite.png') -94px -248px  no-repeat!important;
}
li.menu-desarrollo a
, li.menu-desarrollo a:hover
, li.menu-desarrollo span
, li.menu-desarrollo span:hover {
    background: #ddd url('img/sprite.png') -90px -400px  no-repeat!important;
}
li.menu-estado-solicitudes a
, li.menu-estado-solicitudes a:hover
, li.menu-estado-solicitudes span
, li.menu-estado-solicitudes span:hover {
    background:#1d70b4 url('img/sprite.png') 48px -698px no-repeat!important;
}
.menu-supplier-cbe .mainmenu-home ul li.menu-desarrollo a
, .menu-supplier-cbe .mainmenu-home ul li.menu-desarrollo span
, .menu-supplier-cbe .mainmenu-home ul li.menu-estado-solicitudes a
,    .menu-supplier-cbe .mainmenu-home ul li.menu-estado-solicitudes span {
    padding: 10px 10px 110px 10px;
}

.last-activity-feed-container {
    border-color: rgb(103, 115, 122) transparent transparent rgb(103, 115, 122);
    border-style: solid;
    padding: 5px 10px 5px 10px;
}

.last-activity-feed-header {
    background: #999;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
}

.search-content {
    width: 700px ;
    margin-left: auto;
    margin-right: auto;
}
