
html {
    font-family: 'Open Sans', 'Helvetica', sans-serif!important; 
}

@font-face {
    font-family: 'flaticon';
    src: url('fonts/flaticon.woff') format('woff');
}

label {
    cursor: pointer;
}

th {
    font-weight: normal;
}

.table-col-stretch {
    width: 1%!important;
}

.modal {
    z-index: 99999999!important;
}

pre.sf-dump {
    z-index: 0!important;
}

.glyph-icon {
    font-style: normal;
}

.workflow-popover {
    cursor: pointer;
    display: block;
}

.popover-content {
    padding: 0;
}

.popover {
    max-width: 400px;
}

.user-switch {
    padding: 15px!important; 
}

.workflow-line {
    top: 37px!important
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.work-party {
    padding: 0;

    table tr th {
        width: 35%
    }
}

#work_validation_files > .form-group > label.control-label {
    display: none!important;
}

.flaticon-hourglass4:before {
    content: "\e000";
    margin: 0px auto;
    font-family: 'flaticon';
    font-size: 20px; 
}

.main-content {
	padding-top: 20px!important;
}

.tarjeta {
    margin-top: 0;
}

.header .navbar-form {
    margin: 0;
}

// Menu principal
.menu-principal-cbe {
	margin-top: -15px;
    margin-bottom: 0;

	.mainmenu-home {
		margin-top: -60px;
		margin-bottom: 20px;
	}
}

#notification-menu {
    width: 600px;
    li {
        padding: 13px;
        margin: 0;
        border-bottom: 1px solid #eaeaea;
        list-style-type: none;
        position: relative;
        &:hover {
            background: #fcfcfc;
            cursor: pointer;
        }
        &.show-more {
            padding: 10px!important;
            margin: 0;
            list-style-type: none;
            border: none!important;
            font-size: 0.9em;
            color: #999;
            &:hover {
                background: none;
            }
            a {
                padding: 0px!important;
                color: #f8ad3b;
                &:hover {
                    background: none!important;
                }
            }
        }        
        &.empty-list-msg {
            padding-left: 30px;
        }
        .notify-icon {
            background: #000;
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .notify-datetime {
            font-size: 0.8em;
            color: #999;
            text-align: right;
        }
    }
}

.breadcrumb {
    margin-bottom: 15px;
    padding-left: 0!important;
    padding-right: 0!important;
    background: #fff;
    a {
        color: #999;
        border-bottom: 1px dotted;
        text-decoration: none;
    }
}

.star-rating {
    margin-top: 4px;
    color: #ccc;
    span {
        font-size: 18px;
        line-height: 18px;
        &.selected {
            color: #f0ad4e!important;
        }
    }
}

.meta-block {
    h3 {
        background: #90bd24;
        font-weight: normal;
        color: #ffffff;
        margin: 0;
        padding: 10px;
    }

    table {
        th {
            width: 200px;
        }
    }
}

/* Select2 widget */
.select2-container {
    width: 100% !important;
    z-index: 999999999 !important;
}
.select2-container--bootstrap .select2-selection {
    border: 1px solid #CCC;
    border-radius: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    color: #222222;
    -webkit-transition: none;
    transition: none;
}
.select2-container--bootstrap .select2-selection .select2-search--inline {
    margin: 0;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #222222;
    padding-top: 4px;
}
.select2-container--bootstrap .select2-results__option {
    margin-bottom: 0;
}
.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #F5F5F5;
    font-weight: bold;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #f0ad4e;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #222222;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color: #D42124;
    font-weight: bold;
    position: relative;
    top: -1px;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border: 1px solid #AAA;
    border-radius: 0;
    margin: 5px 10px;
    padding: 6px;
    width: 96%;
}
.select2-search--inline .select2-search__field:focus {
    outline: 0;
    border: 0;
}

.menu-supplier-cbe {
    margin-top: -15px;
}

 .menu-supplier-cbe nav.mainmenu-interior {
     width: 760px!important;
 }
 .mainmenu-interior #supplier-menu span {
     background: #fff!important;
 }
.mainmenu-interior .menu-ofertas,
.mainmenu-interior .menu-ofertas:hover{background:#fff url('img/sprite.png') -252px -942px no-repeat!important;padding-left:40px}
     
.mainmenu-interior .menu-estado-pago,
.mainmenu-interior .menu-estado-pago:hover{background:#fff url('img/sprite.png') -252px -1001px no-repeat!important;padding-left:40px}
 
.mainmenu-interior .menu-desarrollo,
.mainmenu-interior .menu-desarrollo:hover{background:#fff url('img/sprite.png') -252px -1062px no-repeat!important;padding-left:40px}
 
.mainmenu-interior .menu-estado-solicitudes,
.mainmenu-interior .menu-estado-solicitudes:hover {background:#fff url('img/sprite.png') -252px -262px no-repeat!important;padding-left:40px} 

.mainmenu-interior .menu-estado-solicitudes a
, .mainmenu-interior .menu-estado-solicitudes a:hover {
    background: #fff!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.work-order-detail th {
    font-weight: 300!important
}

.table.work-order-items thead th {
    background: #90bd24!important;
    color: #fff!important; 
}


.work-order-files {
    margin-bottom: 20px;
}

.work-order-files h4 {
    background: #90bd24 !important;
    color: #fff;
    font-weight: 100;
    padding: 10px;
    margin-bottom: 0;
}

#work-files {
    padding-bottom: 20px;
}

.work-attachment {
    margin: 0;
    padding: 10px;
}

.work-order-files .add-item {
    margin-top: 10px;
}

.work-attachment:nth-of-type(odd) {
    background: #f9f9f9
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.bootbox-alert .modal-footer .btn {
    background-color: #f0ad4e;
    border-color: #eea236;
    &:hover {
        background-color: #ec971f;
        border-color: #d58512;
    }
}

.bootbox-body {
    font-size: 18px;
}

#change-supplier-form {
    margin: 0!important;
    table {
        margin-bottom: 20px!important;
        .supplier-selector .radio {
            display: inline-block!important;
        }
    }
    .observaciones {
        margin-top: 0!important;
    }
}

.requirement-form .main-content > .row {
    margin-top: 10px;
}

.login h2 {
    margin-bottom: 30px
}

#requisition_quantity {
    margin-left: 20px
}

.menu-approver-cbe {
    .mainmenu-home {
        width: 150px!important;
        margin-bottom: 20px;
    }

    .nav {
        .mainmenu-interior {
            width: 300px !important;
        }
    }
}

#declined-meta {
    margin-bottom: 0;
}

#product_purchase_order .form-group {
    margin-bottom: 0!important;
}

#work-order-pdf {
    header, footer, .menu-bar, .breadcrumbs {
        display: none;
    }

    .main-content {
        width: 100%!important;
        padding: 0!important;
        > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

//Backoffice

.backoffice_title {
    background-color:#90bd24; color: #FFFFFF; padding: 3px; font-weight: bold; text-align: center;
}

