/* Nuevo CSS */
html {
    color: #666666;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #666;
}
hr {
	border-top: 1px dotted #666;
}
h3 {
	font-weight: 600;
	font-size: 18px;
}
h2 {
    font-weight: normal;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.sticky-footer-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}
.footer, .sticky-footer-push {
	clear: both;
}
.clear {
	clear: both;
}

.spaces {
    margin-bottom: 20px;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0
}

/*Resets de CSS Framework */
body.page-admin {
    padding-top: 30px !important;
}

.content-wrapper {
    background: none
}

#notification-menu {
    color: #666;
}

.btn
, .datepicker
, .form-control
, select {
	border-radius: 0!important;
}

.mainmenu-interior .banner.row
, .mainmenu-interior .container-fluid
, .mainmenu-interior .container-fluid .navbar-collapse {
	margin: 0!important;
	padding: 0!important;
}
.form-inline {
	margin-top: 15px!important;
	margin-bottom: 20px!important;
}
.nav-tabs>li>a {
	margin-right: 0;
	padding: 10px; 
}
.container {
	padding: 0!important;
}

.requisition-delegation, .requisition-delegation > .row {
    margin-left: 0;
    margin-right: 0;
}

.list-pagination-paginator .fa {
    display: none;
}

/* LINKS */
a {
	color: #f8ad3b;
}
a:hover {
	color: #f8ad3b;
	text-decoration: underline;
}
thead a:active, thead a:visited {
	color: #f8ad3b!important;
}

#js-dropdown-pedidos-hover li a,
#js-dropdown-mantenciones-hover li a {
    text-transform: none;
}

#js-dropdown-mantenciones-hover {
    margin-left: -150px!important;
    background: #f8ba00;
}

#js-dropdown-mantenciones-hover li a {
    background: #f8ba00;
}
#js-dropdown-mantenciones-hover li a:hover {
    background: darken(#f8ba00, 8%);
}


body.edit textarea {
    min-height: 100px!important;
}

/* PAGINADOR */
.pagination>li>a, .pagination>li>span {
	color: #000;
}
.pagination-nav {
	text-align: center;
}

/* easyadmin */
.easyadmin .content-header {
    padding: 5px 0;
}

body.easyadmin h1.title {
    margin-top: 5px;
}

/* @MENU BAR */
.badge {
	background-color: #f0ad4e;
}
.navbar {
	color: #fff;
}
.navbar-admin li a {
	padding: 5px 8px!important;
	border-right: 1px solid #eee;
}
.navbar-admin.navbar {
	min-height: inherit!important;
	margin-bottom: 0px!important;
}
.header .navbar-static-top {
	margin-bottom: 0px;
	color: #fff;
}
.header .navbar-static-top .container-fluid {
	padding-right: 25px;
	padding-left: 25px;
}
#user-menu li a {
    padding: 10px;
}
.navbar-static-top input.form-control {
	height: 25px;
	padding: 5px 25px 5px 5px;
	margin-top: 4px;
	border: none;
	background: #777473 url('img/search-icon.png') no-repeat 100% 50%;
	color: #eaeaea;
}


.header .dropdown,
.header .dropdown-menu li {
    margin-bottom: 0;
}

header .navbar-static-top .navbar-collapse ul li a {
	padding: 21px 10px;
}
.navbar-inverse {
    background: #555150;
    border: none;
}
.navbar-header {
	position: relative;
}
a.notification-menu-link {
    background: url('img/notification-icon.png') no-repeat 8px 17px;
    padding-left: 40px!important;
}
a.shopping-cart-menu-link {
    background: url('img/shopping-icon.png') no-repeat 8px 17px;
    padding-left: 40px!important;
}

.admin-menu .nav li {
    margin-bottom: 0;
}

.admin-menu .nav li a {
    padding: 5px 20px;
}

.admin-menu {
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    background: #666;
    z-index: 99999!important;
    margin: 0;
}

.main-content {
}

.main-content h2 {
    margin-top: 0;
}

.vcards-available {
}

.footer .copyright {
    margin-top: 10px;
}

.requisition-delegation .rut-input .form-group {
    margin-right: 10px;
}

.vcards-available h3 {
    font-weight: normal;
    margin-bottom: 40px;
}

.empty-cart p {
    text-align: center;
}

.cart-table table {
    margin-top: 15px;
}
.cart-table .cost-center {
    text-align: center;
}
.cart-table .quantity {
    text-align: center;
}

.site-info-title {
	position: absolute;
	left: 190px;
	top: 13px;
	width: 250px;
	border-left: 1px solid #7f7c7b;
	padding-left: 10px;
	font-size: 11px;
	line-height: 1.6em;
}
.site-info-title .logistica-title {
	color: #f09500;
	font-size: 1.5em;
	display: block;
	font-style: italic;
}
.navbar-inverse .navbar-form {
	margin-top: 13px;
}
.navbar-collapse .navbar-right a {
	padding-top: 20px;
	padding-bottom: 20px; 
}

nav.menu-bar {
    background: #fff;
    width: 750px;
    margin: 0 auto;
}

.mainmenu-interior {
    background: #fff;
    width: 887px !important;
    margin-bottom: 10px !important
}

#main-menu li {
    margin-bottom: 0
}

.mainmenu-home .navbar-collapse, .mainmenu-home .container-fluid {
    padding: 0 !important
}

.menu-principal-cbe .mainmenu-home {
    margin-top: -50px
}

.menu-principal-cbe .mainmenu-home ul li a, .menu-principal-cbe .mainmenu-home ul li span {
    padding: 10px 10px 130px 10px;
    width: 150px;
    color: #fff;
    display: block;
    cursor: pointer;
    text-transform: uppercase
}

.menu-principal-cbe .mainmenu-home ul li a.menu-requerimientos {
    padding: 10px 10px 110px 10px;
}

.menu-principal-cbe ul li:hover ul {
    display: block
}
.mainmenu-home ul.dropdown-menu li a, .mainmenu-home ul.dropdown-menu li span, .mainmenu-interior ul.dropdown-menu li a, .mainmenu-interior ul.dropdown-menu li span {
    padding: 10px;
    background: #90bd24;
    border-bottom: 1px solid #a7d637;
    width: auto !important
}

.mainmenu-home ul.dropdown-menu a:hover, .mainmenu-interior ul.dropdown-menu a:hover {
    background: #7aa11f
}
.mainmenu-interior ul li span {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block
}
.mainmenu-home ul.dropdown-menu, .mainmenu-interior ul.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important
}
.menu-principal-cbe .mainmenu-home ul li .menu-estado {
    padding: 10px 10px 110px 10px !important
}
.menu-pedidos, .menu-pedidos:hover {
    cursor: pointer;
    background: #90bd24 url('img/sprite.png') 35px -98px no-repeat !important
}
.menu-emergencias, .menu-emergencias:hover {
    background: #f0ad4e url('img/sprite.png') 29px -549px no-repeat !important
}
.menu-requerimientos, .menu-requerimientos:hover {
    background: #1d70b4 url('img/sprite.png') 29px -549px no-repeat !important;
    padding-bottom: 110px !important
}
.menu-arreglar, .menu-arreglar:hover {
    background: #f8ba00 url('img/sprite.png') 29px -259px no-repeat !important
}
.menu-subastar, .menu-subastar:hover {
    background: #fa6a31 url('img/sprite.png') 29px -410px no-repeat !important
}
.menu-estado, .menu-estado:hover {
    background: #037e8c url('img/sprite.png') 29px -698px no-repeat !important
}
.mainmenu-interior ul li a, .mainmenu-interior ul li span {
    color: #999
}
.mainmenu-interior ul.dropdown-menu li a, .mainmenu-interior ul.dropdown-menu li span {
    color: #fff !important
}
.mainmenu-interior ul li a:hover, .mainmenu-interior ul li span:hover {
    color: #000
}
.mainmenu-interior .menu-home, .mainmenu-interior .menu-home:hover {
    background: #fff url('img/sprite.png') -252px -305px no-repeat !important;
    padding-left: 40px
}
.mainmenu-interior .menu-pedidos, .mainmenu-interior .menu-pedidos:hover {
    background: #fff url('img/sprite.png') -252px -94px no-repeat !important;
    padding-left: 40px
}
.mainmenu-interior .menu-requerimientos, .mainmenu-interior .menu-requerimientos:hover {
    background: #fff url('img/sprite.png') -252px -229px no-repeat !important;
    padding-left: 40px;
    padding-bottom: 0 !important
}
.mainmenu-interior .menu-emergencias, .mainmenu-interior .menu-emergencias:hover {
    background: #fff url('img/sprite.png') -252px -223px no-repeat !important;
    padding-left: 40px
}
.mainmenu-interior .menu-arreglar, .mainmenu-interior .menu-arreglar:hover {
    background: #fff url('img/sprite-3.png') -258px -483px no-repeat !important;
    padding-left: 40px
}
.mainmenu-interior .menu-subastar, .mainmenu-interior .menu-subastar:hover {
    background: #fff url('img/sprite.png') -252px -179px no-repeat !important;
    padding-left: 40px
}
.mainmenu-interior .menu-estado, .mainmenu-interior .menu-estado:hover {
    background: #fff url('img/sprite.png') -252px -264px no-repeat !important;
    padding-left: 40px
}
.mainmenu-home ul.dropdown-menu, .mainmenu-interior ul.dropdown-menu {
    width: 750px;
    background: #90bd24
}
.mainmenu-home ul.dropdown-menu li, .mainmenu-interior ul.dropdown-menu li {
    float: left;
    width: 249px
}
.mainmenu-home ul#js-dropdown-pedidos-hover li a, .mainmenu-home ul#js-dropdown-pedidos-hover li span, .mainmenu-interior ul#js-dropdown-pedidos-hover li a, .mainmenu-interior ul#js-dropdown-pedidos-hover li span, .mainmenu-home ul#js-dropdown-arreglos-hover li a, .mainmenu-home ul#js-dropdown-arreglos-hover li span, .mainmenu-interior ul#js-dropdown-arreglos-hover li a, .mainmenu-interior ul#js-dropdown-arreglos-hover li span {
    padding: 10px !important;
}
.mainmenu-home ul#js-dropdown-pedidos-hover li a, .mainmenu-home ul#js-dropdown-pedidos-hover li span, .mainmenu-interior ul#js-dropdown-pedidos-hover li a, .mainmenu-interior ul#js-dropdown-pedidos-hover li span {
    background: #90bd24;
    border-bottom: 1px solid #a7d637;
    width: auto !important
}
.mainmenu-home ul#js-dropdown-arreglos-hover li a, .mainmenu-home ul#js-dropdown-arreglos-hover li span, .mainmenu-interior ul#js-dropdown-arreglos-hover li a, .mainmenu-interior ul#js-dropdown-arreglos-hover li span {
    padding: 10px;
    background: #fa6a31;
    border-bottom: 1px solid #ff8e61;
    width: auto !important;
    text-transform: capitalize
}
.mainmenu-home ul#js-dropdown-arreglos-hover {
    margin-left: -300px !important
}
.mainmenu-interior ul#js-dropdown-pedidos-hover {
    margin-left: -95px !important
}
.mainmenu-interior ul#js-dropdown-arreglos-hover {
    margin-left: -340px !important
}
.mainmenu-home ul#js-dropdown-pedidos-hover a:hover, .mainmenu-interior ul#js-dropdown-pedidos-hover a:hover {
    background: #7aa11f !important
}
.mainmenu-home ul#js-dropdown-arreglos-hover a:hover, .mainmenu-interior ul#js-dropdown-arreglos-hover a:hover {
    background: #c35022 !important
}

.mainmenu-home ul#js-dropdown-pedidos-hover, .mainmenu-interior ul#js-dropdown-pedidos-hover {
    width: 750px;
    background: #90bd24
}
.mainmenu-home ul#js-dropdown-arreglos-hover, .mainmenu-interior ul#js-dropdown-arreglos-hover {
    width: 750px;
    background: #fa6a31
}


/* PRODUCTOS */
.product-name {
    display: block;
    text-align: center;
}

/* SOLICITUDES */
.row.workflow {
    border: 1px solid #ccc;
}

.solicitud-workflow {
	text-align: center;
}
.solicitud-workflow-step {
	width: 25%;
	float: left;
	cursor: help;
}
.solicitud-workflow-content {
	padding: 10px;
}
.solicitud-workflow-number {
	background: #999;
	color: #fff;
	padding: 10px 15px;
	border-radius: 20px;
	font-weight: bold;
	display: inline-block;
}
.workflow-active {
	background: #90bd24;
}
.solicitud-workflow-text {
	margin: 10px 0 0 0;
	font-size: 0.9em;
}
.workflow h3 {
	margin-top: 0;
}
.workflow-line {
	height: 4px;
	background: #999;
	position: relative;
	top: 32px;
	margin: 0 11%;
	z-index: -1;
}

/* TOOLTIP */
[data-tooltip]:before {
    content: attr(data-tooltip);
}
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 250px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}



/* BANNER */
.banner {
	background: url('img/bg-home-interior.jpg') no-repeat top center;
    background-color: #eee;
    text-align: center;
}
.banner__contenedor{
    border:1px solid #fff;
    width: 500px;
    color: #fff!important;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    padding: 10px;
}

/* TARJETA */
.tarjeta {
	background-color: #eee; 
	padding: 20px;
    margin-right: 0;
}
.imagen-tarjeta {
	display: block; 
	margin-right: 20px;
}
.tarjeta h2 {
    font-weight: normal;
	margin-top: 0;
    font-size: 25px;
}
.tarjeta-img p {
	margin-top: 13px;
	font-size: 0.8em;
}

/* MENSAJES */
.requirement-details {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 15px!important;
}
.requeriment-container {
	margin: 20px 0;
}

/* SIDEBAR CATALOGO */
.sidebar-nav {
    padding-bottom: 15px;
}

.sidebar-nav ul {
    padding-left: 25px;
}

.sidebar-nav nav ul li {
	list-style-image: url('img/product-menu-list.png');
}
.sidebar-catalogo .sidebar-nav
, .sidebar-interior .sidebar-nav   {
	color: #a4d236;
}
.sidebar-catalogo ul.list-group
, .sidebar-interior ul.list-group   {
	padding-bottom: 15px;
}
.sidebar-catalogo nav  .list-group-item
, .sidebar-interior nav  .list-group-item  {
	background: none;
	border: none;
}
.sidebar-catalogo ul li a
, .sidebar-interior ul li a {
	font-weight: lighter;
	color: #fff;
}
.sidebar-catalogo ul li a:hover
, .sidebar-interior ul li a:hover {
	color: #f8ad3b;
}
.sidebar-catalogo .sidebar-nav
, .sidebar-catalogo .sidebar-nav ul li
, .sidebar-interior .sidebar-nav
, .sidebar-ijnterior .sidebar-nav ul li {
	background: #555150;
	border-radius: inherit;
	border: none;
}
.sidebar-catalogo .list-group-item
, .sidebar-interior .list-group-item {
	padding: 3px 15px;
}
.sidebar h3 {
	padding: 25px 15px 15px 15px!important;
	margin: 0!important;
}
.manual h3 {
	padding: 10px 0 15px 0!important;
	margin: 0!important;
}
h3.sidebar-nav__titulo {
	color: #fff;
}

/* TABLAS */
table.table  {
	border: 1px solid #ccc;
	color: #666;
}
table.table thead {
	background: #67737a;
	color: #fff;
}
table.tabla-ranking thead
, .panel-tarjeta
,  .tabla-ranking table thead {
	background: #90bd24;
}

.tabla-ranking table {
    margin-bottom: 0;
}

.tabla-ranking .supplier-selector .radio {
    margin: 0;
    padding: 0;
}

.panel-tarjeta h3 {
	color: #fff!important;
	margin-top: 14px;
}
.tarjeta-datos h4 {
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 30px;
}
td .btn {
	float: right;
}

.col-condensed {
  margin-left: 0px;
  margin-right: 0px;
}

.col-condensed div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;
}



/* CSS BASE */

.panel-tarjeta{
    padding: 0 1em;
}

.tarjeta{
    margin-top: 25px;
}
    .tarjeta-img{
        padding: 2em 1em;
    }

        .tarjeta-img__img{
            display: block;
            margin: 0 auto;
        }

        .tarjeta-img__descripcion{
            text-align: center;
        }

    .tarjeta-datos{
        background-color: #eee;
        padding: 2em 1em;
    }

/* @TABLA */

.tabla__lista{
    margin-top: 2em;
}

/* @TABLA RANKING */

.tabla-ranking{
    margin: 20px 0 0 0;
}
.tabla-mensajes{
    padding: 10px 0 40px 0;
}
.mensajes-menu-list {
	padding: 20px 0;
}
.mensajes-tabla {
	padding: 40px 0px
}

/* @USUARIO */

.usuario-contenido{
    padding: 30px 0;
}

/* @SIDEBAR CATÁLOGO */

.sidebar-catalogo{
    height:auto;
}

    .sidebar-nav{
        background-color: #ccc;
    }

        .sidebar-nav__titulo{

        }

/* @PRODUCTO */

.producto{
    padding: 0 0 2em 0;
}
.detalle-producto h3 {
	margin-top: 0;
	font-size: 2em;
}

.detalle-producto > form > .row {
    margin-left: 0;
    margin-right: 0;
}

.producto-img {
	padding-left: 0;
}
.producto-img img {
	display:block;
}
.product-button {
	display:block;
	margin: 8px auto;
	width:100px;
}
.producto-tab-content{
    padding: 1.5em 0;
}
.product-list-container {
    text-align: center;
}
.product-name {
	display: block;
    margin-bottom: 5px;
}

.supplier-selector {
    width: 180px;
    text-align: center;
}

.supplier-selector input {
    cursor: pointer;
}

.contract-cost-center, .contract-sla {
    text-align: center;
}

.quantity {
    text-align: right;
}

.detalle{
    background-color: #eee;
    padding: 1em 0;
}
.observaciones {
    margin: 20px 0!important;
}
.observaciones textarea
, .justificacion textarea {
    width: 100%;
}
 .tabla-ranking{
    margin: 30px 0!important;
}
.manual{
    background-color: #eee;
    padding: 1em;
    margin-top: 1em;
}
.login{
    border: 1px solid #ccc;
    padding: 20px 40px;
    width: 450px;
    margin: 20px auto;
}

.login .help {
    margin: 30px 0;
}

.login .error {
    padding: 10px;
    margin-top: 30px;
}

.login-help {
  width:450px;
  margin:0 auto;
  padding: 15px 0;
}

.login-help .img-icon {
  width: 10%;
  float: left
}

.login-help .img-icon img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ccc
}

.login-help .text {
  float: left;
  width: 90%;
  padding-left: 10px
}

.login-container
, .password-container {
	padding: 10px 30px 30px 30px;
}
.login-link {
	display:block;
	margin-bottom: 10px;
}
.recuperar{
   display: inline-block;
   margin-top: 10px;
}

.footer{
    border-top: 10px solid #bdbab9;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #ecebed;
}
.logo-footer {
	text-align: right;
}





/* RESPONSIVE STYLES */
@media only screen and (min-width: 1200px) {
    .menu-principal-cbe .mainmenu-home {
    }
    .banner {
	    padding: 50px 67px 85px 67px;
    }
    .sidebar-catalogo
    , .sidebar-interior {
	    padding-left: 0px;
    }
    .mainmenu-interior {
	    margin-left: 220px;
    }
}

@media only screen and (max-width: 1200px) {
    .menu-principal-cbe .mainmenu-home {
    }

        .banner {
	    padding: 50px 120px 85px 120px;
    }
    .sidebar-catalogo
    , .sidebar-interior  {
	    padding-left: 0px;
    }
    .producto-img img {
	    width: 330px;
    }
    .nav-tabs > li > a {
  	  	padding: 10px 8px;
  	  	font-size: 12px;
  	} 	
  	 .mainmenu-interior {
	    margin-left: 110px;
    }
}

@media only screen and (max-width: 1110px) {
	.site-info-title .logistica-title {padding: 8px 0;}
	.site-info-title .logistica-text {display: none;}
    }

@media only screen and (max-width: 992px) {
    .menu-principal-cbe .mainmenu-home {
    }
     .banner {
	    padding: 50px 40px 85px 40px;
    }
    .sidebar-catalogo
    , .sidebar-interior  {
	    padding: 0px;
    }
    .mainmenu-interior a {
	    font-size: 12px;
    }
     .mainmenu-interior {
	    margin-left: 30px;
    }
    .col-md-9-responsive {
	    margin-top: 20px;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	footer .col-md-4 {
		width: 32%;
		float: left;
	}
	.menu-notification-text 
	, .menu-shopping-text {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
   
    .banner__contenedor {
	    width: auto;
    }
     .sidebar-catalogo
     , .sidebar-interior  {
	    padding: 0;
    }
	footer .col-md-4 {
		width: 100%;
		text-align: left;
	}
	.container {
		padding: 15px!important;
	}
	footer .container {
		padding: 0!important;
	}
	
}
