
.pep-page {
    .panel-body .form-group {
        margin-right: 0;
    }

    .help-block {
        color: #a94442!important
    }

    .title h3 {
        font-weight: 100;
        font-size: 2em;
        margin: 0;
        line-height: 100%;
    }

    .pep-form-block {
        margin-bottom: 15px;
    }

    .workflow {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .rut-input, .share-input {
        width: 150px!important
    }

    .col-sm-2:empty {
        display: none;
    }

    .col-sm-2:empty + .col-sm-10 {
        width: 100%;
    }

    #pep_validation_purchase_range {
        width: 250px;
    }

    #pep_validation_documents {
        margin-bottom: 30px;
    }

    .add-company {
        margin-top: 20px;
    }

    #companies {
        &.pep-private {
            .company:nth-child(-n+3) .btn-remove-company {
                display: none;
            }
        }
        &.pep-direct {
            .company:first-child .btn-remove-company {
                display: none;
            } 
        }
        .company .btn-remove-document {
            display: block!important;
        }
    } 
}

.company {
    padding: 10px;

    table tr.removable-item:first-child .btn-remove-item {
        display: none;
    }

    .form-group {
        margin-bottom: 5px;
    }
}

#pep-register, #pep-checkout, #pep-selection, #pep-grant {
    .pep-form-block label {
        width: 250px;
        display: inline-block;
    }

    th {
        font-weight: bold;
        width: 35%;
    }

    .table-representatives:last-child, .table-shareholders:last-child {
        margin-bottom: 0;
    }
}

.pep-alert {
    font-weight: bold;
    color: #c00;
    padding-left: 20px;
}

.pep-company {
    border: 5px solid red;
    background: #ccc;
}

.company-container {
    margin-bottom: 20px;
}

.shareholder-container {
    margin-bottom: 10px;

    &.pep-shareholder {
        border: 5px solid red;
    }
}

.table.company {
    margin-bottom: 0!important;
}

.pep-message {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    p {
        padding: 10px;
    }
    h5 {
        background: #eee;
        color: #000;
        padding: 10px;
    }
}

.pep-requester p.intro {
    margin-bottom: 30px;
}

.company-container .panel-danger .table.company {
    border-width: 0 1px 0 0!important;
}

.shareholder-container .panel-danger .table-shareholders {
    border: none!important
}

.pep-workflow {
    .solicitud-workflow-step {
        width: 33.33%
    }

    .workflow-line {
        margin: 0 16%;
        top: 35px!important;
    }
}