/* BOTON ADMIN CAMBIO USUARIO */
.user-switch {position: relative;}
.collapse { display: inherit!important }

 @media (max-width:767px){
     /* NAVBAR HEADER */
     .navbar-header .site-info-title {width: auto;}
     .header .navbar-static-top .container-fluid {padding: 0 15px 15px 15px;}
     .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse, .header .navbar-static-top .container-fluid .navbar-nav {margin: 0; padding: 0;}
     .navbar .container-fluid .navbar-right li a.dropdown-toggle {padding: 8px 0!important;border-bottom: 1px solid #666;}
     .menu-notification-text, .menu-shopping-text {display: inherit!important;}
     .navbar .container-fluid .navbar-form {margin: 10px 0!important; padding: 0;border: none;}
     .navbar .shopping-cart-menu-link, .navbar .dropdown-toggle.notification-menu-link {position: relative;padding: 0!important;}
     .navbar .shopping-cart-menu-link .badge, .navbar .dropdown-toggle.notification-menu-link .badge {position: absolute; right: 0; top: 8px;}
     .navbar .shopping-cart-menu-link, .navbar .notification-menu-link {background-position: 0 4px;}
     .navbar .menu-notification-text, .navbar span.menu-shopping-text {padding: 8px 8px 8px 35px!important;}
     .navbar .navbar-collapse ul:nth-child(2) li.dropdown a {padding: 0!important;}
     .navbar .navbar-collapse ul:nth-child(2) span.caret {position:absolute; top:15px; right: 35px;}
     .navbar .navbar-collapse ul:nth-child(1) li a {text-transform: capitalize;} 
     .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {background-color: transparent;}
     #user-menu.dropdown-menu li a {border-bottom: 1px solid #666; }
     #user-menu.dropdown-menu li a:hover {background: #333;}
     #notification-menu.dropdown-menu {background: #fff;width: 100%;}

     /* MAIN MENU HOME */
     .menu-principal-cbe.row, .menu-supplier-cbe.row {
          margin: 0 !important
     }
     .menu-principal-cbe .mainmenu-home, .menu-supplier-cbe .mainmenu-home {
          margin: 0 0 25px 0 !important
     }
     .menu-principal-cbe nav.menu-bar, .menu-supplier-cbe nav.menu-bar {
          width: 100% !important
     }
     .menu-principal-cbe nav.menu-bar ul.navbar-nav, .menu-supplier-cbe nav.menu-bar ul.navbar-nav {
          margin: 0
     }
     .menu-principal-cbe nav.menu-bar ul.navbar-nav li span, .menu-principal-cbe .mainmenu-home ul li a, .menu-supplier-cbe nav.menu-bar ul.navbar-nav li span, .menu-supplier-cbe .mainmenu-home ul li a {
          font-size: 12px;
          width: 100%;
          padding: 10px 10px 10px 50px !important
     }
     .menu-principal-cbe .mainmenu-home ul li .menu-estado, .menu-supplier-cbe .mainmenu-home ul .menu-estado-solicitudes {
          padding: 10px 10px 10px 50px !important
     }
     .menu-supplier-cbe .mainmenu-home ul li.menu-estado-solicitudes a {
          padding: 0 !important
     }
     .menu-principal-cbe .mainmenu-home ul.dropdown-menu, .menu-supplier-cbe .mainmenu-home ul.dropdown-menu {
          width: 100% !important
     }
     .menu-principal-cbe .mainmenu-home ul.dropdown-menu li, .menu-supplier-cbe .mainmenu-home ul.dropdown-menu li {
          width: 50% !important
     }
     .menu-principal-cbe .mainmenu-home ul#js-dropdown-arreglos-hover, .menu-supplier-cbe .mainmenu-home ul#js-dropdown-arreglos-hover {
          margin-left: 0 !important
     }
     .menu-principal-cbe .mainmenu-home .menu-pedidos {
          background: #90bd24 url('img/sprite-2.png') no-repeat 0 -4px !important
     }
     .menu-principal-cbe .mainmenu-home .menu-emergencias {
          background: #f0ad4e url('img/sprite-2.png') no-repeat 0 -56px !important
     }
     .menu-principal-cbe .mainmenu-home .menu-arreglar {
          background: #f8ba00 url('img/sprite-2.png') no-repeat 0 -104px !important
     }
     .menu-principal-cbe .mainmenu-home .menu-subastar {
          background: #fa6a31 url('img/sprite-2.png') no-repeat 0 -156px !important
     }
     .menu-principal-cbe .mainmenu-home .menu-estado {
          background: #037e8c url('img/sprite-2.png') no-repeat -2px -857px !important
     }
     .menu-principal-cbe .mainmenu-home .menu-requerimientos {
          background: #1d70b4 url('img/sprite-2.png') no-repeat -2px -205px !important
     }
     .menu-supplier-cbe .mainmenu-home .menu-ofertas {
          background: #ddd url('img/sprite-2.png') no-repeat 0 -555px !important
     }
     .menu-supplier-cbe .mainmenu-home .menu-estado-pago {
          background: #ddd url('img/sprite-2.png') no-repeat 0 -605px !important
     }
     .menu-supplier-cbe .mainmenu-home .menu-desarrollo {
          background: #ddd url('img/sprite-2.png') no-repeat 0 -658px !important
     }
     .menu-supplier-cbe .mainmenu-home .menu-estado-solicitudes {
          background: #1d70b4 url('img/sprite-2.png') no-repeat -2px -856px !important
     }
     .menu-supplier-cbe .mainmenu-home .menu-ofertas span, .menu-supplier-cbe .mainmenu-home .menu-ofertas span:hover, .menu-supplier-cbe .mainmenu-home .menu-estado-pago span, .menu-supplier-cbe .mainmenu-home .menu-desarrollo span {
          background: none !important
     }
     .menu-principal-cbe .mainmenu-interior ul li, .menu-supplier-cbe .mainmenu-interior ul li {
          width: 100%
     }
     .menu-principal-cbe .mainmenu-interior ul.dropdown-menu, .menu-supplier-cbe .mainmenu-interior ul.dropdown-menu {
          width: 100% !important
     }
     .menu-principal-cbe .mainmenu-interior ul.dropdown-menu li, .menu-supplier-cbe .mainmenu-interior ul.dropdown-menu li {
          width: 50% !important
     }
     .menu-principal-cbe .mainmenu-interior ul#main-menu li a, .menu-principal-cbe .mainmenu-interior ul#main-menu li span, .menu-supplier-cbe .mainmenu-interior ul#supplier-menu li a, .menu-supplier-cbe .mainmenu-interior ul#supplier-menu li span {
          font-size: 12px !important;
          padding: 5px 35px !important;
          border-bottom: 1px dotted #ccc
     }
     .menu-principal-cbe .mainmenu-interior ul#main-menu li ul#js-dropdown-pedidos-hover li a, .menu-principal-cbe .mainmenu-interior ul#main-menu li ul#js-dropdown-pedidos-hover li span {
          padding: 10px !important;
          border-bottom: 1px solid #a7d637
     }
     .menu-principal-cbe .mainmenu-interior ul#main-menu li ul#js-dropdown-arreglos-hover li a, .menu-principal-cbe .mainmenu-interior ul#main-menu li ul#js-dropdown-arreglos-hover li span {
          padding: 10px !important;
          border-bottom: 1px solid #ff8e61
     }
     .menu-principal-cbe .mainmenu-interior ul#js-dropdown-arreglos-hover, .menu-principal-cbe .mainmenu-interior ul#js-dropdown-pedidos-hover {
          margin-left: 0 !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-home, .menu-supplier-cbe .mainmenu-interior .menu-home {
          background: #fff url('img/sprite-2.png') no-repeat -8px -260px !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-pedidos {
          background: #fff url('img/sprite-2.png') no-repeat -8px -311px !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-emergencias {
          background: #fff url('img/sprite-2.png') no-repeat -8px -361px !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-arreglar {
          background: #fff url('img/sprite-2.png') no-repeat -8px -411px !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-subastar {
          background: #fff url('img/sprite-2.png') no-repeat -8px -461px !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-requerimientos {
          background: #fff url('img/sprite-2.png') no-repeat -9px -910px !important
     }
     .menu-principal-cbe .mainmenu-interior .menu-estado {
          background: #fff url('img/sprite-2.png') no-repeat -9px -511px !important
     }
     .menu-supplier-cbe .mainmenu-interior .menu-estado-solicitudes a, .menu-supplier-cbe .mainmenu-interior .menu-ofertas a, .mainmenu-interior #supplier-menu span, .menu-supplier-cbe .mainmenu-interior .menu-estado-pago a, .menu-supplier-cbe .mainmenu-interior .menu-desarrollo a {
          background: none !important
     }
     .menu-supplier-cbe nav.mainmenu-interior {
          width: 100% !important
     }
     .menu-supplier-cbe .mainmenu-interior .menu-estado-solicitudes {
          background: #fff url('img/sprite-2.png') no-repeat -9px -511px !important;
          padding-left: 0 !important
     }
     .menu-supplier-cbe .mainmenu-interior .menu-ofertas {
          background: #fff url('img/sprite-2.png') no-repeat -9px -711px !important;
          padding-left: 0 !important
     }
     .menu-supplier-cbe .mainmenu-interior .menu-estado-pago {
          background: #fff url('img/sprite-2.png') no-repeat -9px -760px !important;
          padding-left: 0 !important
     }
     .menu-supplier-cbe .mainmenu-interior .menu-desarrollo {
          background: #fff url('img/sprite-2.png') no-repeat -9px -810px !important;
          padding-left: 0 !important
     }

     /* GENERAL STYLE FOR RESPONSIVE */
     .row {margin: 0!important;}
     .form-horizontal .form-group {margin-left: 0!important;}

     /* ADMIN MENU */
     .admin-menu ul.nav {margin: 0;}
     .admin-menu ul.nav li {float: left;font-size: 12px;}
     .admin-menu .navbar-nav .open .dropdown-menu {position: absolute!important;}
     .admin-menu .navbar-nav .open .dropdown-menu li {width: 100%;background: #fff;}

     /* BREADCRUMB */
     .breadcrumb {margin-top: 15px;}


     /* FOOTER */
     .footer {padding: 20px;}

     /* TABLAS */
     .table {margin: 15px 0!important;}
     .btn {margin-bottom: 15px;}

     /*SOLICITUDES */
     .solicitud-workflow-text {font-size: 0.7em;}
     .supplier-detail {margin-bottom: 15px!important;}
     .login, .login-help  {
       max-width: 100%;
     }

 }

.menu-emergencias.emergencias {
    background-color: #ddd!important
}