{% if not hide_if_empty or requisitions is not empty %}
<div class="row">
    {% if grid_title is not empty  %}
        <{{ grid_title_tag }}>{{ grid_title }}</{{ grid_title_tag }}>
    {% endif %}

    {% set data = hide_view_more ? requisitions : requisitions|slice(0, data_slice) %}
    {% if attributes.in_sla is defined %}
        {% set in_sla = attributes.in_sla %}
    {% else %}
        {% set in_sla = 'all_sla' %}
    {% endif %}

    <table class="table table-striped" style="width: 100%" {% for k, v in attributes %}{{ k }}="{{ v is iterable ? v|json_encode : v }}"{% endfor %} >
        <thead>
            <tr class="row">
                <th class="col-md-1" style="text-align: center">Fecha de ingreso</th>
                <th  class="col-md-1">Solicitud</th>
                {% if type != 'pep' %}
                    <th  class="col-md-2">Tipo</th>
                    <th  class="col-md-3 "style="text-align: center">SLA</th>
                {% else %}
                    <th  class="col-md-2">Estado</th>
                    <th  class="col-md-3">Descripción</th>
                {% endif %}
                {% if type in ['maintenance', 'self.management', 'requisition'] %}
                    <th  class="col-md-1" style="text-align: center">Estado</th>
                {% endif %}
                <th  class="col-md-1" style="text-align: center">Sucursal</th>
                <th  class="col-md-1" style="text-align: center">Usuario solicitante</th>
                {% if type in ['maintenance', 'self.management', 'requisition'] %}
                    <th  class="col-md-1" style="text-align: center">Usuario asignado</th>
                {% endif %}
                <th class="col-md-1" ></th>
                <th  class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
            {% if type in ['requisition', 'self.management', 'maintenance'] %}
                {% set requisition = item %}
                {% include 'requisition/product/_status_grid_requisition_backoffice.twig' %}
            {% elseif type == 'pep' %}
                {% set pep = item %}
                {% include 'pep/_status_grid_pep_backoffice.twig' %}
            {% endif %}
        {% else %}
            {% if empty_text is defined %}
                <tr class="row">
                    <td colspan="{% if is_granted(['ROLE_APPROVER', 'ROLE_SUPPLIER', 'ROLE_BACKOFFICE']) %}10{% else %}9{% endif %}" style="text-align: center">{{ empty_text }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if not hide_view_more %}
        {% if requisitions|length > data_slice and view_more_link is defined %}
            <div class="clearfix">
                <p class="pull-right">Mostrando {{ data_slice }} de {{ requisitions|length }} requerimientos | <a href="{{ view_more_link }}">Ver más +</a></p>
            </div>
        {% endif %}
    {% endif %}
</div>
{% else %}
    <div class="row">
    {% if grid_title is not empty  %}
        <{{ grid_title_tag }}>{{ empty_text }}</{{ grid_title_tag }}>
    {% endif %}
    </div>
{% endif %}


