{% set is_dashboard = app.request.get('_route') == 'dashboard' ? 'page-dashboard':'' %}
{% set is_pdf = app.request.get('_route') == 'requisition_work_order_pdf' %}
{% set is_admin = is_granted('ROLE_ADMIN') ? 'page-admin' : '' %}
<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block head_extra %}{% endblock %}

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title 'BancoEstado Sistema de Requerimientos' %}</title>
    {% block head_stylesheets %}{% endblock %}
    {% if is_admin and not ignore_easyadmin|default(false) %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/featherlight.min.css') }}">
        <link rel="stylesheet" href="{{ path('_easyadmin_render_css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
    {# TODO: Mover a archivo SAAS #}
    <style>
        header > .admin-menu > ul > li.dropdown > ul{
            font-size: 12px !important;
        }
    </style>

    <script src="{{ asset('assets/app.js') }}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="stylesheet" href="{{ asset('bundles/tionvelinterop/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tionvelbidding/css/style.css') }}">
    <script src="{{ asset('bundles/tionvelinterop/js/interop.js') }}"></script>

    {% if is_admin %}
        <script src="{{ asset('bundles/tionvelbidding/js/tionvel.bidding.admin.js') }}"></script>
    {% endif %}

    {% block easyadmin_js_head %}{% endblock %}
</head>

{% set body_data %}
    {% block body_data %}{% endblock %}
{% endset %}

<body id="{% block body_id %}{% endblock %}" style="padding-top:0!important"
      class="{% block body_cls %}{% endblock %} {{- is_admin -}} {{- is_dashboard -}}" {{ body_data|raw }}>
	{% block body %}
	{% endblock %}
    {#{% if app.environment in ['stage','dev'] and is_pdf is defined and is_pdf != 'true' %}#}
        {#{% include 'stage_message.twig' %}#}
    {#{% endif %}#}
    {# mostrar_popup() #}

    {% if is_admin %}
        {% for js_asset in easyadmin_config('design.assets.js') %}
            <script src="{{ asset(js_asset) }}"></script>
        {% endfor %}

        <script src="{{ asset('bundles/easyadmin/javascript/jquery.featherlight.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.17.0/js/jquery.fileupload.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    {% endif %}

    {% block body_javascript %}{% endblock %}

    {% if not is_pdf %}
        {% if google_analytics_id is not empty %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ google_analytics_id }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        {% if is_admin %}
            <script>
                CKEDITOR.replace( 'product[instructions]' );
            </script>
        {% endif %}
    {% endif %}
</body>
</html>
