{% spaceless %}
    {% if is_granted('ROLE_ADMIN') %}
        <style>
            .sidebar-catalogo ul {  padding-left: 0!important;  }
            .sidebar-catalogo ul li { margin-bottom: 0!important;  }
        </style>
    {% endif %}

    {% set menu = knp_menu_get('category', [], { category: category }) %}
    {% set depth = category.parent is null ? 2 : 1000 %}
    {{ knp_menu_render(menu, { currentAsLink: false, depth: depth }) }}
{% endspaceless %}
