{% extends 'base.twig' %}

{% block body %}
    {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<div class="admin-menu row">#}
            {#{{ knp_menu_render('admin', { currentAsLink: false }) }}#}
        {#</div>#}
    {#{% endif %}#}

    {% include 'header.twig' %}

    <div class="container main-content">
        <div class="row breadcrumbs">
            {{ apy_breadcrumb_trail_render() }}
        </div>

        {% include '_partial/flashes.twig' %}

        {% block main_content %}{% endblock %}
    </div>

    {% include 'footer.twig' %}
{% endblock body %}