{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block _requisition_attachment_widget %}
    {% for attachment in form.vars.data %}
        <p>
            <a href="{{ asset('download/' ~ attachment.path) }}">{{ attachment.name }}</a>
        </p>
    {% endfor %}
    {{ block('form_widget') }}
{% endblock %}

{% block _pep_validation_companies_entry_documents_entry_widget %}
<div class="documents_widget">
    {% for filename, path in form.vars.data %}
       <a href="{{ asset('download/' ~ path) }}">{{ filename }}</a>
    {% else %}
        {{ block('form_widget') }}
    {% endfor %}
</div>
{% endblock %}

{% block _work_validation_files_entry_document_widget %}
    {% for filename, path in form.vars.data %}
       <a href="{{ asset('download/' ~ path) }}" style="display:block;margin-top:7px">{{ filename }}</a>
    {% else %}
        {{ block('form_widget') }}
    {% endfor %}
{% endblock %}

{% block _work_validation_files_entry_description_widget %}
    {% if form.vars.data is not null %}
        <p style="padding-top:7px">{{ form.vars.data }}</p>
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endblock %}

{% block _requirement_create_employee_row %}
    <hr />
    <h3>Datos de contacto</h3>
    {{ form_widget(form) }}
{% endblock %}

{% block code_area_phone %}
    <div class="input-group">
        <span class="input-group-addon">+56</span>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _vcards_phone_widget %}
    {{ block('code_area_phone') }}
{% endblock %}

{% block _vcards_fax_widget %}
    {{ block('code_area_phone') }}
{% endblock %}

{% block _vcards_mobile_widget %}
    {{ block('code_area_phone') }}
{% endblock %}

{% block _vcards_contacts_entry_phone_widget %}
    {{ block('code_area_phone') }}
{% endblock %}

{% block form_help -%}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'help' %}
            <small>{{ attrvalue|raw }}</small>
        {% endif %}
    {% endfor %}
{%- endblock form_help %}
 
{% block form_errors -%}
    {{ parent() }}
    {{- block('form_help') -}}
{%- endblock form_errors %}

{% block _requisition_details_cantidad_row %}
<div class="col-md-12">
    <div style="padding:15px;background:#eee;margin:15px 0">
        <label style="font-weight:normal;margin-bottom:0">Cantidad &nbsp; {{ form_widget(form, { attr: { id: 'requisition-qty', style: 'display:inline-block;width:80px'}}) }}</label>
    </div>
</div>
<script>
$(function () {
    if (!$('#requisition_details_cantidad').val()) {
        $('#requisition_details_cantidad').val(1);
    }
});
</script>
{% endblock %}

{% block _requisition_details_comentarios_row %}
<div class="col-md-12">
    <h4>{{ form.vars.label }}</h4>

    {% if form.vars.attr.help is defined %}
        <p>{{ form.vars.attr.help }}</p>
    {% endif %}

    <div>{{ form_widget(form) }}</div>
</div>
{% endblock %}

{% macro inventory_code_type(form) %}
{% spaceless %}
	{{ form_widget(form, { attr: { class: '', style: 'width:100px;margin:0 10px 10px 0;display:inline-block' }}) }}
{% endspaceless %}
{% endmacro %}

{% block _requisition_details_codigo_inventario_row %}
{% import _self as macros %}

<div class="col-md-12">
    {% set triggerId = form.vars.prototype.vars.name ~ '--add' %}

    <h4>Código(s) de inventario</h4>
    <div id="id--inventory-codes" data-prototype="{{- macros.inventory_code_type(form.vars.prototype)|e -}}">
        {% for code in form %}
            {{- macros.inventory_code_type(form) -}}
        {% endfor %}
    </div>

    <button id="{{ triggerId }}" class="btn-add" style="display:none"
        data-target="id--inventory-codes"
        data-proto-name="{{ form.vars.prototype.vars.name }}">Agregar</button>

    <script>
        var $qtyInput = $('#requisition_details_cantidad');
        var $addItem = $('#{{ triggerId }}');
        var $slot = $('#' + $addItem.data('target'));

        var addInventoryCodeInput = function(qty) {
            _(qty.val()).times(function () {
                $addItem.trigger('click');
            });
        };

        $qtyInput.on('change', function() {
            var oldVals = [];

            $slot.find('input').each(function() {
                oldVals.push($(this).val());
            });

            $slot.empty();
            addInventoryCodeInput($(this));

            $slot.find('input').each(function(index) {
                $(this).val(oldVals[index]);
            });
        });

        $(function() {
            {% if not form.parent.parent.vars.value.id %}
                addInventoryCodeInput($qtyInput);
            {% endif %}

            $qtyInput.trigger('change');
        });
    </script>
</div>
{% endblock %}

{% macro _caracteristicas_codigo_inventario_widget(form) %}
{% spaceless %}
	{{ form_widget(form, { attr: { style: 'width:19%;margin:0 1% 5px 0;display:inline-block' }}) }}
{% endspaceless %}
{% endmacro %}

{% macro _caracteristicas_widget(form) %}
    {% import _self as macros %}

    {% set pn = form.parent.vars.prototype.vars.name %}
    {% set proto = form.codigo_inventario.vars.prototype %}
    {% set slotId = 'row-' ~ pn ~ '-inventory-codes' %}
    {% set addId = 'add-' ~ pn ~ '-inventory-codes' %}

    <tr class="removable-item requisition-attrs-item">
        <td>
            {{ form_widget(form.cantidad, { attr: { 'data-target': slotId, 'data-trigger': addId }}) }}
            <a id="{{ addId }}" class="btn-add" style="display:none" data-target="{{ slotId }}" data-proto-name="{{ proto.vars.name }}"></a>
        </td>

        <td>
            <div id="{{ slotId }}" data-prototype="{{ macros._caracteristicas_codigo_inventario_widget(proto)|e }}">
                {% for ic in form.codigo_inventario %}
                    {{- macros._caracteristicas_codigo_inventario_widget(ic) -}}
                {% endfor %}
            </div>
        </td>

        <td>{{ form_widget(form.color) }}</td>

        {% if form.modelo is defined %}
            <td>{{ form_widget(form.modelo) }}</td>
        {% endif %}

        <td style="padding-top:4px!important;">
            <a class="btn btn-sm btn-primary btn-add btn-row-add-attr">
                <i class="glyphicon glyphicon glyphicon-plus"></i>
            </a>

            <a class="btn btn-sm btn-danger btn-remove-item">
                <i class="glyphicon glyphicon glyphicon-minus"></i>
            </a>
        </td>
    </tr>
{% endmacro %}

{% block _requisition_details_caracteristicas_row %}
    <style type="text/css">
        @-webkit-keyframes blink{0%{border-color:#ededed}100%{border-color:#b94a48}}@-moz-keyframes blink{0%{border-color:#ededed}100%{border-color:#b94a48}}@keyframes blink{0%{border-color:#ededed}100%{border-color:#b94a48}}.tokenfield{height:auto;min-height:34px;padding-bottom:0}.tokenfield.focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.tokenfield .token{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:inline-block;border:1px solid #d9d9d9;background-color:#ededed;white-space:nowrap;margin:-1px 5px 5px 0;height:22px;vertical-align:top;cursor:default}.tokenfield .token:hover{border-color:#b9b9b9}.tokenfield .token.active{border-color:#52a8ec;border-color:rgba(82,168,236,.8)}.tokenfield .token.duplicate{border-color:#ebccd1;-webkit-animation-name:blink;animation-name:blink;-webkit-animation-duration:.1s;animation-duration:.1s;-webkit-animation-direction:normal;animation-direction:normal;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.tokenfield .token.invalid{background:0 0;border:1px solid transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border-bottom:1px dotted #d9534f}.tokenfield .token.invalid.active{background:#ededed;border:1px solid #ededed;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.tokenfield .token .token-label{display:inline-block;overflow:hidden;text-overflow:ellipsis;padding-left:4px;vertical-align:top}.tokenfield .token .close{font-family:Arial;display:inline-block;line-height:100%;font-size:1.1em;line-height:1.49em;margin-left:5px;float:none;height:100%;vertical-align:top;padding-right:4px}.tokenfield .token-input{background:0 0;width:60px;min-width:60px;border:0;height:20px;padding:0;margin-bottom:6px;-webkit-box-shadow:none;box-shadow:none}.tokenfield .token-input:focus{border-color:transparent;outline:0;-webkit-box-shadow:none;box-shadow:none}.tokenfield.disabled{cursor:not-allowed;background-color:#eee}.tokenfield.disabled .token-input{cursor:not-allowed}.tokenfield.disabled .token:hover{cursor:not-allowed;border-color:#d9d9d9}.tokenfield.disabled .token:hover .close{cursor:not-allowed;opacity:.2;filter:alpha(opacity=20)}.has-warning .tokenfield.focus{border-color:#66512c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}.has-error .tokenfield.focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-success .tokenfield.focus{border-color:#2b542c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}.tokenfield.input-sm,.input-group-sm .tokenfield{min-height:30px;padding-bottom:0}.input-group-sm .token,.tokenfield.input-sm .token{height:20px;margin-bottom:4px}.input-group-sm .token-input,.tokenfield.input-sm .token-input{height:18px;margin-bottom:5px}.tokenfield.input-lg,.input-group-lg .tokenfield{height:auto;min-height:45px;padding-bottom:4px}.input-group-lg .token,.tokenfield.input-lg .token{height:25px}.input-group-lg .token-label,.tokenfield.input-lg .token-label{line-height:23px}.input-group-lg .token .close,.tokenfield.input-lg .token .close{line-height:1.3em}.input-group-lg .token-input,.tokenfield.input-lg .token-input{height:23px;line-height:23px;margin-bottom:6px;vertical-align:top}.tokenfield.rtl{direction:rtl;text-align:right}.tokenfield.rtl .token{margin:-1px 0 5px 5px}.tokenfield.rtl .token .token-label{padding-left:0;padding-right:4px}
        .table-attributes {margin-bottom:0}
        .table-attributes td {padding:2px!important}
        .table-attributes > thead > tr > th:last-child,
        .table-attributes > tbody > tr > td:last-child {width: 0!important;color:red}
        .table-attributes > tbody > tr:only-child > td:last-child > a.btn-remove-item { display: none }
        .table-attributes > tbody > tr > td:last-child > a.btn-add { visibility: hidden }
        .table-attributes > tbody > tr:last-child > td:last-child > a.btn-add { visibility: visible }
    </style>

    {% import _self as macros %}

    <div class="col-row-12" style="margin-bottom:20px;padding:10px">
        <div style="background:#eee;padding:10px">
            <table class="table table-borderless table-condensed table-attributes" style="border: none">
                <thead>
                    <tr>
                        <th style="width: 5%">Cantidad</th>
                        <th style="width: 50%!important">Código(s) de inventario</th>

                        <th>
                            Color
                            <i class="glyphicon glyphicon-info-sign"
                               style="cursor:pointer;display:inline-block;width:20px;height:20px"
                               aria-hidden="true"
                               data-toggle="tooltip"
                               title="Recuerda seleccionar el color de la silla correspondiente al estándar vigente de tu oficina. Por ejemplo, si en tu oficina todas o la mayoría de las sillas son rojas, debes seleccionar ese mismo color.">
                            </i>
                        </th>

                        {% if form.vars.prototype.modelo is defined %}
                            <th>Modelo</th>
                        {% endif %}

                        <th style="width:9%!important"></th>
                    </tr>
                </thead>
                {% set prototype = form.vars.prototype %}

                <tbody id="id--attrs-options" data-prototype="{{ macros._caracteristicas_widget(prototype)|e }}">
                    {% for attribute in form %}
                        {{- macros._caracteristicas_widget(attribute) -}}
                    {% endfor %}
                </tbody>
            </table>

            <button id="id--add-attrs" class="btn btn-add  btn-warning pull-right" style="display:none"
                data-target="id--attrs-options"
                data-callback="initOptionsRow"
                data-proto-name="{{ prototype.vars.name }}">Agregar</button>
        </div>
    </div>
    <script>
        var $idAddAttrs = $('#id--add-attrs');

        var initOptionsRow  = function () {
            $('#'+ $idAddAttrs.data('target'))
                .find('tr')
                .last()
                .find('.quantity')
                .val(1)
                .trigger('change')
            ;
        };

        var addInventoryCodes = function ($qty) {
            _($qty.val()).times(function () {
                $('#' + $qty.data('trigger')).trigger('click');
            });
        };

        var onQuantityChange = function () {
            var $qty = $(this);
            var $slot = $('#' + $qty.data('target'));

            var oldVals = [];

            $slot.find('input').each(function() {
                oldVals.push($(this).val());
            });

            $slot.empty();
            addInventoryCodes($qty);

            $slot.find('input').each(function(index) {
                $(this).val(oldVals[index]);
            });
        };

        $(function () {
            $(document)
                .on('change', '.quantity', onQuantityChange)
                .on('click', '.btn-row-add-attr', function () {
                    $idAddAttrs.trigger('click');
                })
            ;

            {% if not form.parent.parent.vars.value.id %}
                $idAddAttrs.trigger('click');
            {% endif %}
        });
    </script>
{% endblock %}

{% block _requisition_details_estatura_row %}
    <div class="col-md-4">
        <div><label class="control-label required">Estatura</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_talla_blazer_gillet_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Talla blazer y gillet</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_talla_blusa_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Talla blusa</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_largo_manga_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Largo de manga</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_largo_total_blazer_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Largo total blazer</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_talla_embarazada_row %}
    <style type="text/css">.radio{display: inline}</style>
    <div class="col-md-4 clearfix" style="margin:20px 0">
        <div><label class="control-label required">Talla embarazada</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_talla_pantalon_falda_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Talla pantalón y falda</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_largo_total_pantalon_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Largo total pantalón</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_largo_total_falda_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Largo total falda</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_cantidad_faldas_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Cantidad de faldas</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}

{% block _requisition_details_cantidad_pantalones_row %}
    <div class="col-md-4 clearfix">
        <div><label class="control-label required">Cantidad de pantalones</label></div>
        <div>{{ form_widget(form) }}</div>
        {{- block('form_help') -}}
    </div>
{% endblock %}
