<div class="row">
    <h3>Programa de intervenciones</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th class="table-col-stretch" style="white-space: nowrap">Nro. item</th>
            <th class="table-col-stretch" style="white-space: nowrap">Fecha estimada inicio</th>
            <th>Proyecto</th>
            <th style="white-space: nowrap">Estado de intervención</th>
            <th class="table-col-stretch" style="white-space: nowrap">Fecha estimada término</th>
        </tr>
        </thead>
        <tbody>
        {% for project in data|slice(0, 5) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td style="white-space: nowrap">{{ 'now'|date('d/m/Y') }}</td>
                <td>{{ project[6] }}</td>
                <td>{{ project[7] }}</td>
                <td style="white-space: nowrap">{{ 'now'|date('d/m/Y') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Lista vacía</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if data|length > 5 %}
        {#<p style="text-align: right">Mostrando 5 proyectos de {{ data|length }} | <a href="{{ path('pep_list') }}">Ver más +</a></p>#}
    {% endif %}
</div>