<div id="recaptcha_explained" class="modal fade"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="js-title-step"></h4>
            </div>
            <div class="modal-body">
                <div class="row hide" data-step="1" data-title="¿Qué es esto?">
                    <div class="col-md-12">
                        <div class="jumbotron text-justify">
                            <p>Con el fin de proteger la informaci&oacute;n de los usuarios del Sistema de Requerimientos BancoEstado en l&iacute;nea, hemos implementado la validaci&oacute;n de seguridad <strong>reCAPTCHA</strong>.</p>
                            <p><strong>reCAPTCHA</strong> es un sistema de seguridad de Google que funciona como un detector anti hacker que opera en servicios web y que diferencia entre humanos y bots. Muestra un set  de imágenes o un audio para asegurarse de que, en efecto, el usuario sea una persona.</p>

                            <p>Solo debes seguir las instrucciones y seleccionar los elementos que indique la validaci&oacute;n.</p>
                        </div>
                    </div>
                </div>
                <div class="row hide" data-step="2" data-title="Selecciona el recuadro “No soy un robot”">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="no-padding">
                                <div style="min-height: 69px;">
                                    <p class="text-justify" style="font-size: 1.2em">Seleccionar el recuadro al costado de la frase “No soy un robot” al momento de ingresar los datos de “Iniciar sesión”.</p>
                                </div>
                                <div class="thumbnail">
                                    <img src="{{ asset('assets/img/recaptcha_explained/1.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide" data-step="3" data-title="Opciones para validar">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div style="min-height: 69px;">
                                <p class="text-justify" style="font-size: 1.2em">Se habilitarán un serie de imágenes para validar lo que el formulario requiera, <b>por ejemplo:</b> Selecciona todas las imágenes con automóviles. Debes hacer clic sobre las imágenes con automóviles.</p>
                            </div>
                            <div class="thumbnail">
                                <img src="{{ asset('assets/img/recaptcha_explained/2.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide" data-step="4" data-title="Selección de imágenes">
                    <div class="col-md-12">
                        <div class="text-center" style="margin-bottom: 0;padding-bottom: 0">
                            <div style="min-height: 69px;">
                                <p class="text-justify" style="font-size: 1.2em">Luego de seleccionar las imágenes y revisar que has seleccionado todos los cuadros que contengan autos, presiona el botón <img src="{{ asset('assets/img/recaptcha_explained/verificar-btn.png') }}" alt="VERIFICAR" /></p>
                            </div>
                                <div class="thumbnail">
                                <img src="{{ asset('assets/img/recaptcha_explained/3.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hide" data-step="5" data-title="Validación con éxito">
                    <div class="col-md-12">
                        <div class="text-center no-padding">
                            <div style="min-height: 69px;">
                                <p class="text-justify" style="font-size: 1.2em">Si todo ha sido validado con éxito podrás ingresar y se validará el recuadro “No soy un robot” con un check color verde.
                                Luego podrás “Iniciar Sesión” sin ningún problema.</p>
                            </div>
                            <div class="thumbnail">
                                <img src="{{ asset('assets/img/recaptcha_explained/4.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
                <button type="button" class="btn btn-danger js-btn-step" data-orientation="previous"></button>
                <button type="button" class="btn btn-warning js-btn-step" data-orientation="next"></button>
            </div>
        </div>
    </div>
</div>