{% set all = [] %}

{# Firmas #}
{% if is_granted('ROLE_UNIT_APPROVER') %}
    {% set all = all|merge(unit_appeal) %}
{% endif %}
{% if is_granted('ROLE_STANDARD_APPROVER') %}
    {% set all = all|merge(standard_appeal) %}
{% endif %}

{{ requisition_status_grid(
title_tag = 'h2',
grid_title = 'Solicitudes en apelación'|trans,
requisitions = all,
hide_if_empty = false,
empty_text = 'No tiene solicitudes en el registro',
hide_view_more = true,
attributes = {
    'data-table': true,
    'data-searching': true,
    'data-page-length': 10,
    'data-order': [[0, 'desc']]
})
}}
