{% set all = [] %}

{% if is_granted('ROLE_APPROVER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('approver.cert')) %}
{% endif %}

{% if is_granted('ROLE_SUPPLIER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('supplier.cert')) %}
{% endif %}

{% if is_granted('ROLE_REQUESTER') %}
    {% set all = all|merge(dashboard_query_aggregator.getQueryResult('requester.pending')) %}
{% endif %}

{{ requisition_status_grid(
title_tag = 'h2',
grid_title = 'Solicitudes por certificar'|trans,
requisitions = all,
hide_if_empty = false,
empty_text = 'No tiene solicitudes en el registro',
hide_view_more = true,
attributes = {
    'data-table': true,
    'data-searching': true,
    'data-page-length': 10,
    'data-order': [[0, 'desc']]
})
}}
