<div class="row">
    <div class="col-md-12">

        <h3>Validación de Proveedores PEP
            <i class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" title="{{ 'validacion_proveedores_pep_help'|trans }}"></i>
        </h3>

        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th class="table-col-stretch" style="white-space: nowrap">Nro. Formulario</th>
                <th class="table-col-stretch" style="white-space: nowrap">Fecha de Ingreso</th>
                <th>Descripción</th>
                <th class="table-col-stretch">Estado</th>
                <th class="table-col-stretch"></th>
            </tr>
            </thead>
            <tbody>
            {% for pep in pepData|slice(0, 5) %}
                {% set routes = {
                    'pep.created': 'pep_register',
                    'pep.validated': 'pep_checkout',
                    'pep.accepted': 'pep_selection',
                    'pep.granted': 'pep_grant_preview'
                } %}
                {% set detail = path(routes[pep.status], { id: pep.id }) %}
                <tr>
                    <td><a href="{{ detail }}">{{ pep.formNumber }}</a></td>
                    <td style="white-space: nowrap">{{ pep.createdAt|date('d/m/Y') }}</td>
                    <td>{{ pep.shortDescription }}</td>
                    <td>{{ pep.status|trans }}</td>
                    <td><a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aún no tiene validaciones de proveedores PEP en proceso</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pepData|length > 5 %}
            <p style="text-align: right">Mostrando 5 solicitudes de {{ pepData|length }} | <a href="{{ path('pep_list') }}">Ver más +</a></p>
        {% endif %}
    </div>
</div>
