{% set types = ['requisition.product','requisition.self_management','requisition.maintenance'] %}

<div id="modal-report-bi-by-type" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reportes por tipos de solicitud</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4"><strong>Tipo de reporte</strong></div>
                    <div class="col-lg-8">
                        <select name="report-type" id="report-type" class="select2">
                            {% for type in types %}
                                <option value="{{ type|replace({'requisition.': ''}) }}">
                                    {{ type|trans }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% for type in types %}
                    <div class="row div_select" style="padding-top: 5px;{% if not loop.first %}display: none {% endif %}" data-type="{{ type|replace({'requisition.': ''}) }}" data-sel="select">
                        <div class="col-lg-4"><strong>{{ type|trans }}</strong></div>
                        <div class="col-lg-8">
                            <select class="report_by_type"  id="report-type_{{ type|replace({'requisition.': ''}) }}">
                                {% for timestamp, report in reports_repository.findByType(type|trans)|reverse(true) %}
                                    <option value="{{ path('report_bi_by_type_download', { filename: report }) }}" {% if loop.first %}selected="selected" {% endif %}>
                                        {{ timestamp|date('d/m/Y H:i:s') }} [{{ report }}]
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}

                <div class="container-fluid" style="margin-top: 10px;;color: #666">
                    <p>Estimado usuario:</p>
                    <p>Para visualizar el reporte debe seguir las siguientes instrucciones:</p>
                    <ol>
                        <li style="margin-bottom: 0"> Descargar el archivo y abrir con Excel.</li>
                        <li style="margin-bottom: 0">Seleccionar la primera columna del archivo.</li>
                        <li style="margin-bottom: 0">En el menú pulsar “Datos” > “Texto en columnas”.</li>
                        <li style="margin-bottom: 0">Seleccionar “Delimitados” y continuar.</li>
                        <li style="margin-bottom: 0">Seleccionar “Punto y coma” y Finalizar.</li>
                    </ol>
                    Si requiere más apoyo contáctenos:  <a href="mailto:dperez8@bancoestado.cl">Daniela Pérez</a> o <a href="mailto:cmaiza@bancoestado.cl">Cristóbal Maiza</a>.
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                <button id="download-report-type" data-loading-text="Generando documento..." class="btn btn-primary">Descargar</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    var selectedType = 'product';

    $('.report_by_type').select2({
        theme: 'bootstrap'
    });
    $('#report-type').select2({
        theme: 'bootstrap'
    });

    $('#report-type').on('change', function (e) {
        selectedType = $(this).val();
        $('.div_select').hide();
        $('div[data-type="'+selectedType+'"]').show();
    });

    $('a[href$="#reports_bi_by_type"]').on('click', function (e) {
        e.preventDefault();
        $('#modal-report-bi-by-type').modal('show');
    });

    $('#download-report-type').on('click', function (e) {
        e.preventDefault();
        var url = $('#report-type_'+selectedType).find('option:selected').val();
        if (url) {
            window.location.href = url;
        }
    });
});
</script>