<div id="modal-report-message" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Generación reporte general</h4>
            </div>
            <div class="modal-body">
                <p>Su reporte estará disponible en unos minutos en la lista de reportes diarios.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-warning">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('a[href$="reports_bi_general_cmmd"]').on('click', function (e) {
            e.preventDefault();
            $('#modal-report-message').modal('show');

            $.get("{{ path('report_general_comando') }}").done(function (data) {
            });

            $('#modal-report-message').on('hidden.bs.modal', function () {
                location.reload();
            })
        });
    });
</script>