<div id="modal-report-bi-general-daily" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reporte BI General Diario</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="position: relative">
                    <select name="report_id" id="report-id">
                        {% for timestamp, report in reports_repository.findAll()|reverse(true) %}
                            <option value="{{ path('report_bi_general_daily_download', { filename: report }) }}">
                                {{ timestamp|date('d/m/Y H:i:s') }} [{{ report }}]
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="container-fluid" style="margin-top: 10px;;color: #666">
                    <p>Estimado usuario:</p>
                    <p>Para visualizar el reporte debe seguir las siguientes instrucciones:</p>
                    <ol>
                        <li style="margin-bottom: 0"> Descargar el archivo y abrir con Excel.</li>
                        <li style="margin-bottom: 0">Seleccionar la primera columna del archivo.</li>
                        <li style="margin-bottom: 0">En el menú pulsar “Datos” > “Texto en columnas”.</li>
                        <li style="margin-bottom: 0">Seleccionar “Delimitados” y continuar.</li>
                        <li style="margin-bottom: 0">Seleccionar “Punto y coma” y Finalizar.</li>
                    </ol>
                    Si requiere más apoyo contáctenos:  <a href="mailto:dperez8@bancoestado.cl">Daniela Pérez</a> o <a href="mailto:cmaiza@bancoestado.cl">Cristóbal Maiza</a>.
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                <button id="download-report" data-loading-text="Generando documento..." class="btn btn-primary">Descargar</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    $('#report-id').select2({
        theme: 'bootstrap'
    });

    $('a[href$="reports_bi_general_daily"]').on('click', function (e) {
        e.preventDefault();
        $('#modal-report-bi-general-daily').modal('show');
    });

    $('#download-report').on('click', function (e) {
        e.preventDefault();

        var url = $('#report-id').find('option:selected').val();

        if (url) {
            window.location.href = url;
        }
    });
});
</script>