<div style="width:600px;margin:0 auto;background:#ecebed;font-size:16px;line-height:1.3em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
        <div style="padding:20px;color:#666">
            <p>{% block greeting %}{% endblock %}</p>
            <div style="margin:40px 0">{% block content %}{% endblock %}</div>
        </div>
        <p>
            {% block signature %}
                {% if channel != 'email' %}
                    Saluda atentamente, <br/>Gerencia Logística.
                {% endif %}
            {% endblock %}
        </p>

        {% block contentEmail %}{% endblock %}

</div>
