<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Aceptación masiva de solicitudes</title>
</head>

<body>
<div style="width:600px;margin:0 auto;background:#ecebed;font-size:16px;line-height:1.3em;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
<table width="600" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="20" bgcolor="#595252"></td>
        <td width="562" align="center" valign="middle" bgcolor="#595252"><img src="{{ absolute_url(asset('assets/img/emails/email_logo.png')) }}" width="148" height="44" alt="Banco Estado" /></td>
        <td width="20" bgcolor="#595252">&nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="272" background=""></td>
        <td align="center">
            <br />

            <p><img src="{{ absolute_url(asset('assets/img/emails/email_bell.png')) }}" width="34" height="37" alt="Notify" /></p>
            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:1.2em; ">Ha aceptado múltiples solicitudes</h1>
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:1em; ">Ha aceptado {{ data.quantity }} solicitudes y ahora se encuentran en proceso en la plataforma de Requerimientos Logísticos de BancoEstado.</p>
            <br />

            <a href="{{ absolute_url(path('dashboard')) }}" style="background:#F90; color:#FFF; text-decoration:none; padding:10px 35px; display:inline-block; font-family:Arial, Helvetica, sans-serif;">Ingresar al sistema</a><br /><br />
        </td>
        <td width="20" background="">&nbsp;</td>
    </tr>
    <tr>
        <td width="20" height="33" background=""></td>
        <td height="33" background="" style="background-position:top">&nbsp;</td>
        <td width="20" height="33" background="">&nbsp;</td>
    </tr>
</table>
</div>
</body>
</html>