{% extends 'notification/templates/layout.twig' %}
{% set receiver_roles = message.receiver.roles %}

{% if 'ROLE_SUPPLIER' in receiver_roles %}
    {% set username = data.supplier.username %}
{% endif %}
{% if 'ROLE_APPROVER' in receiver_roles %}
    {% set username = data.approver.username %}
{% endif %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado usuario
    {% endif %}
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        <p>La solicitud no ha sido recepcionada.</p>
        <p>Para revisar la solicitud <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}

{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email.product.returned.twig' %}
    {% endif %}
{% endblock %}