{% extends 'notification/templates/layout.twig' %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado evaluador:
    {% endif %}
{% endblock %}
{% block content %}
    {% if channel != 'email' %}
        <p>A través de este mensaje queremos informarte que tienes una evaluación de bien y/o servicio
            pendiente.</p>
        <p>Recuerda que hay un SLA comprometido para responder la solicitud. Para acceder a este requerimiento, <a
                    href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic
                aquí</a>.</p>
    {% endif %}
{% endblock %}
{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email.product.created.twig' %}
    {% endif %}
{% endblock %}
