{% extends 'notification/templates/layout.twig' %}

{% set receiver_roles = message.receiver.roles %}
{% if 'ROLE_REQUESTER' in receiver_roles %}
    {% set username = data.requester.username %}
{% endif %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado usuario:
    {% endif %}
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        <p>La solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue rechazada por el proveedor del bien y/o servicio.</p>
        <p>Para revisar los motivos del rechazo <a href="{{ absolute_url(path('requisition_detail', { id: data.requisition.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}

{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email.product.declined.twig' %}
    {% endif %}
{% endblock %}
