{% extends 'notification/templates/layout.twig' %}

{% set username = data.requester.username %}

{% block greeting %}
    {% if channel != 'email' %}
        Estimado demandante:
    {% endif %}
{% endblock %}

{% block content %}
    {% if channel != 'email' %}
        <p>Una solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue rechazada definitivamente por el evaluador.</p>
        <p>Para revisar los motivos del rechazo <a href="{{ absolute_url(path('solicitud_especial_detalle', { id: data.request.id })) }}">haz clic aquí</a></p>
    {% endif %}
{% endblock %}

{% block contentEmail %}
    {% if channel == 'email' %}
        {% include 'notification/templates/email_special_request/email.special.request.rejected_final.twig' %}
    {% endif %}
{% endblock %}