{% extends 'notification/templates/layout.twig' %}

{% block greeting %}
    Estimado evaluador:
{% endblock %}

{% block content %}
    <p>Una solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue apelada por el usuario.</p>
    <p>Para revisar el detalle de la solicitud <a href="{{ absolute_url(path('vcards_detalle', { id: data.requisition.id })) }}">haz clic aquí</a></p>
{% endblock %}