{% extends 'notification/templates/layout.twig' %}

{% block greeting %}
    Estimado Proveedor:
{% endblock %}

{% block content %}
    <p>Una solicitud fue ingresada al Sistema de Requerimientos de BancoEstado por el evaluador.</p>
    <p>Para revisar el detalle de la solicitud <a href="{{ absolute_url(path('vcards_detalle', { id: data.requisition.id })) }}">haz clic aquí</a></p>
{% endblock %}