{% extends 'notification/templates/layout.twig' %}

{% block greeting %}
    Estimado demandante:
{% endblock %}

{% block content %}
    <p>Una solicitud que ingresaste al Sistema de Requerimientos de BancoEstado fue certificada por el proveedor.</p>
    <p>Para revisar el detalle <a href="{{ absolute_url(path('vcards_detalle', { id: data.requisition.id })) }}">haz clic aquí</a></p>
{% endblock %}