<div class="manual">
    <h3>Manual de ambientes</h3>
    {#<p>Contiene los distintos tipos de mantenciones que efectúa la Gerencia Logística, a todas las sucursales y edificios matrices de BancoEstado.</p>#}

    {% set manual = get_special_office_config('manual') %}
    {% set url = asset('assets/static/'~ manual) %}

    <a href="{{ url }}" class="btn btn-warning" download>
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Descargar
    </a>
</div>