<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Descripción</a>
    </li>
    <li role="presentation">
        <a href="#technical-specs" aria-controls="technical-specs" role="tab" data-toggle="tab">Ficha Técnica</a>
    </li>
    <li role="presentation">
        <a href="#apply-specs" aria-controls="apply-specs" role="tab" data-toggle="tab">Material de Apoyo</a>
    </li>
</ul>

<div class="tab-content producto-tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">{{ product.description|nl2br }}</div>
    <div role="tabpanel" class="tab-pane" id="technical-specs">{{ product.technicalSpecs }}</div>
    <div role="tabpanel" class="tab-pane" id="apply-specs">{{ product.applySpecs }}</div>
</div>