<div class="col-md-3 sidebar-catalogo">
    <div class="sidebar sidebar-nav">
        <h3 class="sidebar-nav__titulo">
            {% set entity = product is defined ? product : category %}
            {{ ('catalog_title.' ~ requisition_type_resolver.getType(entity))|trans }}
        </h3>
        {% if category.id is defined %}
            <nav>
                {{ render_hinclude(url('display_cat_menu', { id: category.id })) }}
            </nav>
        {% endif %}
    </div>


    {% if get_special_office_config('manual') is not null %}
        {% include 'requisition/product/_manual_special_office.twig' %}
    {% else %}
        {% include 'requisition/product/_manual.twig' %}
    {% endif %}


</div>