{% set detail = path('requisition_detail', { id: requisition.id }) %}

{% set status = requisition.status %}
{% set contract = requisition.contract %}
{% set declined = requisition.metadata('declined') %}
{% set declined = requisition.metadata.declined|default([]) %}
{% set hide_actions = app.user.id in declined %}

<tr data-assignee="{{ requisition.assignee ? requisition.assignee.username : 'none' }}"
    data-requisition-uid="{{ requisition.id }}"
    data-requisition-status="{{ requisition.status }}"
    data-requisition-duedate="{{ requisition.stateDuedate|date('d/m/Y H:i:s') }}"

        {% if requisition.centralized %}
            data-requisition-approver="{{ requisition.product.approver.username|default('-') }}"
        {% endif %}

    data-requisition-metadata="{{ requisition.metadata|json_encode }}"
    data-requisition-transitions="{{ requisition.transitions|json_encode }}"
>
    <td>
        {% if hide_actions %}
            {{ requisition.number }}
        {% else %}
            {% if requisition.type == 'special_request' %}
                <a href="{{ path('solicitud_especial_detalle', { id: requisition.id }) }}">{{ requisition.number }}</a>
            {% elseif requisition.type == 'requisition.product.vcard' %}
                <a href="{{ path('vcards_detalle',  { id: requisition.id }) }}">{{ requisition.number }}</a>
            {% else %}
                <a href="{{ detail }}">{{ requisition.number }}</a>
            {% endif %}
        {% endif %}
    </td>
    <td>{{ requisition.type|trans }}</td>
    <td>{{ requisition.product.name }}</td>

    {% if is_granted(['ROLE_APPROVER', 'ROLE_SUPPLIER']) %}
        <td>{{ requisition.contract.office.name }}</td>
    {% endif %}

    <td style="text-align: center">{{ requisition.contract.costCenter }}</td>

    {% set wo = requisition.metadata['work_order']|default('') %}

    {% set work_order_link %}
        {%- if is_granted(['ROLE_SUPPLIER', 'ROLE_APPROVER']) or (is_granted('ROLE_REQUESTER') and not requisition.contract.centralized) -%}
            <a href="{{ path('requisition_work_order', { id: requisition.id }) }}">{{ wo }}</a>
        {%- else -%}
            {{ wo }}
        {%- endif -%}
    {% endset %}

    <td style="text-align: center">
        {% if app.user.id not in declined %}
            {{ work_order_link }}
        {% endif %}
    </td>

    <td style="text-align: center">
        {{ requisition_timer(requisition, 'started') }}
    </td>

    <td style="text-align: center">
        {{ requisition_timer(requisition, 'response') }}
    </td>

    {% if not is_granted('ROLE_SUPPLIER') %}
    <td style="text-align: center">
        {{ requisition_timer(requisition, 'completion') }}
    </td>
    {% endif %}

    <td style="text-align: center"  {% if not is_granted(['ROLE_REQUESTER']) %} data-order="{{ sla_to_seconds(requisition) }}" {% endif %}>
        {% if not is_granted(['ROLE_REQUESTER']) %}
            {{ sla_indicator_x(requisition) }}
        {% endif %}
    </td>

    <td style="text-align: center">
        {% if hide_actions %}
            Rechazada
        {% else %}
            {% set type = requisition.type|replace({'requisition.':''}) %}
            {% set centralized = requisition.contract.centralized ? 'centralized' : 'descentralized' %}
            {% set caption = null ?: requisition.status ~ '.' ~ type ~ '.' ~ centralized %}
            {{- caption|trans -}}
            <br>
            {%- if app.environment in ['dev', 'qa', 'stage'] -%}
                {% if requisition.assignee %}
                    {%- if app.user == requisition.assignee -%}
                        <a class="btn btn-default btn-xs">(&#8614;&nbsp;{{- requisition.assignee.username -}})</a>
                    {%- else -%}
                        {{- impersonate_user(requisition.assignee) -}}
                    {%- endif -%}
                {% else %}
                    (No asignado)
                {% endif %}
            {%- endif -%}
        {% endif %}
    </td>
    <td>
        {% if hide_actions %}
            <button class="btn btn-sm" disabled>Revisar</button>
        {% else %}
            {% if requisition.type == 'special_request' %}
                <a href="{{ path('solicitud_especial_detalle', { id: requisition.id }) }}"
                   class="btn btn-sm btn-warning">Revisar</a>
            {% elseif requisition.type == 'requisition.product.vcard' %}
                <a href="{{ path('vcards_detalle',  { id: requisition.id }) }}"
                   class="btn btn-sm btn-warning">Revisar</a>
            {% else %}
                <a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a>
            {% endif %}
        {% endif %}
    </td>
    <td>
        <strong>
            {% if status == 'product.completed' and requisition.hasProblems() and is_granted('ROLE_SUPPLIER') %}
                Reparos
            {% elseif status == 'product.returned' %}
                Rectificar
            {% elseif hide_actions %}
                Rechazada
            {% else %}
                {{ requisition.getInboxStatus(app.user)|trans }}
            {% endif %}
        </strong>
    </td>
</tr>
