{% form_theme work_validation 'form_theme.twig' %}

{% if requisition.status in ['product.delivered', 'product.returned'] and is_granted(['ROLE_SUPPLIER', 'ROLE_APPROVER']) %}

    {% set action = requisition.status == 'product.returned' ?
        'requisition_revalidate' : 'requisition_confirm' %}

    {% set accepted = requisition.getTransition('product.accepted') %}

    <div class="row work-order-files">
        {{ form_start(work_validation, {
            attr: { id: 'form-confirm' },
            action: path(action, { id: requisition.id })
        }) }}

            <h4>Certificación de trabajo</h4>
            <div style="padding: 20px;background-color: #eee">
		<div class="form-group">
                    {{ form_label(work_validation.delivered_at) }}
		    <div style="{% if not is_granted([ 'ROLE_APPROVER'])%}display:none{% endif %}">{{ form_widget(work_validation.delivered_at) }}</div>

            {% if not is_granted([ 'ROLE_APPROVER'])%}
                <div class="col-sm-10">
                    <span style="display:block;padding:15px 0">{{ requisition.getTransition('product.confirmed').datetime|default('now')|date('d-m-Y H:i:s') }}</span>
                </div>
            {% endif %}
		</div>

                {% if not work_validation.delivered_at.vars.attr.readonly %}
                    <script>
                        $(function() {
                           $('#work_validation_delivered_at_date').datepicker({
                               autoclose: true,
                               format: 'dd/mm/yyyy',
                               orientation: 'bottom',
                               language: 'es',
                               startDate: new Date('{{ requisition.createdAt|date('Y-m-d H:i:s') }}'),
                               endDate: new Date
                           });
                        });
                    </script>
                {% endif %}

                <div id="work-files" data-prototype="{{ form_widget(work_validation.files.vars.prototype)|e }}">
                    {% for file in work_validation.files %}
                        {{ form_widget(file) }}
                    {% endfor %}
                </div>

                <button id="add-validation-type-action"
                    class="btn btn-add btn-warning"
                    data-target="work-files"
                    data-proto-name="__validation_files__">Agregar comentario y/o documento</button>

                {% set evaluation = metadata['evaluation'] ?? null %}

                {% if evaluation is not null %}
                    {# BC fix #}
                    {% if evaluation is iterable and evaluation['evaluation'] is defined %}
                        {% set evaluation = [evaluation] %}
                    {% endif %}

                    <div class="meta-block" style="margin-top:20px;margin-bottom:-20px">
                        <h3>Certificación anterior</h3>
                        {% for eval in evaluation %}
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th colspan="2">#{{ loop.index }}</th>
                                </tr>
                                <tr>
                                    <th><strong>Fecha y hora</strong></th>
                                    <td>{{ eval.evaluated_at|date('d/m/Y H:i') }}</td>
                                </tr>
                                <tr>
                                    <th><strong>Recepción</strong></th>
                                    <td>{{ eval.evaluation|trans }}</td>
                                </tr>
                                {% if eval.comment is not empty %}
                                    <tr>
                                        <th><strong>Comentarios</strong></th>
                                        <td>{{ eval.comment }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if metadata['more_info'] is defined and requisition.type == 'requisition.product' %}
                    <div class="meta-block" style="margin-top:20px">
                        <h3>Solicitud de información adicional para evaluador</h3>
                        <table class="table table-striped">
                            <tbody>
                                {% for ask in metadata.more_info %}
                                    <tr>
                                        <th colspan="2">#{{ loop.index }}</th>
                                    </tr>
                                    <tr>
                                        <th><strong>Fecha y hora</strong></th>
                                        <td>{{ ask.timestamp|date('d/m/Y H:i') }}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Comentarios</strong></th>
                                        <td>{{ ask.comments }}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Respuesta</strong></th>
                                        <td>{{ form_widget(work_validation.children['more_info_' ~ loop.index0]) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        {{ form_rest(work_validation) }}
    </div>
{% endif %}
