{% set detail = path('requisition_detail',  { id: requisition.id }) %}
{% set dashboard = path('dashboard') %}

{% if requisition.status == 'product.created' and is_granted('ROLE_APPROVER') %}
    {% include 'requisition/product/action/created.twig' %}

{% elseif requisition.status == 'product.ordered' and is_granted('ROLE_APPROVER') %}

    {% include 'requisition/product/action/_purchase_order.twig' %}
    {% include 'requisition/product/action/_approver_close_modal.twig' %}

    <div class="row">
        {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
            <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
        {% endif %}
    </div>
{% elseif requisition.status == 'product.accepted' and is_granted('ROLE_APPROVER') %}

    {% include 'requisition/product/action/_purchase_order.twig' %}
    {% include 'requisition/product/action/_approver_close_modal.twig' %}

    <div class="row">
        {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
            <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
        {% endif %}
    </div>

{% elseif requisition.status == 'product.rejected' and is_granted('ROLE_REQUESTER') %}
    {% set appl  = path('requisition_proceed', { process: 'product', id: requisition.id, step: 'appeal'}) %}
    {% set close = path('requisition_proceed', { process: 'product', id: requisition.id, step: 'close' }) %}

    <div class="row pull-right">
        <button id="appeal"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#modal-appeal"
                data-url="{{ appl }}"
                data-message="Su mensaje ha sido enviado exitosamente"
                data-redirect="{{ detail }}">Apelar</button>

        <button id="close"
                class="btn btn-warning"
                data-url="{{ close }}"
                data-message="Su mensaje ha sido enviado exitosamente. La solicitud será cerrada"
                data-redirect="{{ dashboard }}">Aceptar rechazo</button>
    </div>

    <div id="modal-appeal" class="modal fade" data-redirect="{{ dashboard }}">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(appeal, {
                    attr: { id: 'form-appeal' },
                    action: path('product_appeal', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Apelación</h4>
                </div>
                <div class="row modal-body col-condensed">
                    {{ form_row(appeal.comment, { label: 'Argumentación', attr: { rows: 5 }}) }}
                    {{ form_row(appeal.files, { label: 'Adjuntar documentos' }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(appeal) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#close').on('click', function () {
            var btn = $(this);

            $.post(btn.data('url')).done(function () {
                bootbox.alert(btn.data('message'), function() {
                    window.location.replace(btn.data('redirect'));
                });
            });
        });

        $('#form-appeal').on('submit', function (e) {
            e.preventDefault();
            var btn = $('#appeal');

            $.ajax({
                url: $(this).attr('action'),
                data: new FormData($(this).get(0)),
                processData: false,
                contentType: false
            }).done(function () {
                $('#modal-appeal').modal('hide');
                bootbox.alert(btn.data('message'), function() {
                    window.location.replace(btn.data('redirect'));
                });
            });
        });
    </script>

{% elseif requisition.status == 'product.appeal' and is_granted('ROLE_APPROVER') %}

    {% set approve = path('requisition_proceed', { id: requisition.id, process: 'product', step: 'order' }) %}
    {% set change  = path('product_approver_change', { id: requisition.id }) %}
    {% set justify = path('supplier_change_justify', { id: requisition.id }) %}

    {% set slaOrder = requisition.getSla('product.ordered') %}

    {% set message %}
        {%- filter escape -%}
            Recuerde enviar la orden de compra al proveedor dentro de un
            plazo de <strong>{{ slaOrder.value }} {{ slaOrder.type|trans }}</strong>
        {%- endfilter -%}
    {% endset %}

    {% include 'requisition/product/action/_change_supplier.twig' %}

    <div class="row pull-right">

        <button id="change-supplier" class="btn btn-warning">Cambiar proveedor</button>

        <button id="reject-close"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#modal-appeal-reject">Rechazar</button>

        <button id="approve"
                class="btn btn-warning"
                data-justify="{{ justify }}"
                data-url="{{ approve }}"
                data-redirect="{{ dashboard }}"
                data-change="{{ change }}"
                data-message="{{ message }}">Aceptar apelación</button>
    </div>

    <div id="modal-appeal-reject" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(deny, {
                    attr: {
                        id: 'form-appeal-rejection',
                        'data-redirect': dashboard
                    },
                    action: path('product_appeal_reject', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Rechazar apelación</h4>
                </div>
                <div class="modal-body">
                    <div class="row col-condensed">
                        <div class="col-md-5">
                            {{ form_row(deny.reason,  { label: 'Motivo de rechazo'}) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_row(deny.comment, { label: 'Argumentación', attr: { rows: 8 }}) }}
                        </div>
                    </div>
                    {{ form_row(deny.files, { label: 'Adjuntar documentos' }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(deny) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var selector = 'input[type=radio]:checked';
        var form = $('#change-supplier-form').hide();
        var supplier = form.find(selector).val();

        form.find('*[type=submit]').hide();

        $('#change-supplier').on('click', function () {
            $(this).remove();
            $('.contract-detail, .supplier-detail').remove();
            $('#change-supplier-form').show();
        });



        $('#approve').on('click', function () {
            var button = $(this);

            var change = function () {
                var deferred = $.Deferred();

                bootbox.prompt({
                    title: 'Justificación de cambio de proveedor',
                    inputType: 'textarea',
                    buttons: {
                        confirm: {
                            className: 'btn-warning'
                        }
                    },
                    callback: function (value) {
                        if (value == null) return;

                        var data = new FormData();
                        data.append('supplier_change', value);

                        $.ajax({
                            url: button.data('justify'),
                            data: data,
                            processData: false,
                            contentType: false
                        }).done(function() {
                            var data = form.find('form').serialize();
                            $.post(button.data('change'), data).done(function() {
                                deferred.resolve();
                            });
                        });
                    }
                });

                return deferred.promise();
            };

            var accept = function () {
                return $.post(button.data('url'));
            };

            var ok = function () {
                bootbox.alert(button.data('message'), function () {
                    window.location.replace(button.data('redirect'));
                });
            };

            var error = function () {
                bootbox.alert('Ha ocurrido un error al enviar su petición');
            };

            var promise = null;
            if (form.find(selector).val() !== supplier) {
                promise = change().then(accept);
            } else {
                promise = accept();
            }

            promise.done(ok).fail(error);
        });


        /*$('#approve').on('click', function () {
            var button = $(this);

            $.post(button.data('url')).done(function () {
                bootbox.alert(button.data('message'), function() {
                    window.location.replace(button.data('redirect'));
                });
            });
        });*/

        $('#form-appeal-rejection').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);

            $.ajax({
                url: form.attr('action'),
                data: new FormData(form.get(0)),
                processData: false,
                contentType: false
            }).done(function () {
                $('#modal-appeal-reject').modal('hide');
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function() {
                    window.location.replace(form.data('redirect'));
                });
            });
        });
    </script>

{% elseif requisition.status == 'product.denied' and is_granted('ROLE_REQUESTER') and requisition.metadata['response'] is not defined %}

    <div class="row pull-right">
        <button id="response"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#modal-response">Evaluar respuesta</button>
    </div>

    <div id="modal-response" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(response, {
                    attr: {
                        id: 'form-response',
                        'data-redirect': dashboard
                    },
                    action: path('product_response', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Recepción conforme de respuesta</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(response.evaluation, { label: 'Por favor seleccione una alternativa' }) }}
                    {{ form_row(response.comment, {
                        label: 'Ingrese los motivos de por qué no está conforme con la respuesta',
                        attr: { disabled: true }
                    }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(response) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#form-response').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);

            $.post(form.attr('action'), form.serialize()).done(function () {
                $('#modal-response').modal('hide');
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function() {
                    window.location.replace(form.data('redirect'));
                });
            });
        });

        $('[name="product_denied_response[evaluation]"]').on('change', function () {
            var required = $(this).val() == 'denied_dont';
            $('#product_denied_response_comment')
                .attr('required', required)
                .attr('disabled', !required)
                .val('');
        });

    </script>

{% elseif requisition.status == 'product.declined' %}
    {% include 'requisition/product/action/declined.twig' %}
    {% if is_granted('ROLE_APPROVER')%}
        {% include 'requisition/product/action/_approver_close_modal.twig' %}
        <div class="row">
            {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
                <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
            {% endif %}
        </div>
    {% endif %}

{% elseif requisition.status == 'product.hold' and is_granted('ROLE_APPROVER') %}
    {% include 'requisition/product/action/hold.twig' %}

{% elseif requisition.status == 'product.denied' and is_granted('ROLE_APPROVER') and requisition.metadata['response'] is defined %}

    {% set close = path('requisition_proceed', { id: requisition.id, process: 'product', step: 'close' }) %}

    <div class="row pull-right">
        <button id="close"
                class="btn btn-warning"
                data-url="{{ close }}"
                data-return="{{ dashboard }}">Cerrar solicitud</button>
    </div>

    <script type="text/javascript">
        $('#close').on('click', function () {
            var button = $(this);

            $.post(button.data('url')).done(function () {
                bootbox.alert('La solicitud ha sido cerrada', function() {
                    window.location.replace(button.data('return'));
                });
            });
        });
    </script>

{% elseif requisition.status == 'product.approved' and is_granted('ROLE_SUPPLIER') %}
    {% form_theme product_service_responsible 'form_theme.twig' %}

    {% set accept = path('requisition_accept', { id: requisition.id }) %}
    {% set detail = path('requisition_detail', { id: requisition.id }) %}
    {% set declined = requisition.metadata.declined_rejection_uid|default('-') %}

    {% set dialog %}
        {%- filter escape -%}
            La orden de trabajo para la solicitud <a href="{{ path('requisition_work_order', { id: requisition.id }) }}">N° {{ requisition.number }}</a>, fue aceptada por usted. Por favor, recuerde despachar el producto o servicio en el plazo estipulado para una buena evaluación.
        {%- endfilter -%}
    {% endset %}

    {% if requisition.type == 'requisition.maintenance' %}
        {{ form_start(product_service_responsible, {
            attr: {
                id: 'form-set-responsible',
                autocomplete: 'off',
                'data-redirect': detail,
                'data-action': accept,
                'data-message': dialog
            },
            action: path('requisition_work_responsible', { id: requisition.id })
        }) }}
        <div class="row meta-block" style="background-color:#f9f9f9;padding:10px;border:1px solid #ccc">
            {{ form_row(product_service_responsible.responsible, {
                label: 'Nombre del responsable del servicio (OBLIGATORIO)'
            }) }}
        </div>
        {{ form_end(product_service_responsible) }}
    {% endif %}

    <div class="row pull-right">
        {% if requisition.product.code == comp_code %}
            <a href="{{ path('compostura_uniforme_ficha', { id: requisition.id }) }}" class="btn btn-warning">
                Descargar ficha de compostura
            </a>
        {% endif %}

        {% if app.user.id != declined and requisition.type != 'requisition.uniform' %}
            <button id="decline"
                    class="btn btn-warning"
                    data-url="{{ dashboard }}"
                    data-target="#modal-decline"
                    data-toggle="modal">Rechazar</button>
        {% endif %}

        <button id="{% if requisition.type == 'requisition.maintenance' %}set-responsible{% else %}accept{% endif %}"
                class="btn btn-warning"
                autocomplete="off"
                data-action="{{ accept }}"
                data-wo="{{ detail }}"
                data-loading-text="Procesando..."
                data-message="{{ dialog }}"
                data-return="{{ dashboard }}">Aceptar solicitud y OT</button>
    </div>

    <div id="modal-decline" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                {{ form_start(decline, {
                    attr: {
                        id: 'form-decline',
                        autocomplete: 'off'
                    },
                    action: path('requisition_decline', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Rechazar solicitud</h4>
                </div>

                <div class="modal-body">
                    {% if decline.reason.vars is defined %}
                        <div class="row col-condensed">
                            <div class="col-md-5">
                                {{ form_row(decline.reason, { label: 'Motivo de rechazo' }) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_row(decline.comment, { label: 'Argumentación', attr: { rows: 8 }}) }}
                            </div>
                        </div>
                    {% else %}
                        <label>Comentarios</label>
                        {{ form_widget(decline.comment, { attr: { rows: 8 }}) }}
                    {% endif %}
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button id="decline-submit" type="submit" class="btn btn-warning" data-loading-text="Procesando...">Enviar</button>
                </div>
                {{ form_end(decline) }}
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var setResponsibleBtn = $('#set-responsible');
        var formSetResponsible = $('#form-set-responsible');
        var inputResponsible = formSetResponsible.find('input[type=text]');
        var declineSubmit = $('#decline-submit');

        $('#accept').on('click', function () {
            var btn = $(this);

            $.post(btn.data('action')).done(function (data) {
                bootbox.dialog({
                    message: sprintf(btn.data('message'), data),
                    buttons: {
                        'Aceptar': {
                            className: 'btn btn-warning',
                            callback: function () {
                                window.location.replace(btn.data('return'));
                            }
                        }
                    }
                });
            });
        });

        function disableSubmitIfInputInvalid () {
            if (!setResponsibleBtn.length) {
                return;
            }

            setResponsibleBtn.attr('disabled', inputResponsible.val().length < 6);
        }

        disableSubmitIfInputInvalid();

        inputResponsible.on('keydown', function () {
            disableSubmitIfInputInvalid.apply();
        });

        setResponsibleBtn.on('click', function () {
            setResponsibleBtn.button('loading');

            $.ajax({
                url: formSetResponsible.attr('action'),
                data: new FormData(formSetResponsible.get(0)),
                processData: false,
                contentType: false
            }).done(function (data) {
                if (validateForm(formSetResponsible, data)) {
                    $.post(formSetResponsible.data('action')).done(function (data) {
                        bootbox.dialog({
                            message: sprintf(formSetResponsible.data('message'), data),
                            buttons: {
                                'Aceptar': {
                                    className: 'btn btn-warning',
                                    callback: function () {
                                        window.location.replace(formSetResponsible.data('redirect'));
                                    }
                                }
                            }
                        });
                    });
                }
            }).always(function () {
                setResponsibleBtn.button('reset');
            });
        });

        $('#form-decline').on('submit', function (e) {
            e.preventDefault();

            declineSubmit.button('loading');
            $.ajax({
                url: $(this).attr('action'),
                data: new FormData($(this).get(0)),
                processData: false,
                contentType: false
            }).done(function () {
                $('#modal-decline').modal('hide');
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                    window.location.replace($('#decline').data('url'));
                });
            }).fail(function () {
                declineSubmit.button('reset');
            });
        });
    </script>

{% elseif requisition.status == 'product.accepted' and is_granted('ROLE_SUPPLIER') %}
    {% include 'requisition/product/action/confirm.twig' %}

{% elseif requisition.status == 'product.delivered' %}

    {% if is_granted('ROLE_SUPPLIER') or app.request.get('_route') == 'requisition_approver_proxy_cert' %}
        <div class="row" style="margin-top:-40px;background-color:#eee;padding:0 20px 20px 0;margin-bottom:20px">
            <button id="confirm"
                    class="btn btn-warning pull-right"
                    data-url="{{ path('requisition_confirm', { id: requisition.id }) }}"
                    data-return="{{ dashboard }}">Confirmar trabajo</button>
        </div>

        <script type="text/javascript">
            $('#confirm').on('click', function () {
                var $button = $(this);
                var $form = $('#form-confirm');

                $.ajax({
                    url: $form.attr('action'),
                    data: new FormData($form.get(0)),
                    processData: false,
                    contentType: false
                }).done(function () {
                    bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                        window.location.replace($button.data('return'));
                    });
                });

                return false;
            });
        </script>
    {% endif %}

    {% if is_granted('ROLE_APPROVER') %}
        {% include 'requisition/product/action/_approver_close_modal.twig' %}

        <div class="row">
            {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
                <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
                <a class="btn btn-warning pull-right" href="{{ path('requisition_approver_proxy_cert', { id: requisition.id }) }}">Certificar</a>
            {% endif %}
        </div>
    {% endif %}
{% elseif requisition.status == 'product.confirmed' and is_granted('ROLE_APPROVER') %}

    {% set accept = path('requisition_proceed', { id: requisition.id, process: 'product', step: 'review' }) %}
    {% set info   = path('requisition_ask_info', { id: requisition.id }) %}

    <div class="row pull-right">
        <button id="accept"
                class="btn btn-warning"
                data-url="{{ accept }}"
                data-redirect="{{ dashboard }}">Aceptar</button>

        <button id="info"
                class="btn btn-warning"
                data-url="{{ info }}"
                data-toggle="modal"
                data-target="#modal-info">Pedir más información</button>
    </div>

    <div id="modal-info" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(more_info, {
                    attr: {
                        id: 'form-more-info',
                        'data-redirect': dashboard
                    },
                    action: info
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Pedir más información al proveedor</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(more_info.comment, {
                        label: 'Comentarios para pedir más información'
                    }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(more_info) }}
            </div>
        </div>
    </div>

    {% include 'requisition/product/action/_approver_close_modal.twig' %}

    <div class="row">
        {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
            <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
            {#<a class="btn btn-warning pull-right" href="{{ path('requisition_approver_proxy_cert', { id: requisition.id }) }}">Certificar</a>#}
        {% endif %}
    </div>

    <script type="text/javascript">
        $('#accept').on('click', function () {
            var button = $(this);

            $.post(button.data('url')).done(function () {
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function() {
                    window.location.replace(button.data('redirect'));
                });
            });
        });

        $('#form-more-info').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);

            $.post(form.attr('action'), form.serialize()).done(function () {
                $('#modal-info').modal('hide');
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function() {
                    window.location.replace(form.data('redirect'));
                });
            });
        });
    </script>

{% elseif requisition.status == 'product.reviewed' and is_granted('ROLE_REQUESTER') and app.request.get('_route') != 'requisition_work_order' %}

    <div class="row pull-right">
        <button id="evaluate"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#modal-evaluate">Certificar servicio</button>
    </div>

    <div id="modal-evaluate" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(evaluation, {
                    attr: {
                        id: 'form-evaluate',
                        'data-redirect': dashboard
                    },
                    action: path('requisition_evaluate', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Conformidad recepción</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(evaluation.evaluation, { label: 'Por favor seleccione una alternativa' }) }}
                    {{ form_row(evaluation.comment, { label: 'Motivo' }) }}

                    <label>Fecha/Hora certficación de recepción</label>
                    <div class="form-group">
                        {{ form_widget(evaluation.evaluated_at) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(evaluation) }}
            </div>
        </div>
    </div>

    <div id="modal-rating" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(supplier_rating, {
                    attr: { id: 'form-rating' },
                    action: path('requisition_rate', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Calificación del servicio</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Por favor califique de 1 a 7 (donde 1 representa una calificación deficiente y 7 una
                        calificación excelente) los siguientes atributos del producto o servicio entregado:
                    </p>

                    <div class="form-group">
                        <label class="control-label">Puntualidad </label>
                        <i title="{{ 'calificacion_puntualidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                        {{ form_widget(supplier_rating.punctuality) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">Calidad </label>
                        <i title="{{ 'calificacion_calidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                        {{ form_widget(supplier_rating.quality) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">Nivel de servicio </label>
                        <i title="{{ 'calificacion_nivel_servicio_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                        {{ form_widget(supplier_rating.service_level) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(supplier_rating) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#work_evaluation_evaluated_at_date').datepicker({
            language: 'es',
            endDate: new Date,
            startDate: new Date('{{ requisition.createdAt|date('Y-m-d H:i:s') }}'),
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        var certForm = $('#modal-evaluate').find('form');
        var reasonText = certForm.find('#work_evaluation_comment');
        reasonText.attr('disabled', true);

        $('#work_evaluation_evaluation').find('input[type=radio]').on('change', function() {
            if ($(this).val() === 'recepcion_conforme') {
                reasonText.attr('disabled', true).val('');
            } else {
                reasonText.attr('disabled', false);
            }
        });

        $('#form-evaluate').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            var selected  = form.find('[name="work_evaluation[evaluation]"]:checked').val();

            $.post(form.attr('action'), form.serialize()).always(function() {
                $('#modal-evaluate').modal('hide');
            }).done(function () {
                bootbox.alert('En proceso de certificación de usuario', function() {
                    if (_.contains(['recepcion_conforme', 'recepcion_con_reparos'], selected)) {
                        $('#modal-rating').modal();
                    } else {
                        window.location.replace(form.data('redirect'));
                    }
                });
            }).fail(function() {
                bootbox.alert('Ha ocurrido un error al enviar su solicitud.');
            });
        });
    </script>

{% elseif requisition.status == 'product.returned' and is_granted('ROLE_SUPPLIER') %}

    <div class="row" style="margin-top:-40px;background-color:#eee;padding:0 20px 20px 0;margin-bottom:20px">
        <button id="certify-again"
                class="btn btn-warning pull-right"
                data-redirect="{{ dashboard }}">Certificar</button>
    </div>

    <script>
        $('#form-confirm').on('submit', function (e) {
            e.preventDefault();

            var form = $(this);
            var button = $('#certify-again');

            $.ajax({
                url: form.attr('action'),
                data: new FormData(form.get(0)),
                processData: false,
                contentType: false
            }).done(function () {
                bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                    window.location.replace(button.data('redirect'));
                });
            });

            return false;
        });
    </script>
{% elseif requisition.status == 'product.evaluated' and is_granted('ROLE_REQUESTER') and app.request.get('_route') != 'requisition_work_order' %}

    <div class="row pull-right">
        <button id="rate" class="btn btn-warning" data-toggle="modal" data-target="#modal-rating">Calificar proveedor</button>
    </div>

    <div id="modal-rating" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(supplier_rating, {
                    attr: { id: 'form-rating' },
                    action: path('requisition_rate', { id: requisition.id })
                }) }}
                <div class="modal-header">
                    <h4 class="modal-title">Calificación del servicio</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Por favor califique de 1 a 7 (donde 1 representa una calificación deficiente y 7 una
                        calificación excelente) los siguientes atributos del producto o servicio entregado:
                    </p>

                    <div class="form-group">
                        <label class="control-label">Puntualidad </label>
                        <i title="{{ 'calificacion_puntualidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                        {{ form_widget(supplier_rating.punctuality) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">Calidad </label>
                        <i title="{{ 'calificacion_calidad_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                        {{ form_widget(supplier_rating.quality) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">Nivel de servicio </label>
                        <i title="{{ 'calificacion_nivel_servicio_help'|trans }}" class="glyphicon glyphicon-info-sign" style="cursor:pointer;display:inline-block;width:20px;height:20px" aria-hidden="true" data-toggle="tooltip" ></i>

                        {{ form_widget(supplier_rating.service_level) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-warning">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                {{ form_end(supplier_rating) }}
            </div>
        </div>
    </div>
{% elseif requisition.status in ['product.returned','product.approved','product.rejected','product.delivered','product.reviewed'] and is_granted('ROLE_APPROVER') %}

    {% if app.request.get('_route') == 'requisition_approver_proxy_cert' %}
        <div class="row" style="margin-top:-40px;background-color:#eee;padding:0 20px 20px 0;margin-bottom:20px">
            <button id="confirm"
                    class="btn btn-warning pull-right"
                    data-url="{{ path('requisition_confirm', { id: requisition.id }) }}"
                    data-return="{{ dashboard }}">Confirmar trabajo</button>
        </div>

        <script type="text/javascript">
            $('#confirm').on('click', function () {
                var $button = $(this);
                var $form = $('#form-confirm');

                $.ajax({
                    url: $form.attr('action'),
                    data: new FormData($form.get(0)),
                    processData: false,
                    contentType: false
                }).done(function () {
                    bootbox.alert('Su mensaje ha sido enviado exitosamente', function () {
                        window.location.replace($button.data('return'));
                    });
                });

                return false;
            });
        </script>
    {% endif %}

    {% include 'requisition/product/action/_approver_close_modal.twig' %}

    <div class="row">
        {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
            <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
            {% if requisition.status not in ['product.approved','product.rejected','product.delivered','product.reviewed'] %}
                <a class="btn btn-warning pull-right" href="{{ path('requisition_approver_proxy_cert', { id: requisition.id }) }}">Certificar</a>
            {% endif %}
        {% endif %}
    </div>
{% elseif is_granted('ROLE_APPROVER') and  requisition.status in ['product.accepted','product.ordered','product.evaluated']%}
    {% include 'requisition/product/action/_approver_close_modal.twig' %}

    <div class="row">
        {% if app.request.get('_route') != 'requisition_approver_proxy_cert' %}
            <a class="btn btn-warning pull-left" data-toggle="modal" data-target="#modal-approver-close">Cerrar Requerimiento</a>
        {% endif %}
    </div>

{% elseif is_uniform and requisition.status in ['product.completed','product.timeout'] and requisition.product.code != comp_code %}
    <div class="row pull-right">
        {% if is_granted('ROLE_REQUESTER') %}
            <a href="{{ path('compostura_uniforme', { id: requisition.id }) }}" class="btn btn-warning">Enviar uniforme a compostura</a>
        {% endif %}
        <a href="{{ dashboard }}" class="btn btn-warning">Volver al inicio</a>
    </div>
{% else %}
    <div class="row pull-right">
        {% if is_supplier and status in ['product.accepted', 'product.delivered', 'product.returned','product.confirmed','product.completed','product.reviewed','product.timeout'] %}
            <a href="{{ path('requisition_work_order_pdf', { id: requisition.id }) }}" target="_blank" class="btn btn-warning">Revisar orden de trabajo</a>
        {% endif %}
        {% if requisition.product.code == comp_code %}
            <a href="{{ path('compostura_uniforme_ficha', { id: requisition.id }) }}" class="btn btn-warning">
                Descargar ficha de compostura
            </a>
        {% endif %}
        <a href="{{ dashboard }}" class="btn btn-warning">Volver al inicio</a>
    </div>
{% endif %}

