{% extends 'layout.twig' %}
{% block body_id 'requisitions_index' %}

{% block main_content %}

    {% set titles = {
        'all': 'Estado de solicitudes',
        'requester.open': 'Solicitudes abiertas',
        'requester.history': 'Histórico de solicitudes',
        'requester.pending': 'Solicitudes pendientes de certificación'
    } %}

    {% if data == 'all' %}
        {% if is_granted('ROLE_REQUESTER') %}
            {% set key = 'requester.all' %}
        {% elseif is_granted('ROLE_SUPPLIER') %}
            {% set key = 'supplier.all' %}
        {% elseif is_granted('ROLE_APPROVER') %}
            {% set key = 'approver.all' %}
        {% endif %}
    {% else %}
        {%- set key = data -%}
    {% endif %}

    {{ requisition_status_grid(
        title_tag = 'h2',
        grid_title = (key ~ '.key')|trans,
        requisitions = dashboard_query_aggregator.getQueryResult(key),
        hide_if_empty = false,
        empty_text = 'No tiene solicitudes en el registro',
        hide_view_more = true,
        attributes = {
            'data-table': true,
            'data-searching': true,
            'data-page-length': 10,
            'data-order': [[0, 'desc']]
        }
    ) }}

{% endblock %}