{% extends 'layout.twig' %}
{% block main_content %}
    {% include 'backoffice/_partial/_main_menu.twig' %}
    <div class="row">
        {% set env = {
        'type':         'pep',
        'form_id':      'form-pep-search',
        'render_area':  'search_pep',
        'route':        'backoffice_search_pep'
        } %}
        <div class="col-md-3">
            {% include 'backoffice/_partial/_form_search_product.twig' with env %}
            {% include 'backoffice/_partial/_alerts.twig' %}
        </div>
        <div class="col-md-9" id="search_pep">
            {{ requisition_status_grid(
            title_tag = 'h2',
            grid_title = 'Últimos PEP ingresados'|trans,
            requisitions = dashboard_query_aggregator.getQueryResult('pep.created'),
            hide_if_empty = true,
            empty_text = 'No tiene solicitudes en el registro',
            dataSlice = 5,
            titleTag = 'h3',
            itemRoute = 'requirement_detail',
            customTemplate = '_status_grid_backoffice.twig',
            hide_view_more = true,
            attributes = {
                'data-table': true,
                'data-searching': false,
                'data-page-length': 10,
                'data-order': [[1, 'desc']]
            },
            type = 'pep'
            )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <span class="pull-right">
                <button type="button" class="btn btn-danger" id="download_excel">Descargar Excel</button>
            </span>
        </div>
    </div>
    <script>
        $(function () {
            $('#nav_inicio').removeClass('active');
            $('#nav_pep').addClass('active');
        });
        $('#download_excel').click(function () {
            var url  = '{{ path('backoffice_report_pep', {type: env.type}) }}';
            var region = $('#back_office_search_pep_grant_region').select2('data')[0].text;
            var city   = $('#back_office_search_pep_grant_city').select2('data')[0].text;

            var data = {
                city:         city,
                region:       region,
                createdAt:    $('#back_office_search_pep_grant_createdAt').val(),
                userName:     $('#back_office_search_pep_grant_userName').val(),
                office:       $('#back_office_search_pep_grant_office').val()
            };
            window.location.href = url +'&data='+ JSON.stringify(data);
        });
    </script>
{% endblock %}
