{% extends 'layout.twig' %}
{% block main_content %}
    {% include 'backoffice/_partial/_main_menu.twig' %}
    <div class="row">
        {% set env = {
        'type':         'requisition.self_management',
        'form_id':      'form-self_mangement-search',
        'render_area':  'search_self_management',
        'route':        'backoffice_search_requisition'
        } %}
        {% set requisitions = dashboard_query_aggregator.getQueryResult('requisition.self.management.created') %}
        <div class="col-md-3">
            {% include 'backoffice/_partial/_form_search_product.twig' with env %}
            {#{% include 'backoffice/_partial/_alerts.twig' %}#}
        </div>
        <div class="col-md-9" id="search_self_management">
            {{ requisition_status_grid(
            title_tag = 'h2',
            grid_title = 'Últimos pedidos de autogestion ingresados'|trans,
            requisitions = requisitions,
            hide_if_empty = true,
            empty_text = 'No hay solicitudes ' ~ 'product.approved.self_management.centralized'|trans,
            dataSlice = 5,
            titleTag = 'h3',
            itemRoute = 'requisition_detail',
            customTemplate = '_status_grid_backoffice.twig',
            hide_view_more = true,
            attributes = {
                'data-table': true,
                'data-searching': false,
                'data-page-length': 10,
                'data-order': [[1, 'desc']]
            })
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <span class="pull-right">
                <button type="button" class="btn btn-danger" id="download_excel" {% if requisitions is empty %}disabled{% endif %}>Descargar Excel</button>
            </span>
        </div>
    </div>
    <script>
        $(function () {
            $('#nav_inicio').removeClass('active');
            $('#nav_autogestion').addClass('active');
            $('#back_office_search_requisition_type option[value!="{{ env.type }}"]').remove();
            $("#back_office_search_requisition_type").trigger("change");
        });

        $('#download_excel').click(function () {
            var url  = '{{ path('backoffice_report_requisition') }}';
            var region = $('#back_office_search_requisition_region').select2('data')[0].text;
            var city   = $('#back_office_search_requisition_city').select2('data')[0].text;
            var status = $('#back_office_search_requisition_status').val();
            var type = '{{ env.type }}';

            var data = {
                orderNumber: $('#back_office_search_requisition_orderNumber').val(),
                office:      $('#back_office_search_requisition_office').val(),
                createdAt:   $('#back_office_search_requisition_createdAt').val(),
                region:      region,
                city:        city,
                type:        type,
                status:      status,
                requesterName:    $('#back_office_search_requisition_requesterName').val(),
                requesterUserName:    $('#back_office_search_requisition_requesterUserName').val(),
            };
            window.location.href = url +'?data='+ JSON.stringify(data);
        })
    </script>
{% endblock %}
