<div id="modal-remember-pass" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Recuperar contraseña</h4>
                </div>
                <div class="modal-body" style="text-align: center">

                    {% if not app.session.flashbag.get('success') %}

                        {{ form_start(form, {
                            attr: { id: 'remember-pass-form',method: 'POST' },
                            action: path('modal_remember_pass')
                        }) }}

                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <p>Ingrese su nombre de usuario</p>
                        </div>
                        <div class="col-lg-12" style="padding-bottom: 10px">
                            {{ form_widget(form.username,  { 'attr': {'class': 'required form-control'}}) }}
                        </div>

                        <div style="display: none">
                            {{ form_widget(form) }}
                        </div>
                        {{ form_end(form) }}
                    {% else %}
                        <div class="col-lg-12 center-block" style="font-weight: bold">Se ha enviado a tu correo un recordatorio de contraseña</div>
                        <div class="col-lg-12">
                            <p>Por favor revisa tu Email de BancoEstado y vuelve a intentarlo</p>
                        </div>
                    {% endif %}

                </div>

                <div class="modal-footer">
                    {% if not success %}
                    <button id="send-pass" type="submit" data-loading-text="Cargando..."
                            class="btn btn-warning  center-block ">Recuperar mi contraseña</button>
                    {% else %}
                        <button type="button"
                                class="btn btn-warning  center-block" data-dismiss="modal">Aceptar</button>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        {% if username %}
            $("#remember_password_username").val("{{ username }}");
        {% endif %}

        $('#send-pass').on('click', function (e) {
            e.preventDefault();
            var $form = $("#remember-pass-form");
            var $submit = $form.find('button[type=submit]');

            $submit.button('loading');

            $.ajax({
                url: $form.attr('action'),
                data: $form.serialize(),
                method: 'POST',
                dataType: 'html'
            }).done(function(data) {
                $('#modal-remember-pass').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                $( "#modal-div" ).html( data );
                $("#modal-remember-pass").modal('show');
            });
        });

        $(document).keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>