{% extends 'layout.twig' %}

{% block main_content %}

<div class="row">
    {% if employeeInfo is defined %}
        {% set form_name = 'employee' %}
        <h2>{{employeeInfo.name ~ ' ' ~ employeeInfo.lastname}}</h2>
        {{ form_start(form, {attr: {id: 'form-edit-profile', class: 'form', role: 'form'}})}}
            <div class="col-md-6">{{ form_row(form.rut, {attr: {value: employeeInfo.rut} }) }}</div>
            <div class="col-md-6">{{ form_row(form.name, {attr: {value: employeeInfo.name}}) }}</div>
            <div class="col-md-6">{{ form_row(form.lastName, {attr: {value: employeeInfo.lastname} }) }}</div>
            <div class="col-md-6">{{ form_row(form.secondLastName, {attr: {value: employeeInfo.secondLastname}})}}</div>
            <div class="col-md-4">{{ form_row(form.position, {attr: {value: employeeInfo.position}}) }}</div>
            <div class="col-md-4">{{ form_row(form.phone, {attr: {value: employeeInfo.phone}}) }}</div>
            <div class="col-md-4">{{ form_row(form.email, {attr: {value: userInfo.email}}) }}</div>
            <div class="col-md-6">{{ form_row(form.username, {attr: {value: userInfo.username}}) }}</div>
            <div class="col-md-12" style="margin-top:20px; font-size: small">* Los campos en color no son editables, si necesita modificar sus datos Contácte con tu ejecutiv@</div>
            <div class="col-md-12"><hr></div>
            <div class="col-md-6">{{ form_row(form.plainPassword) }}</div>
            <div class="col-md-12">{{ form_widget(form.send) }}</div>
        {{ form_end(form) }}
    {% else  %}
        {% set form_name = 'user' %}
        <h2>{{userInfo.username}}</h2>
        {{ form_start(form, {attr: {id: 'form-edit-profile', class: 'form', role: 'form'}})}}
            <div class="col-md-7">{{ form_row(form.email, {attr: {value: userInfo.email}}) }}</div>
            <div class="col-md-6">{{ form_row(form.username, {attr: {value: userInfo.username}}) }}</div>
            <div class="col-md-6">{{ form_row(form.role, {attr: {value: userInfo.roles[0]|trans}}) }}</div>
            <div class="col-md-6">{{ form_row(form.plainPassword) }}</div>
            <div class="col-md-12">{{ form_widget(form.send) }}</div>
        {{ form_end(form) }}
    {% endif %}
</div>
<p>&nbsp;</p>

<div id="modal-success" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Su contraseña fue modificada exitosamente</h4>
            </div>
            <div class="modal-footer">
                <a href="{{path('fos_user_security_logout')}}" class="btn btn-warning">Aceptar</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var options = {
        success:    function(data) {
                $('#form-edit-profile').resetForm();
                $('#modal-success').modal('show');
            },
        error:       function(data) {
            var error = data.responseJSON.errors.children.plainPassword.children.first.errors[0];

            $('#{{ form_name }}_profile_plainPassword_first').tooltip('destroy');
            $('#{{ form_name }}_profile_plainPassword_first').tooltip({'title': error});
            $('#{{ form_name }}_profile_plainPassword_first').closest('div[class="form-group"]').addClass('has-error');
        }
    };

$('#form-edit-profile').submit(function() {
    // submit the form
    $(this).ajaxSubmit(options);
    // return false to prevent normal browser submit and page navigation
    return false;
});

</script>
{% endblock %}
