{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <ul class="nav navbar-nav navbar-left">
        {% for menu in item %}
            <li class="dropdown">
                <a href="{{ menu.uri }}" {% if menu.children|length %}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{menu.name}}</a>

                {% if menu.children|length %}
                    <ul class="dropdown-menu" style="z-index: 999999999999">
                        {% for submenu in menu %}
                            <li><a href="{{submenu.uri}}">{{submenu.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}