{% for type, flashes in app.session.flashbag.all %}
<div class="row session-flash">
    {% for flash in flashes %}
        <div class="alert alert-{{ type }} fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash|trans }}
        </div>
    {% endfor %}
</div>
{% endfor %}