{% macro star_rating(rating) %}
    {% set r = rating|round(0, 'ceil') %}
    <div class="star-rating">
        {% for i in 1..7 %}
            <span class="{% if i <= r %}selected{% endif %}">&#9733;</span>
        {% endfor %}
    </div>
{% endmacro %}

{% macro glyphicon(icon, tag = 'i') %}
    <{{ tag }} class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></{{ tag }}>
{% endmacro %}