<div class="tarjeta pep-banner clearfix">
    <img src="{{ asset('assets/img/logo-pep.jpg') }}" alt="Tarjeta de Presentación Banco Estado" class="pull-left imagen-tarjeta" />
    <h2>Validación de proveedores PEP</h2>
    <p>Acceso al área de validación de proveedores PEP para adjudicar compras descentralizadas</p>

    <a href="{{ path('pep_index') }}" class="pull-right btn btn-warning">Ingresar</a>
</div>   