{% if employee is not null %}
    {% form_theme change_office 'bootstrap_3_horizontal_layout.html.twig' %}
    {% set office = employee.office %}

    <table class="table table-borderless">
        <tbody>
        <tr>
            {{ form_start(change_office, {
                attr: {
                    id: 'form-change-office',
                    autocomplete: 'off'
                },
                action: path('employee_office_change')
            }) }}

            <td colspan="2"><span><strong>Nombre:</strong> {{ employee.fullName }}</span></td>
        </tr>
        <tr>
            <td>
                <span><strong>Sucursal: </strong></span>
                {{ form_widget(change_office.office) }}
            </td>
        </tr>
        <tr>
            <td><span><strong>Dirección: </strong> {{ office.address|default('') }}</span></td>
        </tr>
        <tr>
            <td><span><strong>Comuna: </strong> {{ office.city.name|default('') }}</span></td>
        </tr>
        <tr>
            <td><span><strong>Ciudad: </strong> {{ office.city.parent.name|default('') }}</span></td>
        </tr>
        <tr>
            <td><span><strong>Centro de costo: </strong> {{ office.costCenter|default('') }} </span></td>
        </tr>
        <tr>
            <td><span><strong>Mail: </strong> {{ employee.email|default('') }}</span></td>
        </tr>
        <tr>
            <td>
                <span><strong>Teléfono: </strong></span>
                {{ form_widget(change_office.phone) }}
                {{ form_end(change_office) }}
            </td>
        </tr>
        <tr><td><button id="change-office-modal-submit" class="btn btn-sm btn-warning pull-right">Actualizar datos</button></td></tr>
        </tbody>
    </table>

    <script>
        var changeOfficeSel = $('#change_office_office');
        var actionBtn = $('#change-office-modal-submit');

        function fillOfficeData(data) {
            $('#office-info').find('[data-placeholder]').each(function (i, e) {
                $(e).text(data[$(e).data('val')]);
            });
        }

        fillOfficeData(changeOfficeSel.find('option:selected').data('office'));

        changeOfficeSel.on('change', function () {
            fillOfficeData($('option:selected', this).data('office'));
        });

        $('#form-change-office').on('submit', function (e) {
            e.preventDefault();
            actionBtn.button('loading');

            $.ajax({
                url: $(this).attr('action'),
                data: new FormData($(this).get(0)),
                processData: false,
                contentType: false
            }).done(function () {
                //$('#change-office-modal').modal('hide');
                bootbox.alert('Los datos de su área de trabajo han sido actualizados correctamente', function () {
//                    window.location.reload();
                    console.log("test");
                });
            }).fail(function () {
                bootbox.alert('Ha ocurrido un error al actualizar sus datos');
                actionBtn.button('reset');
            });

            return false;
        });
    </script>
{% endif %}
