<div class="tarjeta clearfix">
    <img src="{{ asset('assets/img/bg-tarjeta.png') }}" alt="Tarjeta de Presentación Banco Estado" class="pull-left imagen-tarjeta" />
    <h2>Tarjeta de Presentación</h2>
    <p>Siempre lleva tus tarjetas de presentación contigo, nunca te deben faltar.</p>
    <p style="margin: 8px auto;">&nbsp;</p>
    {% set pending = has_active_vcard_requisitions() %}
    {% set env = app.environment %}
    {% if pending|length %}
        {% set pending_nums %}
            {% for number in pending %}
                N°{{ number.number }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endset %}
        {% set message %}
            {% transchoice pending|length with { '%pending_nums%' : pending_nums } %}
            debes esperar que la solicitud en proceso (%pending_nums%) haya finalizado|debes esperar que las solicitudes en proceso (%pending_nums%) hayan finalizado
            {% endtranschoice %}
        {% endset %}
        <span class="text-danger">Para solicitar nuevamente tarjetas de presentación, {{ message }}</span>
        <a href="{{ path('vcard_available') }}" class="pull-right btn btn-warning">Solicitar para tercero</a>
    {% else %}
        <a href="{{ path('vcard_available') }}" class="pull-right btn btn-warning">Solicitar</a>
    {% endif %}
</div>
