{% extends 'layout.twig' %}
{% use 'notification/_common.twig' %}

{% block main_content %}
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th class="table-col-stretch">Fecha/Hora</th>
                <td>{{ notification.createdAt|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Mensaje</th>
                <td>{{ notification.body|raw }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ block('delete_button_block') }}
                    <a href="{{ path('notifications') }}" class="btn btn-sm btn-default" style="margin-right:10px">Volver a notificaciones</a>
                </td>
            </tr>
        </table>
    </div>

    {{ block('delete_action_block') }}
{% endblock main_content %}