{% extends 'layout.twig' %}
{% use 'notification/_common.twig' %}

{% block main_content %}
    <div class="row">
        <h2>Notificaciones</h2>
    </div>

    <div class="row">
        <table class="table table-condensed table-hover" data-table data-searching="false">
            <thead>
                <th class="table-col-stretch">#</th>
                <th class="table-col-stretch">Recibido</th>
                <th>Mensaje</th>
                <th></th>
            </thead>
            <tbody>
            {% for notification in data|reverse %}
                <tr style="background-color: {% if notification.viewed %}#ddd{% else %}#fff{% endif %}" data-viewed="{{ notification.viewed }}">
                    <td>{{ loop.index }}</td>
                    <td><span style="white-space:nowrap">{{ notification.createdAt|date('d/m/Y H:i:s') }}</span></td>
                    <td><span style="color:#aaa">{{ notification.body|raw }}</span></td>
                    <td style="width:20%;text-align:right">
                        <div class="btn-group" role="group">
                            <a href="{{ path('notification_detail', { id: notification.id }) }}" 
                                class="action-edit btn btn-sm btn-default">Ver</a>

                            {{ block('delete_button_block') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No tiene notificaciones</td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </div>

    {{ block('delete_action_block') }}
{% endblock main_content %}

