{% extends 'knp_menu.html.twig' %}

{% block list %}
{% import 'knp_menu.html.twig' as knp_menu %}
{% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
    <ul{{ knp_menu.attributes(listAttributes) }}>
        {{ block('children') }}
        <li class="show-more clearfix">
            {% set showing = item.getExtra('showing') %}
            {% if showing > 0 %}
                <span>Mostrando {{ showing }} de {{ item.getExtra('total') }}</span>
            {% endif %}
            <a href="{{ path('notifications') }}" class="pull-right">Ver todos +</a>
        </li>
    </ul>
{% endif %}
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as macros %}    
    <div data-href='{{ item.uri }}'{{ macros.attributes(item.linkAttributes) }} onclick="window.location.replace('{{ item.uri }}')">
        <div class='notify-body' data-message-id="{{ item.getExtra('message_id') }}">
            <p>{{ block('label')|raw }}</p>
            <span class='notify-datetime'>
                {{ item.getExtra('created_at')|date('d-m-Y H:i:s') }}
            </span>
        </div>
    </div>
{% endblock %}