<div class="row meta-block">
    <h3>Solicitud cerrada por evaluador</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Fecha/Hora</strong></th>
                <td>{{ metadata.approver_close.datetime|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th><strong>Razón</strong></th>
                <td>{{ metadata.approver_close.reason|trans }}</td>
            </tr>
            {% if metadata.approver_close.comments is defined %}
                <tr>
                    <th><strong>Justificación</strong></th>
                    <td>{{ metadata.approver_close.comments }}</td>
                </tr>
            {% endif %}
            {% if metadata.approver_close.files|length %}
                <tr>
                    <th>
                        <strong>Documentos y/o comentarios</strong>
                    </th>
                    <td>
                        <table class="table table-condensed table-striped">
                            {% for file in metadata.approver_close.files %}
                                <tr>
                                    <td>{{ file.description }}</td>
                                    <td>
                                        {% if file['file'] is defined %}
                                            {% for name, path in file.file %}
                                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                                <a href="{{ asset('download/' ~ path) }}">{{ name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>