<div class="row meta-block">
    <h3>Solicitud cerrada</h3>
    <table class="table table-striped">
        <tbody>
        {%  if metadata.closed.timestamp is defined  %}
            <tr>
                <th><strong>Fecha/Hora</strong></th>
                <td>{{ metadata.closed.timestamp|date('d/m/Y H:i:s') }}</td>
            </tr>
        {% endif %}
        {%  if metadata.closed.username is defined  %}
            <tr>
                <th><strong>Usuario</strong></th>
                <td>{{ metadata.closed.username }}</td>
            </tr>
        {% endif %}
        {%  if metadata.closed.comment is defined  %}
            <tr>
                <th><strong>Comentario</strong></th>
                <td>{{ metadata.closed.comment|replace({ 'add_link_contacto': '<a href="'~ path('contact_index') ~'">' ~ absolute_url(path('contact_index')) ~ '</a>' })|raw }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>