<div class="row meta-block">
    <h3>Solicitud completa</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Fecha/Hora</strong></th>
                <td>{{ metadata.completed.timestamp|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th><strong>Usuario</strong></th>
                <td>{{ metadata.completed.username }}</td>
            </tr>
        </tbody>
    </table>
</div>