{% if is_granted(['ROLE_REQUESTER', 'ROLE_APPROVER']) %}
<div class="row meta-block">
    <h3>Comentario de evaluador</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>{{ metadata.decline_comment }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
