<div class="row meta-block">     
    <h3>Respuesta apelación</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Motivo</strong></th>
                <td>{{ metadata.denial.reason|trans }}</td>
            </tr>
            <tr>
                <th><strong>Argumentación</strong></th>
                <td>{{ metadata.denial.comment }}</td>
            </tr>
            <tr>
                <th><strong>Archivos adjuntos</strong></th>
                <td>
                    {% for name, path in metadata.denial.files %}
                    <p>
                       <span class="glyphicon glyphicon-file" aria-hidden="true"></span> 
                       <a href="{{ asset('download/' ~ path) }}">{{ name }}</a>
                    </p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>