{% if metadata.confirmation is defined %}
    {% set confirmation = metadata.confirmation %}

    <div class="row meta-block">
        <h3>Certificación demandante</h3>
        {% set evaluation = metadata['evaluation'] %}

        {# BC fix #}
        {% if evaluation is iterable and evaluation['evaluation'] is defined %}
            {% set evaluation = [evaluation] %}
        {% endif %}

        {% for eval in evaluation %}
            {% set evaldt  = eval.datetime is defined ? eval.datetime : eval.evaluated_at %}

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th colspan="2">#{{ loop.index }}</th>
                </tr>
                <tr>
                    <th><strong>Fecha y hora</strong></th>
                    <td>{{ evaldt|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <th><strong>Fecha de certificación proveedor</strong></th>
                    <td>{{ (eval.evaluated_at ? eval.evaluated_at : confirmation.delivered_at)|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <th><strong>Recepción</strong></th>
                    <td>{{ eval.evaluation|trans }}</td>
                </tr>
                {% if eval.comment is defined and eval.comment is not empty %}
                    <tr>
                        <th><strong>Comentarios</strong></th>
                        <td>{{ eval.comment }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endif %}
