{% if metadata['rejection'] is defined %}
    <div class="row meta-block">     
        <h3>Rechazo de solicitud</h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th><strong>Motivo</strong></th>
                    <td>{{ metadata.rejection.reason|trans }}</td>
                </tr>
                <tr>
                    <th><strong>Argumentación</strong></th>
                    <td>{{ metadata.rejection.comment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{% if requisition.status == 'product.rejected' and is_granted('ROLE_REQUESTER') %}
    <div class="row meta-block">     
        <h3>Apelación</h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        Su solicitud puede ser revisada y apelada en una oportunidad, es por ello, que si quiere apelar debe ingresar argumentos que apoyen su solicitud, la cual puede complementar con documentos como fotografías o material de respaldo.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}