{% extends 'layout.twig' %}
{% set failedAttempt = false %}
{% block main_content %}
	<div class="row login">
		<h2 class="text-center">
			Iniciar sesión
			<div style="text-align: center;font-weight: bold;font-size: 0.5em;">Favor ingrese su usuario y contraseña</div>
		</h2>

        {% if error %}
			<div class="error bg-danger">
                {% if error.token is null %}
					{% if error.message is not empty  and 'captcha' in error.message %}
						{% if 'captcha' in error.message %}
							{% set failedAttempt = true %}
						{% endif %}
						{{ error.message }}
					{% else %}
						Ha ocurrido un error. Por favor intenta de nuevo.
					{% endif %}
                {% else %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
					{% set failedAttempt = true %}
					<div>Si olvidaste tu contraseña, haz clic <a href="{{ path('fos_user_resetting_request') }}">aquí</a></div>
                {% endif %}

			{#<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="failedLoginModal" id="failedLoginModal">
				<div class="modal-dialog modal-md" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12"><p style="text-align: center"><b>Se ha enviado a tu correo un recordatorio de contraseña.</b></p></div>
								<div class="col-md-12"><p style="text-align: center">Favor revisa tu Email de BancoEstado y vuelve a intentarlo</p></div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="#" style="width:300px" class="btn btn-warning center-block" data-dismiss="modal" aria-label="Aceptar">Aceptar</a>
						</div>
					</div>
				</div>
			</div>#}

			</div>
        {% endif %}

        {#<p>¡Bienvenidos! Para acceder al sistema debes ingresar tu nombre de usuario BancoEstado, es decir, el mismo que utilizas en tu correo electrónico corporativo. <p>
        <p>Por ejemplo, si tu mail es jramirez@bancoestado.cl, tu login de acceso será jramirez. Como clave personal debes utilizar tu número de RUT, sin dígito verificador ni puntos (ejemplo: 15315256).</p>
        <p>Como sugerencia, después de ingresar por primera vez a tu página de usuario, reemplaza la contraseña genérica para resguardar la privacidad de tu perfil.</p>#}

		<form action="{{ path("fos_user_security_check") }}" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			<div class="form-group">
				<label for="name">Nombre de usuario *</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

				<div data-toggle="tooltip" data-html="true" title="<b>Si eres funcionario BancoEstado</b>: Si tu mail es jramirez@bancoestado.cl, tu nombre de usuario será jramirez.<br/><br/> <b>Si eres proveedor</b>: Es el RUT de tu empresa sin puntos, sin guión y sin dígito verificador." data-placement="right">
					<span style="text-decoration: underline">¿Cuál es mi nombre de usuario?</span> <span> Ejemplo: jramirez</span>
				</div>
			</div>

			<div class="form-group">
				<label for="password">Contraseña *</label>
				<input type="password" id="password" name="_password" required="required" class="form-control" />
				<div data-toggle="tooltip" data-html="true" title="Si necesitas restablecer o cambiar tu contraseña te enviaremos un e-mail para que puedas cambiar tu clave." data-placement="right">
					<a style="text-decoration: underline;color: inherit" href="{{ path('fos_user_resetting_request') }}" id="remember_pass">Restablecer tu contraseña</a>
				</div>
			</div>
			{% if failedAttempt is same as(true) %}
				<input type="hidden" name="failedAttempt" value="afterFailedAttempt">
				<span><b>Marca la casilla para continuar</b></span>
				<div class="form-group g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="validateNotEmpty"></div>
			{% endif %}
			<div class="form-group">
				<div class="pull-right">
					<input type="submit" class="btn btn-warning" id="_submit" name="_submit" value="Iniciar Sesión" {% if failedAttempt is same as(true) %}disabled{% endif %} />
				</div>
			</div>
		</form>
		{% if failedAttempt is same as(true) %}
			<a type="button" style="text-decoration: underline;color: inherit;cursor: pointer" data-toggle="modal" data-target="#recaptcha_explained">
				¿Qué es esto? Necesito ayuda
			</a>
			<div id="modal-div">
				{% include 'recaptcha_step_by_step.html.twig' %}
			</div>
		{% endif %}
	</div>
	<div class="row login-help">
		<div class="img-icon">
			<img src="{{ asset('assets/img/call-center-icon.png') }}" width="40">
		</div>
		<div class="text">
			Si olvidaste tu contraseña o no puedes ingresar, contacta a la Mesa de Ayuda Logística al anexo 84400.
		</div>
	</div>
	<script type="text/javascript">

        function validateNotEmpty() {
            $('#_submit').removeAttr('disabled');
        };
        $('#recaptcha_explained').modalSteps({
            btnCancelHtml: 'Cerrar',
            btnPreviousHtml: 'Paso anterior',
            btnNextHtml: 'Siguiente paso',
            btnLastStepHtml: 'Completado'
        });
	</script>
{% endblock main_content %}
