{% extends 'layout.twig' %}

{% block main_content %}
    {% set areThereUniforms = false %}
    {% set hasCompostura = false %}

    {% for requisition in requisitions %}
        {% set product = requisition.product %}
        {% if requisition.type == 'requisition.uniform' %}
            {% set areThereUniforms = true  %}
        {% endif %}
        {% if product.code == comp_code %}
            {% set hasCompostura = true %}
        {% endif %}
    {% endfor %}

    <div class="row">
        <h2>Carro de Solicitudes</h2>
    </div>

    {% if areThereUniforms %}
        {{ render(controller(
            'App\\Controller\\EmployeeController::changeDataAction',
            { 'max': 3 }
        )) }}
    {% endif %}

    {% include 'requisition/cart_items.twig' %}

    {% if requisitions|length %}
        <div class="row">
            {{ form_start(checkout_form, {
                action: path('requisitions_create_order'),
                attr: {
                    id: 'checkout-form',
                    'data-redirect': path('dashboard')
                }
            }) }}

            <div class="text-right">
                {% set compostura = fix_uniform_product() %}
                {% if compostura and hasCompostura %}
                    <a href="{{ path('compostura_uniforme', { id: compostura.requisition.id }) }}"
                       class="btn btn-warning">
                        Seguir solicitando compostura
                    </a>
                {% endif %}

                {{ form_widget(checkout_form.submit, {
                    label: 'Confirmar pedido',
                    attr: {
                        class: 'btn btn-warning','data-loading-text': "Procesando...",
                        style: 'display:inline-block'
                    }
                }) }}
            </div>

            {{ form_end(checkout_form) }}
        </div>

        {{ form(delete_form, {
            method: 'DELETE',
            attr: { id: 'delete-form', style: 'display:none' }
        }) }}

        {% if areThereUniforms %}
        <script src="/bundles/beuniform/js/jqUniforme.js"></script>
        <script src="/bundles/beuniform/js/jquery.validate.min.js"></script>
        <script src="/bundles/beuniform/js/uniformesImagenes.js"></script>
        <!-- Modal -->
        <div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modalPreviewLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalPreviewLabel">Vista Previa</h4>
                    </div>
                    <div class="modal-body">
                        <div id="form-measures"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.action-preview').on('click', function (e) {
                $('#form-measures').children().remove();
                e.preventDefault();
                var link = $(this);
                uri_def = "{{ path('uniform_json_definition',{'code':'__code__','id':'__id__' } ) }}";
                uri_def = uri_def.replace('__code__',link.data('code')).replace('__id__',link.data('id'));
                console.log(uri_def);
                $.getJSON(uri_def, function(uniforme) {
                    $('#form-measures').jqUniforme({
                        obj: uniforme.config,
                        img: uniformesImagenes,
                        fill: uniforme.fill,
                        path: uniforme.uri,
                        resume: true,
                    });
                });
            });
        </script>
        {% endif %}

        <script>
            $('.action-delete').on('click', function (e) {
                e.preventDefault();
                var link = $(this);
                bootbox.confirm('¿Confirma que desea eliminar esta solicitud?', function (response) {
                    if (!response) {
                        return;
                    }

                    var deleteForm = $('#delete-form');
                    deleteForm.attr('action', link.attr('href'));
                    deleteForm.trigger('submit');
                });
            });

            $('#checkout-form').on('submit', function (e) {
                e.preventDefault();
                var form_submit = $("#form_submit");
                form_submit.button('loading');
                var form = $(this);

                $.post(form.attr('action'), form.serialize()).done(function (data) {
                    bootbox.dialog({
                        message: data,
                        buttons: {
                            'Aceptar': {
                                className: 'btn-warning',
                                callback: function () {
                                    window.location.replace(form.data('redirect'));
                                }
                            }
                        }
                    });
                }).done(function(){
                    form_submit.button('reset');
                }).fail(function() {
                    bootbox.dialog({
                        message: 'Hay un conflicto con otro usuario en este momento, intentalo nuevamente',
                        buttons: {
                            'Aceptar': {
                                className: 'btn-warning',
                                callback: function () {
                                    window.location.reload();
                                }
                            }
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}
