
{% set has_documents = kernel.bundles['TionvelDocumentsBundle'] is defined %}

{% macro items_table(requisition) %}
    {% import '@TionvelDocuments/_macros.html.twig' as macros %}

    {% set contract = requisition.contract %}
    {% set product = requisition.product %}

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Tipo</th>
                <th width="50%">Producto</th>
                <th class="quantity" style="text-align:center">Cantidad</th>
                <th>Fecha de solicitud</th>
                <th class="cost-center">Centro de costo</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ requisition.type|trans }}</td>
                <td>{{ product.name }}</td>
                <td class="quantity">{{ requisition.quantity }}</td>
                <td>{{ 'now'|date('d/m/Y H:i:s') }}</td>
                <td class="cost-center">{{ contract.costCenter }}</td>
                <td class="actions">
                    <a href="{{ path('requisition_delete', { id: requisition.id }) }}"
                       class="action-delete btn btn-sm btn-danger">Eliminar</a>
                    <a href="{{ path('requisition_edit',   { id: requisition.id }) }}"
                       class="action-edit btn btn-sm btn-default">Editar</a>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    {% if requisition.product.code == codigo_libretas_ahorro %}
                        {{ macros.detalle_libreta(requisition) }}
                    {% endif %}

                    {% if requisition.product.code == codigo_documentos_valorables %}
                        {{ macros.detalle_documento(requisition) }}
                    {% endif %}

                    {% if requisition.product.code == codigo_cheques %}
                        {{ macros.detalle_cheque(requisition) }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% block table %}
    {% import _self as m %}

    {% set docs = [] %}
    {% set others = [] %}

    {% for requisition in requisitions %}
        {% if requisition.type == 'requisition.document' %}
            {% set docs = docs|merge([requisition]) %}
        {% else %}
            {% set others = others|merge([requisition]) %}
        {% endif %}
    {% endfor %}

    <div class="row cart-table">

    {% for requisition in docs %}
        {{ m.items_table(requisition) }}
    {% endfor %}

        {% if others|length %}

        <table id="cart" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th width="50%">Producto</th>
                    <th class="quantity">Cantidad</th>
                    <th>Fecha de solicitud</th>
                    <th class="cost-center">Centro de costo</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
            {% for requisition in others %}
                {% set contract = requisition.contract %}
                {% set product = requisition.product %}
                {% set areThereUniforms = false  %}
                {% if requisition.type == 'requisition.uniform' %}
                    {% set areThereUniforms = true  %}
                {% endif %}

                {% if product.code == comp_code %}
                    {% set hasCompostura = true %}
                {% endif %}
                <tr>
                    <td>{{ requisition.type|trans }}</td>
                    <td>{{ product.name }}</td>
                    <td class="quantity">{{ requisition.quantity }}</td>
                    <td>{{ 'now'|date('d/m/Y H:i:s') }}</td>
                    <td class="cost-center">{{ contract.costCenter }}</td>
                    <td class="actions col-xs-3">
                        <a href="{{ path('requisition_delete', { id: requisition.id }) }}"
                           class="action-delete btn btn-sm btn-danger">Eliminar</a>
                        <a href="{{ path(requisition.type == 'requisition.product.vcard' ? 'vcards_edit' : 'requisition_edit',  { id: requisition.id }) }}"
                           class="action-edit btn btn-sm btn-default">Editar</a>
                        {% if areThereUniforms and product.code != comp_code   %}
                            <a href="#modalPreview" data-id="{{ requisition.id }}" data-code="{{ product.code }}"
                               data-toggle="modal" data-target="#modalPreview"
                               class="action-preview btn btn-sm btn-info">Ver</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {% if others|length == 0 and docs|length == 0 %}
                <tr class="empty-cart">
                    <td colspan="7">
                        <p>En estos momentos no tiene productos solicitados. Puede agregarlos
                            visitando el catálogo desde el menú <strong>Pedidos</strong>.</p>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-info">
                <i class="glyphicon glyphicon-info-sign"></i> No posee productos en el carro de solicitudes.
            </div>
        {% endif %}
    </div>
{% endblock %}