{% spaceless %}
{% if orders|length == 1 %}
    {% set item = orders[0] %}
    <h4>La solicitud <a href="{{ path('requisition_detail', { id: item.id }) }}">N° {{ item.number }}</a> ha sido creada con éxito.</h4>
{% else %}
    {% set links %}
        {% for item in orders %}
            <a href="{{ path('requisition_detail', { id: item.id }) }}">N° {{ item.number }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endset %}
    <h4>Las solicitudes {{ links }} han sido creadas con éxito.</h4>
{% endif %}
{% endspaceless %}
