{% extends 'layout.twig' %}
{% block body_id 'requisitions_history' %}

{% block main_content %}
    <div class="row">
        <h2>Histórico de solicitudes</h2>
    </div>

    <div class="row">
        <table class="table table-striped table-condensed table-data-table">
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Detalle</th>
                    <th>Centro de costo</th>
                    {% if not is_granted('ROLE_REQUESTER') %}
                        <th>Sucursal</th>
                    {% endif %}
                    <th>Fecha de solicitud</th>
                    <th>Plazo de entrega</th>
                    <th>SLA</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for requisition in data %}
                    {% set detail = path('requisition_detail', { id: requisition.id }) %}

                    <tr>
                        <td><a href="{{ detail }}">{{ requisition.number }}</a></td>
                        <td>{{ requisition.product.name }}</td>
                        <td>{{ requisition.contract.costCenter }}</td>
                        
                        {% if not is_granted('ROLE_REQUESTER') %}
                            <td>{{ requisition.contract.office.name }}</td>
                        {% endif %}
                        
                        <td>{{ requisition.createdAt|date('d/m/Y') }}</td>
                        <td>{{ requisition.stateDueDate|date('d/m/Y') }}</td>

                        <td>
                        {% if requisition.status not in ['product.closed', 'product.completed'] %}
                            {{ sla_indicator(requisition.stateDueDate) }}
                        {% else %}
                            N/A
                        {% endif %}
                        </td>
                        
                        <td>{{ workflow_indicator(requisition) }}</td>
                        <td><a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ is_granted('ROLE_REQUESTER') ? 8 : 9 }}">No tiene solicitudes completas o cerradas</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}