{% extends 'requisition/detail.twig' %}

{% block body_id 'work-order-pdf' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block main_navigation %}{% endblock %}
{% block requisition_detail %}{% endblock %}

{% block work_order_title %}
    <table class="table ot-header">
        <tr>
            <td class="ot-header-left" style="">
                <h3>Gerencia Logística</h3>
                <p>Promovemos un buen ambiente de trabajo</p>
            </td>
            <td class="ot-header-right">
                <img src="{{ absolute_url(asset('assets/img/logo-ot.jpg')) }}" alt="Logo Banco Estado" style="width: 100px"/>
            </td>
        </tr>
    </table>
    <div class="row clearfix content-title">
        <h2>Orden de trabajo N° {{ requisition.metadata['work_order'] is defined ? requisition.metadata['work_order']|default('-') }}</h2>
    </div>
{% endblock %}
{% set is_pdf = 'true' %}

{% block work_order_detail %}
    <style>
        .ot-header {
            width: 535pt;
            border-bottom: 1px solid #333333;
            font-style: italic;
            padding-bottom:15px;
        }
        .ot-header h3{
            color: #f09500;
            margin: 0;
            padding: 0
        }
        .ot-header p{
            margin: 0;
            padding: 5px 0 0 0
        }
        .ot-header-left {
            width: 80%;
            vertical-align: bottom
        }
        .ot-header-right {
            width: 20%;
            text-align: right
        }
        .content-title {
            margin-bottom: 20px;
        }

        tr th {
            padding-right: 20px
        }
        .work-order-items {
            margin-top: 50px;
            width: 100%;
        }

        .work-order-items th {
            padding: 6px;
            color: #ffffff;
            background: #90bd24 !important;
        }

        .work-order-items td {
            padding: 6px
        }
    </style>

    {{ parent() }}
{% endblock %}

{% block requisition_work_order %}
    {{ block('work_order_detail') }}
{% endblock requisition_work_order %}

{% block main_content %}
    {{ block('requisition_work_order') }}
{% endblock main_content %}