<div class="row tab-content">
    <div class="row">
        {{ form_start(form) }}
            <div class="col-md-2" style="text-align: right;">  Ingresa como:    </div>
            <div class="col-md-3">  {{ form_row(form.user) }}    </div>
            <div class="col-md-2">  {{ form_widget(form.send) }} </div>
        {{ form_end(form) }}
    </div>
    <ul class="nav nav-tabs" style="margin-top:20px;">
        <li class="active"><a data-toggle="tab" href="#home">Inicio</a></li>
        <li><a data-toggle="tab" href="#status">Estado de fichas</a></li>
    </ul>
    <div id="home" role="tabpanel" class="tab-pane fade in active">

        {{ requisition_status_grid(
            grid_title = 'Requerimientos por evaluar',
            requisitions = help_center_pending_eval,
            view_more_link = path('requisitions_index', { type: 'por_evaluar' })
        ) }}

        {{ requisition_status_grid(
            grid_title = 'Requerimientos en proceso',
            requisitions = openRequirements,
            view_more_link = path('requisitions_index', { type: 'en_proceso' })
        ) }}

        {{ requisition_status_grid(
            grid_title = 'Requerimientos históricos',
            requisitions = closedRequirements,
            view_more_link = path('requisitions_index', { type: 'history' })
        ) }}

        {% include 'dashboard/_partial/descarga_excel.twig' %}

    </div>
</div>
