{% extends 'layout.twig' %}

{% block main_content %}
<div class="row login">
    <div class="col-lg-12">
        <p>Estimado(a) {{ app.request.get('username') }},</p>

        <p>Te hemos enviado un e-mail con un enlace de activación para restablecer tu contraseña.</p>
        <p>Este link tiene una vigencia de dos horas. Pasado ese lapso de tiempo, deberás realizar nuevamente este proceso.</p>
        <p>Si no has recibido el correo electrónico, revisa tu carpeta de correos “no deseados” o inténtalo otra vez.</p>

        <div class="form-group">
            <div class="center-block">
                <a href="{{ absolute_url(path('fos_user_security_login')) }}" class="btn btn-warning">Ingresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
