
{% if requisition.status == 'cerrada_sistema' %}

<div class="row meta-block">
    <h3>Cerrada por el sistema</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Fecha/hora</strong></th>
                <td>{{ requisition.closedAt|date('d/m/Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}