
{% set certificacion = certificacion_proveedor %}

<div class="row meta-block">
    <h3>Certificación del proveedor</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th><strong>Fecha/hora</strong></th>
                <td>{{ certificacion.deliveredAt|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <th><strong>Nombre del receptor</strong></th>
                <td>{{ certificacion.receiver }}</td>
            </tr>
            {% if certificacion.extras|length %}
                <tr>
                    <th>
                        <strong>Documentos y/o comentarios</strong>
                    </th>
                    <td>
                        <table class="table table-condensed table-striped">
                            {% for extra in certificacion.extras %}
                                <tr>
                                    <td>{{ extra.comment }}</td>
                                    <td>
                                        {% if extra.fileName is not null %}
                                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                            <a href="{{ asset('download/' ~ extra.filePath) }}">{{ extra.fileName }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>