{% if metadata['rechazado'] is defined %}
    <div class="row meta-block">
        <h3>Rechazo de solicitud</h3>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th><strong>Motivo</strong></th>
                <td>{{ metadata.rechazado.razon|trans }}</td>
            </tr>
            <tr>
                <th><strong>Argumentación</strong></th>
                <td>{{ metadata.rechazado.comentario }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}
