{% import '_partial/macros.twig' as macros %}

<div class="row meta-block">
    <h3>Calificación del proveedor</h3>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th><strong>Puntualidad</strong></th>
            <td>{{ macros.star_rating(metadata.supplier_rating.punctuality) }}</td>
        </tr>
        <tr>
            <th><strong>Calidad</strong></th>
            <td>{{ macros.star_rating(metadata.supplier_rating.quality) }}</td>
        </tr>
        <tr>
            <th><strong>Nivel de servicio</strong></th>
            <td>{{ macros.star_rating(metadata.supplier_rating.service_level) }}</td>
        </tr>
        </tbody>
    </table>
</div>