{% extends 'layout.twig' %}

{% block supplier_form %}
<div class="row">
{% include 'special_request/_partial/add_supplier.twig' %}
</div>
{% endblock %}

{% block main_content %}
    {% include "special_request/_partial/requester.twig" %}
    {% include "special_request/_partial/details.twig" %}
    {% include "special_request/_partial/comments.twig" %}
    {% include 'special_request/_partial/rejection.twig' %}
    {% include 'special_request/_partial/apeal.twig' %}
    {% include 'special_request/_partial/supplier_info.twig' %}
    {% include 'special_request/_partial/rejected_final.twig' %}

    {{ block('supplier_form') }}

    <div class="row">
        <div style="margin-top: 20px;text-align: right">

            <a id="to-dashboard" href="{{ path('dashboard') }}" class="btn btn-warning">Volver al inicio</a>

            {% if special_request.state == 'state.evaluation' %}
                {% if is_granted('ROLE_APPROVER_SPECIAL') %}
                    <button id="aprobar-js" class="btn btn-success">Aprobar</button>

                    <button id="rechazar-js" class="btn btn-danger"
                            data-action="{{ path('solicitud_especial_rechazar', { id: special_request.id }) }}"
                            data-return="{{ path('dashboard') }}">Rechazar
                    </button>

                    <script>
                        $(function () {
                            $('#rechazar-js').on('click', function () {
                                var btn = $(this);

                                bootbox.prompt({
                                    title: 'Ingrese motivo del rechazo',
                                    inputType: 'textarea',
                                    callback: function (result) {
                                        if (!result) {
                                            return;
                                        }
                                        var data = new FormData();
                                        data.append('rejection', result);

                                        $.ajax({
                                            url: btn.data('action'),
                                            data: data,
                                            processData: false,
                                            contentType: false
                                        }).done(function () {
                                            bootbox.alert('Su mensaje ha sido enviado correctamente', function () {
                                                window.location.replace(btn.data('return'));
                                            });
                                        }).fail(function () {
                                            bootbox.alert('Ha ocurrido un error al enviar su mensaje');
                                        });
                                    }
                                });
                            });
                            $('#aprobar-js').on('click', function (e) {
                                e.preventDefault();
                                $('#form-provedor-js').removeClass('hide');
                                $('#aprobar-js, #rechazar-js, #to-dashboard').remove();
                            });
                        });
                    </script>
                {% endif %}
            {% elseif special_request.state == 'state.appealed' %}
                {% if is_granted('ROLE_APPROVER_SPECIAL') %}
                    <button id="approve" class="btn btn-success">Aprobar</button>
                    <button id="reject-final"
                            data-action="{{ path('solicitud_rechazar_final', { id: special_request.id }) }}"
                            data-return="{{ path('dashboard') }}"
                            class="btn btn-danger"
                            data-loading-text="Procesando...">Rechazar definitivamente</button>

                    <script>
                    $(function () {
                        $('#approve').on('click', function () {
                            $('#form-provedor-js').removeClass('hide');
                            $('#approve, #reject-final, #to-dashboard').remove();
                        });

                        $('#reject-final').on('click', function () {
                            var btn = $(this).button('loading');

                            $.post(btn.data('action'))
                                .done(function () {
                                    bootbox.alert('La solicitud ha sido cerrada correctamente', function () {
                                        window.location.replace(btn.data('return'));
                                    });
                                })
                                .fail(function () {
                                    bootbox.alert('Ha ocurrido un error al cerrar la solicitud');
                                })
                                .always(function () {
                                    btn.button('reset');
                                })
                            ;
                        });
                    })
                    </script>
                {% endif %}
            {% elseif special_request.state == 'state.in_progress' %}
                {% if is_granted('ROLE_APPROVER_SPECIAL') %}
                <button id="certify-request"
                        data-action="{{ path('solicitud_especial_certificar', { id: special_request.id }) }}"
                        data-return="{{ path('dashboard') }}"
                        class="btn btn-warning">Certificar</button>

                <script>
                    $(function () {
                        $('#certify-request').on('click', function () {
                            var btn = $(this);

                            $.post(btn.data('action'))
                                .done(function () {
                                    bootbox.alert('La solicitud ha sido cerrada correctamente', function () {
                                        window.location.replace(btn.data('return'));
                                    });
                                })
                                .fail(function () {
                                    bootbox.alert('Ha ocurrido un error al cerrar la solicitud');
                                })
                            ;
                        });
                    });
                </script>
                {% endif %}
            {% elseif special_request.state == 'state.rejected' %}
                {% if is_granted('ROLE_REQUESTER') %}
                <button id="appeal"
                        data-action="{{ path('solicitud_especial_apelar', { id: special_request.id }) }}"
                        data-return="{{ path('dashboard') }}"
                        class="btn btn-warning">Apelar</button>

                <script>
                    $(function () {
                        $('#appeal').on('click', function () {
                            var btn = $(this);

                            bootbox.prompt({
                                title: 'Argumentos para apelar',
                                inputType: 'textarea',
                                callback: function (result) {
                                    if (!result) {
                                        return;
                                    }

                                    var data = new FormData;
                                    data.append('apeal', result);

                                    $.ajax({
                                        url: btn.data('action'),
                                        data: data,
                                        processData: false,
                                        contentType: false
                                    }).done(function () {
                                        bootbox.alert('Su mensaje ha sido enviado correctamente', function () {
                                            window.location.replace(btn.data('return'));
                                        });
                                    }).fail(function () {
                                        bootbox.alert('Ha ocurrido un error al enviar su mensaje');
                                    })
                                }
                            });
                        });
                    });
                </script>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}