{% extends 'layout.twig' %}
{% block body_id 'requisitions_index' %}

{% block main_content %}

    {% set key = app.request.get('type') %}
    {% include 'dashboard/_partial/_' ~ key|default('all') ~ '.twig' %}

{% endblock %}
