{% extends 'layout.twig' %}
{% block main_content %}



    {# sacar un slice de los roles del usuario sin el rol por defecto: ROLE_USER #}
    {% set roles = get_roles_sanetize() %}

    {# verificar que el usuario solo tiene un rol, incluir un partial directamente con el rol del usuario #}
    {% if roles|length == 1 %}

        {% set rol_usuario = roles[0] %}

        {% include 'dashboard/roles/' ~ rol_usuario|lower ~ '.twig' %}

    {% else %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_HELP_CENTER_APPROVER') or is_granted('ROLE_SUPPLIER') %}

            {% if is_granted('ROLE_ADMIN') %}
                {% include 'dashboard/roles/role_admin.twig' %}
            {% elseif is_granted('ROLE_HELP_CENTER_APPROVER') %}
                {% include 'dashboard/roles/role_help_center_approver.twig' %}
            {% elseif is_granted('ROLE_BACKOFFICE') %}
                {% include 'dashboard/roles/role_backoffice.twig' %}
            {% elseif is_granted('ROLE_SUPPLIER') %}
                {% include 'dashboard/roles/role_supplier.twig' %}
            {% endif %}

        {% else %}

            {% set en_proceso = [] %}

            {% set en_apelacion = [] %}

            {% set por_evaluar = [] %}
            {% set por_certificar = [] %}
            {% set history = [] %}
            {% set pepData = dashboard_query_aggregator.getQueryResult('pep.open') %}

            {% if is_granted('ROLE_APPROVER') and is_granted('ROLE_REQUESTER') %}
                {# no puede tener los ROLE_APPROVER y ROLE_REQUESTER #}
            {% elseif is_granted('ROLE_APPROVER') %}
		{% set por_evaluar = por_evaluar|merge(dashboard_query_aggregator.getQueryResult('approver.pending')) %}
                {% set en_proceso = en_proceso|merge(dashboard_query_aggregator.getQueryResult('approver.away')) %}
                {% set por_certificar = por_certificar|merge(dashboard_query_aggregator.getQueryResult('approver.cert')) %}
                {% set history = history|merge(dashboard_query_aggregator.getQueryResult('approver.history')) %}
            {% elseif is_granted('ROLE_REQUESTER') %}
                {% set en_proceso = en_proceso|merge(dashboard_query_aggregator.getQueryResult('requester.open')) %}
                {% set por_evaluar = por_evaluar|merge(dashboard_query_aggregator.getQueryResult('requester.pending')) %}
                {% set history = history|merge(dashboard_query_aggregator.getQueryResult('requester.history')) %}
            {% endif %}

            {% set mostrar_excel = false %}
            {# Roles de ficha #}

            <div class="por-evaluar">
                {{ requisition_status_grid(
                    grid_title = 'Requerimientos por evaluar',
                    requisitions = por_evaluar,
                    view_more_link = path('requisitions_index', { type: 'por_evaluar' })
                ) }}
            </div>

            {{ requisition_status_grid(
                grid_title = 'Requerimientos por certificar',
                requisitions = por_certificar,
                view_more_link = path('requisitions_index', { type: 'por_certificar' })
            ) }}

            {{ requisition_status_grid(
                grid_title = 'Requerimientos en proceso',
                requisitions = en_proceso,
                view_more_link = path('requisitions_index', { type: 'en_proceso' })
            ) }}

            {{ requisition_status_grid(
                grid_title = 'Requerimientos en apelación',
                requisitions = en_apelacion,
                view_more_link = path('requisitions_index', { type: 'en_apelacion' })
            ) }}

            {{ requisition_status_grid(
                grid_title = 'Requerimientos históricos',
                requisitions = history,
                view_more_link = path('requisitions_index', { type: 'history' })
            ) }}

            {% if mostrar_excel %}
                {% include 'dashboard/_partial/descarga_excel.twig' %}
            {% endif %}

            {% if pepData|length %}
                {% include 'dashboard/_partial/pepData.twig' %}
            {% endif %}

            {% if is_granted('ROLE_EMPLOYEE') and app.environment == 'stage' %}
                <div class="col-md-12">
                    {{ interventions_grid() }}
                </div>
            {% endif %}

        {% endif %}

    {% endif %}
    {#{% if is_granted('ROLE_REQUESTER') %}#}
        {#<p style="padding-top: 50px;"><strong>¿Necesitas más información?</strong> <a href="{{ path('contact_index') }}">Contacta a tu Coordinador / Gestor</a></p>#}
    {#{% endif %}#}
{% endblock %}
