{% set routes = {
    'pep.created': 'pep_register',
    'pep.validated': 'pep_checkout',
    'pep.accepted': 'pep_selection',
    'pep.granted': 'pep_grant_preview'
} %}
{% set detail = path(routes[pep.status], { id: pep.id }) %}

<tr>
    <td>{{ pep.createdAt|date('d/m/Y') }}</td>
    <td><a href="{{ detail }}">{{ pep.formNumber }}</a></td>
    <td>
        {{ pep.status|trans }}
    </td>

    <td style="text-align: center">
        {{ pep.description }}
    </td>


    <td style="text-align: center">
        {% if pep.requester.employee.office.name is defined %}
            {{ pep.requester.employee.office.name }}
        {% endif %}
    </td>
    <td style="text-align: center">
        {% if pep.requester.employee is empty %}
            {{ pep.requester.username }}
        {% else %}
            {{ pep.requester.employee.fullname }}
        {% endif %}
    </td>

    <td><a href="{{ detail }}" class="btn btn-sm btn-warning">Revisar</a></td>
    <td>
    </td>
</tr>
