{% extends 'pep/layout.twig' %}
{% import '_partial/macros.twig' as macros %}

{% block body_id 'pep-checkout' %}
{% set workflow_state = 2 %}
    
{% block pep_title %}Validación de proveedores PEP{% endblock %}

{% block company_pep_free %}
    <div class="pep-message panel panel-default">
        <div class="panel-body">
            <p><strong>Proveedor no es PEP</strong></p>
        </div>
    </div>
{% endblock %}

{% block company_pep_info %}
    <div class="pep-message panel panel-default">
        <div class="panel-heading">
            {{ macros.glyphicon('exclamation-sign') }} Persona PEP
        </div>
        <div class="panel-body">
            {% set whom %}
                {% if data.purchaseRange == 'pep.lt_2kuf' %}
                    <strong>Comité de Compras Especiales</strong>
                {% else %}
                    <strong>Comité Ejecutivo</strong> 
                {% endif %}
            {% endset %}
            <p>Para poder adjudicar a esta empresa usted deberá presentar la siguiente documentación al {{ whom }}:</p>
            <ul>
                <li>La existencia de la sociedad, mediante copias de las escrituras e inscripciones correspondientes.</li>
                <li>Identificación de los propietarios de la empresa -accionistas o socios- y de las personas que componen su nivel directivo y los cargos que ocupan, de acuerdo al tipo de sociedad de que se trate.</li>
                <li>Identificarse sus representantes legales, las actividades que desarrolla la empresa, su dirección y números telefónicos</li>
            </ul>

            <p>Una vez obtenida la aprobación del Comité, esta se deberá adjuntarla en el proceso de adjudicación.</p>
        </div>
    </div>
{% endblock %}

{% block company_block %}
    <div class="company-container">
        <div class="panel panel-{{ company.hasPeps ? 'danger' : 'success' }}">
            <div class="panel-heading">
                <strong>{{ macros.glyphicon(company.hasPeps ? 'alert' : 'ok') }} Empresa {{ company.hasPeps ? 'con' : 'sin' }} PEP</strong>
            </div>
            <div class="row col-condensed">
                <div class="col-md-8">
                    <table class="table table-striped company">
                        <tbody>
                            <tr>
                                <th>RUT</th>
                                <td>{{ company.rut }}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ company.name }}</td>
                            </tr>
                            {% if company.type == 0 %}
                                <tr>
                                    <th>Representantes legales</th>
                                    <td>
                                        {% for representative in company.representatives %} 
                                            {{ block('company_representative') }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Accionistas y/o socios</th>
                                    <td>
                                        {% for shareholder in company.shareholders %}
                                            {{ block('company_shareholder') }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% if company.documents|length %}
                                    <tr>
                                        <th>Documentos adjuntos de la empresa</th>
                                        <td>
                                            <table class="table table-striped table-shareholders">
                                            {% for document in company.documents %}
                                                {% for filename, path in document %}
                                                    <tr>
                                                        <td><a href="{{ asset('download/' ~ path) }}">{{ filename }}</a></td> 
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </table>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    {% if company.hasPeps %}
                        {{ block('company_pep_info') }}
                    {% else %}
                        {{ block('company_pep_free') }} 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block company_representative %}
    {% if representative.isPep %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <strong>{{ macros.glyphicon('alert') }} {{ representative.isPep|trans }}</strong>
            </div>
    {% endif %}

    <table class="table table-striped table-representatives">
        <tr>
            <th>RUT</th>
            <td>{{ representative.rut }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ representative.name }}</td>
        </tr>
    </table>

    {% if representative.isPep %}
        </div>
    {% endif %}
{% endblock %}

{% block company_shareholder %}
    <div class="shareholder-container">
        {% if shareholder.isPep %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>{{ macros.glyphicon('alert') }} {{ shareholder.isPep|trans }}</strong>
                </div>
        {% endif %}
        <table class="table table-striped table-shareholders">
            <tr>
                <th>RUT</th>
                <td>{{ shareholder.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ shareholder.name }}</td>
            </tr>
            <tr>
                <th>Porcentaje de participación</th>
                <td>{{ shareholder.share }}%</td>
            </tr>
        </table>
        {% if shareholder.isPep %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block pep_content %}
    <div class="row col-condensed pep-form-block pep-requester">
        <div class="panel panel-default">
            <div class="panel-heading">Número de formulario de registro PEP</div>
            <div class="panel-body">

                <p><label>N° Formulario</label><strong>{{ data.formNumber }}</strong></p>
                <p><label>Fecha Ingreso</label><span>{{ data.createdAt|date('d-m-Y H:i:s') }}</span></p>
                <p><label>Responsable formulario</label><span>{{ employee.fullName|default(user.username) }}</span></p>
                <p><label>Unidad de trabajo</label><span>{{ employee.office.name|default('') }}</span></p>
                <p><label>Teléfono de contacto</label><span>{{ employee.phone|default('') }}</span></p>
                <p><label>Email</label><span>{{ user.email }}</span></p>
            </div>
        </div>
    </div>
    
    <div class="row col-condensed pep-form-block">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Modalidad de compra</div>
                <div class="panel-body">{{ data.purchaseMode|trans }}</div>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block">
        <div class="panel panel-default">
            <div class="panel-heading">Datos de compra</div>
            <div class="panel-body">
                <p><label>Tramo de compra</label>{{ data.purchaseRange|trans }}</p>
                <p><label>Breve descripción de compra</label>{{ data.description }}</p>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block companies">
        <div class="panel panel-default">
            <div class="panel-heading">Registro de proveedores</div>
            <div class="panel-body">
                {% for company in data.companies %}
                    {{ block('company_block') }}
                {% endfor %}
            </div>
        </div>
    </div>

    {% set restriction = false %}
    {% for company in data.companies %}
        {% set restriction = company.hasPeps %}
    {% endfor %}

    {% if restriction %}
        <div class="row col-condensed pep-form-block">
            <div class="panel panel-default">
                <div class="panel-heading">Medidas restrictivas</div>
                <div class="panel-body">
                    {%- for k in data.companies -%}
                        {% if k.hasPeps %}
                            <p><label>MR 4-51</label><span>Empresa {{ loop.index }} requiere aprobación PEP</span></p>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row col-condensed pep-form-block">
        <div class="panel panel-default">
            <div class="panel-heading">Normativa PEP</div>
            <div class="panel-body">
                <p>Se entenderá como personas expuestas políticamente (PEP), a los chilenos o extranjeros que desempeñen o hayan desempeñado funciones públicas
        destacadas en algún país, Chile inclusive, a lo menos hasta un año de finalizado el ejercicio de las mismas. Se incluyen en esta categoría los jefes de
        estado o de un gobierno, políticos de alta jerarquía (entre ellos, a los miembros de mesas direc-tivas de partidos políticos), funcionarios
        gubernamentales, judiciales o militares de alta jerarquía, altos ejecutivos de empresas estatales, así como sus cónyuges, sus parientes hasta el
        segundo grado de consanguinidad y las personas naturales con las que hayan celebrado un pacto de actuación conjunta mediante el cual tengan poder
        de voto suficiente para influir en sociedades constituidas en Chile.</p>

                <p>De acuerdo con lo anterior, se entiende que en Chile a lo menos deberán estar calificados como PEP, sin que este enunciado sea taxativo:</p>

                <ul>
                    <li>Presidente de la República, senadores, diputados y alcaldes.</li>
                    <li>Ministros de la Corte Suprema y de las Cortes de Apelaciones.</li>
                    <li>Ministros de Estado, subsecretarios, intendentes, gobernadores, secretarios regionales ministeriales, embajadores, jefes superiores de servicios tanto centralizados como descentralizados y el directivo superior inmediato que deba subro-gar a cada uno de ellos.</li>
                    <li>Comandantes en Jefe de las Fuerzas Armadas, General Director de Carabineros, Director General de Investigaciones y el superior inmediato que deba subrogar a cada uno de ellos.</li>
                    <li>Directores y ejecutivos principales de empresas estatales, según lo definido en la Ley Nº 18.045.</li>
                    <li>Directores de sociedades anónimas nombrados por el Estado o sus organismos.</li>
                    <li>Miembros de las directivas de los partidos políticos.</li>
                    <li>Fiscal Nacional del Ministerio Público y Fiscales Regionales.</li>
                    <li>Contralor General de la República.</li>
                    <li>Consejeros del Banco Central de Chile.</li>
                    <li>Presidente y Consejeros del Consejo de Defensa del Estado.</li>
                    <li>Ministros del Tribunal Constitucional.</li>
                    <li>Ministros del Tribunal de la Libre Competencia.</li>
                    <li>Integrantes titulares y suplentes del Tribunal de Contratación Pública.</li>
                    <li>Miembros del Consejo de Alta Dirección Pública.</li>
                </ul>

                <p>{{ macros.glyphicon('file') }}<a href="{{ asset('download/Política_PEP.doc') }}">Política PEP</a></p>
                <p>{{ macros.glyphicon('file') }}<a href="{{ asset('download/Circular_3769.doc') }}">Circular 3769</a></p>
            </div>
        </div>
    </div>

    <div class="pull-left">
        <h4>
            <label for="accept-pep-policy">
                <input id="accept-pep-policy" type="checkbox" /> Declaro conocer y aceptar cada uno de los términos y condiciones de la normativa PEP.
            </label> 
        </h4>
    </div>

    <div id="pep_validation_continue" 
        class="row col-condensed pep-form-block pull-right"
        data-accept="{{ path('pep_accept', { id: data.id }) }}">
        <a href="{{ path('dashboard') }}" class="btn btn-default">Aceptar y guardar</a>
        <a href="{{ path('pep_selection', { id: data.id }) }}" class="btn btn-success">Aceptar y continuar</a>
    </div>

    <script>
        var policyAccepted = false;
        $('#pep_validation_continue').hide().find('a').on('click',function (e) {
            e.preventDefault();

            var self = $(this);
            var accept = $.post($(this).parent().data('accept'), {});

            accept.done(function (data) {
                window.location.href = self.attr('href');
            });

            accept.fail(function() {
                alert('Ha ocurrido un error al procesar el evento');
            });
        });

        $('#accept-pep-policy').on('change', function (e) {
            $('#pep_validation_continue').css('display', $(this).is(':checked') ? 'block' : 'none');
        });
    </script>
{% endblock %}