{% extends 'pep/layout.twig' %}

{% block body_id 'pep-grant' %}

{% set workflow_state = 3 %}
{% set selected = data.selectedCompany %}

{% block pep_title %}Adjudicación{% endblock %}

{% block pep_content %}
    <div class="row col-condensed pep-form-block pep-requester">
        <h4>Número de formulario de registro PEP</h4>
        <p class="intro">El número de correlativo debe ser usado en todos los documentos que respaldan la compra (acta de adjudicación,orden de compra, solicitud de compra)</p>

        <p><label>N° Formulario</label><strong>{{ data.formNumber }}</strong></p>
        <p><label>Fecha de ingreso</label><span>{{ data.createdAt|date('d-m-Y H:i:s') }}</span></p>
        <p><label>Responsable formulario</label><span>{{ employee.fullName|default(user.username) }}</span></p>
        <p><label>Unidad de trabajo</label><span>{{ employee.office.name|default('') }}</span></p>
        <p><label>Teléfono de contacto</label><span>{{ employee.phone|default('') }}</span></p>
        <p><label>Email</label><span>{{ user.email }}</span></p>
    </div>
    
    <div class="row col-condensed pep-form-block">
        <div class="col-md-6">
            <h4>Modalidad de compra</h4>
            {{ data.purchaseMode|trans }}
        </div>
    </div>

    <div class="row col-condensed pep-form-block">
        <h4>Datos de compra</h4>
        <p><label>Tramo de compra</label>{{ data.purchaseRange|trans }}</p>
        <p><label>Breve descripción de compra</label>{{ data.description }}</p>
    </div>

    <div class="row col-condensed pep-form-block companies">
        <h4>Proveedor adjudicado</h4>
        {% set company = selected %}
        <div class="company-container">
            <div class="row col-condensed">
                <div class="col-md-8">
                    <table class="table table-condensed table-borderless company">
                        <tbody>
                            <tr>
                                <th>RUT</th>
                                <td>{{ company.rut }} {% if company.type == 1 %}{% if company.isPep %}<strong style="color:red">({{ (company.isPep is iterable ? company.isPep[0] : company.isPep)|trans }})</strong>{% else %}<strong style="color:green">(No es PEP)</strong>{% endif %}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ company.name }}</td>
                            </tr>
                            {% if company.type == 0 %}
                                <tr>
                                    <th>Representantes legales</th>
                                    <td>
                                        {% for representative in company.representatives %}
                                        <table class="table table-condensed table-representatives">
                                            <tr>
                                                <th>RUT representante legal</th>
                                                <td>{{ representative.rut }} {% if representative.isPep %}<strong style="color:red">({{ representative.isPep|trans }})</strong>{% else %}<strong style="color:green">(No es PEP)</strong>{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre representante legal</th>
                                                <td>{{ representative.name }}</td>
                                            </tr>
                                        </table>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Accionistas y/o socios</th>
                                    <td>
                                        {% for shareholder in company.shareholders %}
                                        <div class="shareholder-container">
                                            <table class="table table-condensed table-shareholders">
                                                <tr>
                                                    <th>RUT accionista o socio</th>
                                                    <td>{{ shareholder.rut }} {% if shareholder.isPep %}<strong style="color:red">({{ shareholder.isPep|trans }})</strong>{% else %}<strong style="color:green">(No es PEP)</strong>{% endif %}</td>
                                                </tr>
                                                <tr>
                                                    <th>Nombre accionista o socio</th>
                                                    <td>{{ shareholder.name }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Porcentaje de participación</th>
                                                    <td>{{ shareholder.share }}%</td>
                                                </tr>
                                            </table>
                                        </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if selected.hasPeps %}
        <div class="row col-condensed pep-form-block">
            <h4>PEP</h4>

            {% if data.purchaseRange == 'pep.lt_2kuf' %}
                <p>Compras hasta los 2000 UF deben pasar por Comité de compras especiales para su aprobación</p>
                <p>Para poder adjudicar a esta empresa usted deberá presentar la siguiente documentación al Comité de Compras Especiales:</p>
            {% elseif data.purchaseRange == 'pep.gt_2kuf' %}
                <p>Compras superior a 2000 UF deben pasar por Comité Ejecutivo para su aprobación</p>
                <p>Para poder adjudicar a esta empresa usted deberá presentar la siguiente documentación:</p>
            {% endif %}

            <ul>
                <li>La existencia de la sociedad, mediante copias de las escrituras e inscripciones correspondientes.</li>
                <li>Identificación de los propietarios de la empresa -accionistas o socios- y de las personas que componen su nivel directivo y los cargos que ocupan, de acuerdo al tipo de sociedad de que se trate.</li>
                <li>Identificarse sus representantes legales, las actividades que desarrolla la empresa, su dirección y números telefónicos.</li>
            </ul>
            
            <p>Una vez obtenida la aprobación del Comité, esta se deberá adjuntarla en el proceso de adjudicación.</p>
        </div>

        <div class="row col-condensed pep-form-block">
            {% if data.certification|length %}
                <h4>Documento de validación</h4>
                <p style="margin-top:30px">
                    {% for filename, path in data.certification %}
                        <i class="glyphicon glyphicon-file" aria-hidden="true"></i> <a href="{{ asset('download/' ~ path) }}">{{ filename }}</a>
                    {% endfor %}
                </p>
            {% else %}
                <h4>Adjuntar documento de validación</h4>
                <p>Busque y seleccione el archivo que quiera adjuntar. El tamaño de los archivos debe ser de 20MB como máximo</p>

                <h4>
                    <label style="width: 100%">
                        <input type="checkbox" id="check-certification" />  Declaro haber validado esta operación en la instancia correspondiente
                    </label>
                </h4>
                <form id="send-attachments" method="POST" name="attach-certification"
                    action="{{ path('pep_attach', { id: data.id }) }}" enctype='multipart/form-data'>
                    <input id="grant-attachments" type="file" multiple="true" name="attachments" disabled required />
                </form>
            {% endif %}
        </div>
    {% endif %}

    <div class="row col-condensed pep-form-block pull-right">
        <a href="{{ path('pep_render_doc', { id: data.id }) }}" target="_blank" class="btn btn-danger">Exportar a PDF</a>
        {% if data.certification|length %}
            <a href="{{ path('dashboard') }}" class="btn btn-warning">Aceptar</a>
        {% else %}
            <button id="complete-pep" class="btn btn-warning" {% if selected.hasPeps %}disabled{% endif %}>Aceptar</button>
        {% endif %}
    </div>

    <div id="modal-finish" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Este documento deberá adjuntarlo a la documentación del proceso de compra que se encuentra desarrollando.</h4>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('pep_render_doc', { id: data.id }) }}" class="btn btn-default" target="_blank">Ver documento</a>
                    <a href="{{ path('dashboard') }}" class="btn btn-warning">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if selected.hasPeps %}
            $('#check-certification').on('change', function() {
                $('#grant-attachments').attr('disabled', !$(this).is(':checked'));
            });

            $('#grant-attachments').on('change', function() {
                $('#complete-pep').attr('disabled', !$(this).val());
            });

            $('#complete-pep').on('click', function(e) {
                e.preventDefault();
                var form = $('#send-attachments');

                $.ajax({
                    url: form.attr('action'),
                    data: new FormData(form.get(0)),
                    processData: false,
                    contentType: false
                }).done(function (data) {
                    $('#modal-finish').modal();
                }).fail(function() {
                    alert('Ha ocurrido un error al guardar el archivo');
                });
            });
        {% else %}
            $('#complete-pep').on('click', function(e) {
                e.preventDefault();
                $('#modal-finish').modal();
            });
        {% endif %}
    </script>
{% endblock %}