{% extends 'pep/layout.twig' %}
{% import '_partial/macros.twig' as macros %}
{% form_theme form 'form_theme.twig' %}

{% block body_id 'pep-index' %}
{% block pep_title %}Inicio del proceso de registro de validación de proveedores PEP{% endblock %}

{% macro shareholder_widget(form) %}
{% spaceless %}
    <tr class="removable-item">
        <td class="table-col-stretch">
            {{ form_widget(form.rut) }} 
            <span>{{ form_errors(form.rut) }}</span>
        </td>
        <td>{{ form_widget(form.name) }}  <small>{{ form_errors(form.name) }}</small></td>
        <td class="table-col-stretch">
            <div class="input-group">
                {{ form_widget(form.share, {
                    attr: { min: 1, max: 100, style: 'text-align:right', class: 'form-control' }
                }) }} 
                <span class="input-group-addon">%</span>
            </div>
            <small>{{ form_errors(form.share) }}</small>
        </td>
        <td>    
            <button class="btn btn-sm btn-danger btn-remove-item">Eliminar</button>
        </td>
    </tr>
{% endspaceless %}
{% endmacro %}

{% macro representative_widget(form) %}
{% spaceless %}
    <tr class="removable-item">
         <td class="table-col-stretch">
            {{ form_widget(form.rut) }} 
            <span>{{ form_errors(form.rut) }}</span>
        </td>
        <td>{{ form_widget(form.name) }}  <small>{{ form_errors(form.name) }}</small></td>
        <td class="table-col-stretch">    
            <button class="btn btn-sm btn-danger btn-remove-item">Eliminar</button>
        </td>
    </tr>
{% endspaceless %}
{% endmacro %}

{% macro document_widget(form) %}
{% spaceless %}
    <tr class="removable-item">
        <td>{{ form_widget(form) }}</td>
        <td class="table-col-stretch">    
            <button class="btn btn-sm btn-danger btn-remove-item btn-remove-document">Eliminar</button>
        </td>
    </tr>
{% endspaceless %}
{% endmacro %}

{% macro company_type(form) %}
{% spaceless %}
    {% import _self as macros %}

    <div class="form-group">
        <label class="col-sm-2 control-label">Representantes legales</label>
        <div class="col-sm-10">
            <table class="table table-condensed table-striped">
                <thead>
                    <th class="table-col-stretch">RUT</th>
                    <th>Nombre completo</th>
                    <th class="table-col-stretch"></th>
                </thead>
                {% set representative_proto %}
                    {{ macros.representative_widget(form.representatives.vars.prototype)|e }}
                {% endset %}
                <tbody id="repre__company_name__" data-prototype="{{ representative_proto }}">
                    {% for repre in form.representatives %}
                        {{ macros.representative_widget(repre) }}
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-add btn-add-representative btn-warning pull-right" 
                    data-target="repre__company_name__"
                    data-proto-name="__company_representative_name__">Agregar representante legal</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Accionistas y/o socios</label>
        <div class="col-sm-10">
            <table class="table table-condensed table-striped">
                <thead>
                    <th class="table-col-stretch">RUT</th>
                    <th>Nombre completo</th>
                    <th class="table-col-stretch" style="white-space: nowrap">Porcentaje de participación</th>
                    <th class="table-col-stretch"></th>
                </thead>
                {% set shareholder_proto %}
                    {{ macros.shareholder_widget(form.shareholders.vars.prototype)|e }}
                {% endset %} 
                <tbody id="share__company_name__" data-prototype="{{ shareholder_proto }}">
                    {% for share in form.shareholders %}
                        {{ macros.shareholder_widget(share) }}
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-add btn-add-shareholder btn-warning pull-right" 
                    data-target="share__company_name__"
                    data-proto-name="__company_shareholder_name__">Agregar accionista/socio</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Adjuntar documentos de la empresa</label>
        <div class="col-sm-10">
            <table class="table table-condensed table-striped">
                <thead>
                    <th>Documento</th>
                    <th class="table-col-stretch"></th>
                </thead>
                {% set document_proto %}
                    {{ macros.document_widget(form.documents.vars.prototype)|e }} 
                {% endset %}
                <tbody id="document__company_name__" data-prototype="{{ document_proto }}">
                    {% for document in form.documents %}
                        {{ macros.document_widget(document) }}
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-add btn-warning pull-right" 
                data-target="document__company_name__"
                data-proto-name="__company_document_name__">Adjuntar documento</button>
        </div>
    </div>

    <h4>Registro por planilla</h4>
    <p>Descargue archivo Excel, complete los datos sin modificar las columnas y luego suba el archivo</p> 
    <p><i class="glyphicon glyphicon-file" aria-hidden="true"></i> <a href="{{ asset('download/REGISTRO_EMPRESAS_PEP.XLSX') }}">Registro de empresas PEP</a></p>
    <div class="clearfix pep-form-block">
        {{ form_widget(form.template, {
            attr: { 
                class: 'company-load-template',
                'data-target': '#pep_validation_companies_' ~ form.vars.name,
                'data-action': path('pep_load_template')
            }
        })}}
    </div>

    <button class="btn btn-remove btn-danger btn-remove-company btn-remove-item pull-right">Eliminar empresa</button>
{% endspaceless %} 
{% endmacro %}

{% macro company_widget(form) %}
    {% import _self as macros %}

    <div id="pep_validation_companies_{{ form.vars.name }}" 
         class="panel panel-default removable-item company">
        <div class="panel-body">
            <h4>Registro manual</h4>
            <p>Debe llenar los campos con los datos de las empresas y/o personas naturales que participarán en el proceso (en el caso de una licitación, tres o más).</p>

            {{ form_row(form.type, { attr: { class: 'company-type-selector col-md-6' }}) }}

            <hr />

            {{ form_row(form.name) }}
            {{ form_row(form.rut) }}

            <div class="company-type-form type-form">
                {{ macros.company_type(form) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% block companies_widget %}
    {% import _self as macros %}

    {% set company_proto %}
        {{ macros.company_widget(form.companies.vars.prototype)|e }}
    {% endset %}

    {% set modeclass = form.purchase_mode.vars.value|replace({'.': '-'}) %}
        
    <div id="companies" class="pep-form-block {{ modeclass }}" data-prototype="{{ company_proto }}">
        {% for company in form.companies %}
            {{ macros.company_widget(company) }}
        {% endfor %}
    </div> 

    <button class="btn btn-add btn-warning pull-right" 
        data-target="companies"
        data-proto-name="__company_name__"
        data-callback="addDefaultItems">Agregar empresa</button>
{% endblock %}

{% block pep_content %}
    {{ form_start(form) }}
        <div class="row col-condensed pep-form-block">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Modalidad de compra</div>
                    <div class="panel-body">{{ form_widget(form.purchase_mode) }}</div>
                </div>
            </div>
        </div>

        <div class="row col-condensed pep-form-block">
            <div class="panel panel-default">
                <div class="panel-heading">Datos de compra</div>
                <div class="panel-body">
                    {{ form_row(form.purchase_range, { label: 'Tramo de compra' }) }}
                    {{ form_row(form.description, { label: 'Breve descripción de compra' }) }}
                </div>
            </div>
        </div>

        <div id="suppliers-register" class="row col-condensed pep-form-block">
            <div class="panel panel-default">
                <div class="panel-heading">Registro de proveedores</div>
                <div class="panel-body">
                    <p>Puede escoger entre dos opciones: ingresar directamente los datos de las empresas en el formulario, o enviar el archivo Excel al proveedor de su interés para que complete la información y luego subir el documento en el área de registro de proveedores.</p>

                    {{ block('companies_widget') }}
                </div>
            </div>
        </div>

        <div class="alert alert-warning pull-left" role="alert">
            <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
            Los datos ingresados son responsabilidad del usuario que se encuentra generando la ficha.
        </div>

        <div class="clearfix pull-right pep-form-block">
            {{ form_widget(form.submit, {
                label: 'Continuar',
                attr: { class: 'btn-warning', formnovalidate: true }
            }) }}
        </div>

        {% do form.companies.setRendered %}

        {{ form_rest(form) }}
    {{ form_end(form) }}

    <script>
        var register = $('#suppliers-register');
        var companies = $('#companies');
        var selector = $('#pep_validation_purchase_mode').find('input[type=radio]');
        var addCompany = $('.btn-add[data-target=companies]');

        addCompany.hide();

        $('.company-type-selector').each(function (i, e) {
            if ($(e).val() == '1') {
                $(e).closest('.panel-body').find('.company-type-form').hide();
            }
        });

        $(document).on('change', '.company-type-selector', function (e) {
            var partyType = $(this).val();
            var parent = $(this).closest('.panel-body');
            var companyForm = parent.find('.company-type-form');
            companyForm.hide();

            switch (partyType) {
                case '0': companyForm.show(); break;
                case '1': companyForm.hide(); break;
            }
        });

        selector.on('change', function (e) {
            var purchaseMode  = $(this).val();
            var minCompanies = {
                'pep.private': 3,
                'pep.direct' : 1
            };

            companies.removeClass('pep-direct pep-private');
            companies.addClass(purchaseMode.replace('.', '-'));
            companies.find('.btn-remove-item').each(function (i, e) {
                $(e).trigger('click');
            });

            _(minCompanies[purchaseMode]).times(function (i) {
                addCompany.trigger('click');
            });

            addCompany[purchaseMode == 'pep.direct' ? 'hide' : 'show']();
        });

        var addDefaultItems = function (button, holder) {
            var last = companies.children().last();
            last.find('.btn-add-representative').trigger('click');
            last.find('.btn-add-shareholder').trigger('click');
            last.find('.company-type-selector').trigger('change');
        }

        $(document).on('change', '.company-load-template', function (e) {
            $(this).attr('name', 'template');

            var source = $(this).data('action');
            var target = $(this).data('target');
            var slot = $(target);
            var reprAdd = slot.find('.btn-add-representative');
            var sharAdd = slot.find('.btn-add-shareholder');
            var form = $(this).closest('form');
            form.attr('novalidate', 'novalidate');

            var fields = {
                name: slot.find(target + '_name'),
                rut:  slot.find(target + '_rut'),
                add: {
                    representative: reprAdd,
                    shareholder: sharAdd
                },
                slots: {
                    representatives: $('#' + reprAdd.data('target')),
                    shareholders: $('#' + sharAdd.data('target'))
                }
            };

            var clearForm = function(slot) {
                form.removeAttr('novalidate');
                slot.find('td > .btn-remove-item').trigger('click');
            };

            var fillForm = function (data, fields, slot) {
                fields.name.val(data.name);
                fields.rut.val(data.rut);

                rs = fields.slots.representatives;
                $.each(data.representatives, function (i, r) {
                    fields.add.representative.trigger('click');
                    var inputs = rs.find('tr:last > td > input');
                    $($(inputs).get(0)).val(r.rut)
                    $($(inputs).get(1)).val(r.name)
                });

                ss = fields.slots.shareholders;
                $.each(data.shareholders, function (i, s) {
                    fields.add.shareholder.trigger('click');
                    var inputs = ss.find('tr:last > td input');
                    $($(inputs).get(0)).val(s.rut)
                    $($(inputs).get(1)).val(s.name)
                    $($(inputs).get(2)).val(s.share)
                });
            };

            $.ajax({
                url: source,
                data: new FormData(form.get(0)),
                processData: false,
                contentType: false
            }).done(function (data) {
                clearForm(slot);
                fillForm(data, fields, slot);
            }).fail(function() {
                clearForm(slot);
            });
        });
    </script>
{% endblock %}