{% extends 'pep/layout.twig' %}

{% block body_id 'pep-register' %}

{% block pep_title %}Validación de proveedores PEP{% endblock %}

{% block pep_content %}
    <div class="row col-condensed pep-form-block">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Modalidad de compra</div>
                <div class="panel-body">{{ data.purchaseMode|trans }}</div>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block">
        <div class="panel panel-default">
            <div class="panel-heading">Datos de compra</div>
            <div class="panel-body">
                <p><label>Tramo de compra</label>{{ data.purchaseRange|trans }}</p>
                <p><label>Breve descripción de compra</label>{{ data.description }}</p>
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block companies">
        <div class="panel panel-default">
            <div class="panel-heading">Registro de proveedores</div>
            <div class="panel-body">
                {% for company in data.companies %}
                <table class="table table-striped company">
                    <tbody>
                        <tr>
                            <th>RUT</th>
                            <td>{{ company.rut }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ company.name }}</td>
                        </tr>
                        {% if company.type == 0 %}
                        <tr>
                            <th>Representantes legales</th>
                            <td>
                                {% for representative in company.representatives %}
                                <table class="table table-striped table-representatives">
                                    <tr>
                                        <th>RUT</th>
                                        <td>{{ representative.rut }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ representative.name }}</td>
                                    </tr>
                                </table>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Accionistas y/o socios</th>
                            <td>
                                {% for shareholder in company.shareholders %}
                                <table class="table table-striped table-shareholders">
                                    <tr>
                                        <th>RUT</th>
                                        <td>{{ shareholder.rut }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ shareholder.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Porcentaje de participación</th>
                                        <td>{{ shareholder.share }}%</td>
                                    </tr>
                                </table>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Documentos adjuntos de la empresa</th>
                            <td>
                                <table class="table table-striped table-shareholders">
                                {% for document in company.documents %}
                                    {% for filename, path in document %}
                                        <tr>
                                            <td><a href="{{ asset('download/' ~ path) }}">{{ filename }}</a></td> 
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row col-condensed pep-form-block pull-right">
        <a href="{{ path('pep_edit', { id: data.id }) }}" class="btn btn-default">Editar</a>
        <a href="{{ path('pep_checkout', { id: data.id }) }}" class="btn btn-success">Aceptar</a>
    </div>
{% endblock %}