{% set state = workflow_state|default(1) %}

<div class="pep-workflow solicitud-workflow">
    <div class="workflow-line"></div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-1">
        <div class="solicitud-workflow-content">
            <div class="solicitud-workflow-number {% if state == 1 %}workflow-active{% endif %}">1</div>
            <div class="solicitud-workflow-text ">Ingreso</div>
        </div>
    </div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-2">
        <div class="solicitud-workflow-content">
            <div class="solicitud-workflow-number {% if state == 2 %}workflow-active{% endif %}">2</div>
            <div class="solicitud-workflow-text">Validación</div>
        </div>
    </div>
    
    <div class="solicitud-workflow-step solicitud-workflow-step-3">
        <div class="solicitud-workflow-content">
            <div class="solicitud-workflow-number {% if state == 3 %}workflow-active{% endif %}">3</div>
            <div class="solicitud-workflow-text">Registro</div>
        </div>
    </div>
</div>