<div class="backoffice_title">
    <h4>Alertas</h4>
</div>
<div id="bo_alerts" class="bo_alerts">
</div>
<script>
    $(document).ready(function() {
        renderAlerts();
    });

    function renderAlerts () {
        var url = "{{path('backoffice_alerts', {type: 'all'})}}";
        $.post(url).done(function (data) {
            $('.bo_alerts').html(data[0].content);
        });
    }

    (function worker() {
        renderAlerts();
        setTimeout(worker, 15000);
    })();

</script>
