{% if env is  not defined %}
    {% set env = {
    'type':         'requisition.products',
    'form_id':      'form-products-search',
    'render_area':  'search_general',
    'route':        'backoffice_search_requisition'
    } %}

{% endif %}
<div class="row">
    <div class="col-md-11">
    <div class="backoffice_title">
        <h4>Filtrar información por: </h4>
    </div>
    <div>
        {% if formSearchProducts is defined %}
            {{ form(formSearchProducts, {attr: {id: env.form_id, 'novalidate': 'novalidate'} }) }}
        {% elseif formSearchRequirements is defined %}
            {{ form(formSearchRequirements, {attr: {id: env.form_id, 'novalidate': 'novalidate'} }) }}
        {#{% elseif formSearchPeps is defined %}
            {{ form(formSearchPeps, {attr: {id: env.form_id, 'novalidate': 'novalidate'} }) }}#}
        {% endif %}
    </div>
    </div>
</div>
<style>
    .row {
        margin-top:    5px !important;
        margin-bottom: 10px !important;
    }
</style>
<script>

    $(document).ready(function(){
        $("#back_office_search_requisition_type").trigger("change");
    });

    var url  = "{{path(env.route, {type: env.type})}}";
    var btn = $("#back_office_search_requisition_search");
    $('#{{ env.form_id }}').on('submit', function (e) {
        e.preventDefault();
        btn.button('loading');
        $.post(url, $(this).serialize()).done(function (data) {
            $('#{{ env.render_area }}').html(data[0].content);
            if ($( "table:contains('{{ env.type }}_data_table')" )) {
                $('#data_table').DataTable();
                btn.button('reset');
            }
        });
    });

    $('#back_office_search_requisition_requesterName').select2({
        theme: 'bootstrap',
        ajax: {
            url: '{{ path('find_user_byname') }}',
            results: function (data) {
                return { results: data }
            }
        },
        placeholder: 'Escriba un nombre de usuario'
    });



    $("#back_office_search_requisition_type").change(function () {
        $('#back_office_search_requisition_category').select2({
            theme: 'bootstrap',
            ajax: {
                url: '/backoffice/categorias/'+ $(this).val(),
                method: 'GET',
                results: function (data) {
                    return { results: data }
                }
            },
            placeholder: 'Escriba nombre de categoría'
        });
    });
    $("#back_office_search_requisition_category").change(function () {
        $('#back_office_search_requisition_sub_category_1').select2({
            theme: 'bootstrap',
            ajax: {
                url: '/backoffice/sub-categorias/'+ $(this).val(),
                method: 'GET',
                results: function (data) {
                    return { results: data }
                }
            },
            placeholder: 'Escriba nombre de sub-categoría'
        });
    });

    $("#back_office_search_requisition_sub_category_1").change(function () {
        $('#back_office_search_requisition_sub_category_2').select2({
            theme: 'bootstrap',
            ajax: {
                url: '/backoffice/sub-categorias/'+ $(this).val(),
                method: 'GET',
                results: function (data) {
                    return { results: data }
                }
            },
            placeholder: 'Escriba nombre de sub-categoría'
        });
    });

    $("#back_office_search_requisition_sub_category_2").change(function () {
        $('#back_office_search_requisition_sub_category_3').select2({
            theme: 'bootstrap',
            ajax: {
                url: '/backoffice/sub-categorias/'+ $(this).val(),
                method: 'GET',
                results: function (data) {
                    return { results: data }
                }
            },
            placeholder: 'Escriba nombre de sub-categoría'
        });
    });

    $('#back_office_search_requisition_requesterUserName').select2({
        theme: 'bootstrap',
        ajax: {
            url: '{{ path('find_user') }}',
            results: function (data) {
                return { results: data }
            }
        },
        placeholder: 'Escriba un nombre de usuario'
    });

    $( "#back_office_search_requisition_requesterName" ).on("select2:selecting", function(e) {
        $( "#back_office_search_requisition_requesterUserName" ).select2('val','');
    });

    $( "#back_office_search_requisition_requesterUserName" ).on("select2:selecting", function(e) {
        $( "#back_office_search_requisition_requesterName" ).select2('val','');
    });

    $( "#back_office_search_requisition_sub_category_2" ).on("select2:selecting", function(e) {
        $( "#back_office_search_requisition_sub_category_3" ).select2('val','');
    });

    $( "#back_office_search_requisition_sub_category_1" ).on("select2:selecting", function(e) {
        $( "#back_office_search_requisition_sub_category_2" ).select2('val','');
        $( "#back_office_search_requisition_sub_category_3" ).select2('val','');
    });

    $( "#back_office_search_requisition_category" ).on("select2:selecting", function(e) {
        $( "#back_office_search_requisition_sub_category_1" ).select2('val','');
        $( "#back_office_search_requisition_sub_category_2" ).select2('val','');
        $( "#back_office_search_requisition_sub_category_3" ).select2('val','');
    });

    $( "#back_office_search_requisition_type" ).on("select2:selecting", function(e) {
        $( "#back_office_search_requisition_category" ).select2('val','');
        $( "#back_office_search_requisition_sub_category_1" ).select2('val','');
        $( "#back_office_search_requisition_sub_category_2" ).select2('val','');
        $( "#back_office_search_requisition_sub_category_3" ).select2('val','');
    });

    $( "#back_office_search_requisition_reset" ).on("click", function(e) {
        $( "#back_office_search_requisition_type" ).val('').change();
        $( "#back_office_search_requisition_category" ).val('').change();
        $( "#back_office_search_requisition_sub_category_1" ).val('').change();
        $( "#back_office_search_requisition_sub_category_2" ).val('').change();
        $( "#back_office_search_requisition_sub_category_3" ).val('').change();
        $( "#back_office_search_requisition_requesterUserName" ).val('').change();
        $( "#back_office_search_requisition_requesterName" ).val('').change();
        $( "#back_office_search_requisition_city" ).val(0).change();
        $( "#back_office_search_requisition_region" ).val(0).change();
        $( "#back_office_search_requisition_office" ).val('').change();
        $( "#back_office_search_requisition_status" ).val('requisition.all').change();
        $( "#back_office_search_requisition_supplier" ).val('').change();
        $( "#back_office_search_requisition_approver" ).val('').change();
        $( "#back_office_search_requisition_in_sla" ).val('all_sla').change();
        $( "#back_office_search_requisition_orderNumber" ).val('');
        $( "#back_office_search_requisition_createdAt" ).val('');
    });

</script>

