{% if results is null %}
    <h2>No hay resultados para mostrar o no seleccionó al menos un filtro</h2>
{% else %}
    <div class="pull-right"><button type="button" id="export_search" name="" class="pull-right btn btn-sm btn-success btn">Exportar búsqueda</button></div>
    {% if in_sla is not defined and in_sla != false %}{% set in_sla = "" %}{% endif %}
    {{ requisition_status_grid(
        title_tag = 'h2',
        grid_title = 'Resultados de la búsqueda'|trans,
        requisitions = results,
        hide_if_empty = true,
        empty_text = 'No tiene solicitudes en el registro',
        dataSlice = 5,
        titleTag = 'h3',
        itemRoute = 'requisition_detail',
        customTemplate = '_status_grid_backoffice.twig',
        hide_view_more = true,
        attributes = {
            'id'        : 'data_table',
            'data-table': true,
            'data-searching': false,
            'data-page-length': 10,
            'data-order': [[1, 'desc']],
            'in_sla' : in_sla

        },
        type = table_type
        )
    }}
{% endif %}

<script>
    $('#export_search').click(function () {
        var url  = '{{ path('backoffice_complete_report_requisition') }}';
        var region = $('#back_office_search_requisition_region').select2('data')[0].text;
        var city   = $('#back_office_search_requisition_city').select2('data')[0].text;
        var status = $('#back_office_search_requisition_status').val();
        var type = $('#back_office_search_requisition_type').val();
        var category = $('#back_office_search_requisition_category').val();
        var sub_category_1 = $('#back_office_search_requisition_sub_category_1').val();
        var sub_category_2 = $('#back_office_search_requisition_sub_category_2').val();
        var sub_category_3 = $('#back_office_search_requisition_sub_category_3').val();
        var in_sla = $('#back_office_search_requisition_in_sla').val();

        var data = {
            orderNumber: $('#back_office_search_requisition_orderNumber').val(),
            office:      $('#back_office_search_requisition_office').val(),
            createdAt:   $('#back_office_search_requisition_createdAt').val(),
            region:      region,
            city:        city,
            type:        type,
            status:      status,
            requesterName:    $('#back_office_search_requisition_requesterName').val(),
            approver:    $('#back_office_search_requisition_approver').val(),
            supplier:    $('#back_office_search_requisition_supplier').val(),
            requesterUserName:    $('#back_office_search_requisition_requesterUserName').val(),
            category : category,
            sub_category_1: sub_category_1,
            sub_category_2: sub_category_2,
            sub_category_3: sub_category_3,
            in_sla : in_sla
        };
        window.location.href = url +'?data='+ JSON.stringify(data);
    });
</script>
