{% if view == 'show' %}
    <ul>
    {% for entity in value %}
    	{% if entity.name is defined  %}
        	<li> {{entity.name}} </li>
    	{% elseif entity.username is defined %}
    		<li> {{entity.username}} </li>
		{% else %}
			<li> ~ </li>
    	{% endif %}
    {% endfor %}
    </ul>
{% else %}
    {% set colors = field_options.label_colors|default(['primary']) %}
    {% for entity in value %}
    	{% if entity.name is defined  %}
        	<span class="label label-{{ cycle(colors, loop.index) }}"> {{entity.name}}  </span>
    	{% elseif entity.username is defined %}
        	<span class="label label-{{ cycle(colors, loop.index) }}"> {{entity.username}}  </span>
        {% else %}
        	<span class="label label-{{ cycle(colors, loop.index) }}"> ~ </span>
        {% endif %}
    {% endfor %}
{% endif %}