<div class="text-center">
    <input type="checkbox"
           data-enable-manual="{{ path('tionvel_bidding_admin_enable_manual', { id: item.id }) }}"
           {% if item.enableManual %}checked{% endif %}
           style="display:inline-block!important;cursor:pointer"
    >
</div>

