{% trans_default_domain 'TionvelBiddingBundle' %}
{% import '@TionvelBidding/Bidding/process.html.twig' as macros %}

{% set content %}
    <table class="table table-condensed table-suppliers">
        <thead style="background:#444;color:black">
            <tr>
                <th>Rut</th>
                <th style="width:30%">Nombre</th>
                <th>Estado de oferta</th>
                <th>Adjudicado</th>
                <th>Precio oferta</th>
                <th>Fecha entrega</th>
                <th>Documento(s) de oferta</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in item.suppliers %}
            {% set user =  supplier.representatives.first() %}
            {% set answer = item.supplierAnswered(user) %}
            {% set offer = answer ? item.getSupplierOffer(supplier) : false %}
            {% set documents = macros.render_documents(offer.documento_oferta|default([])) %}
            {% set answer = answer ?: 'sin_respuesta' %}
            {% set winner = item.selectedSupplier == supplier %}

            <tr style="color:{{ winner ? 'green' : 'red' }}">
                <td style="white-space:nowrap">{{ supplier.rut }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ answer|trans }}</td>
                <td class="text-center">{{ item.selectedSupplier ? (winner ? 'SI' : 'NO') : 'N/A' }}</td>
                <td>{{ offer ? '$' ~ offer.precio_propuesta : '-' }}</td>
                <td style="white-space:nowrap">{{ offer ? offer.fecha_entrega|date('d/m/Y H:i:s') : '-' }}</td>
                <td>{{ offer ? documents : '-' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}

{% embed '@TionvelBidding/Bidding/admin/_row_modal.html.twig' %}
    {% block modal_id 'suppliers-' ~ item.id %}
    {% block modal_styles 'width:900px' %}
    {% block modal_title 'Proveedores compra N°' ~ item.getNumber() %}
    {% block modal_body content %}
{% endembed %}

<button class="btn btn-xs btn-success"
   data-toggle="modal"
   data-target="#_modal-suppliers-{{ item.id }}"
   style="font-weight:bold;padding:2px 5px"
>
Proveedores
</button>

