{% extends 'layout.twig' %}

{% block body_cls %}
easyadmin sidebar-mini fixed {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}
{% endblock %}

{% block main_content %}
<div class="row content-wrapper">
    {% block content %}
        {% block flash_messages %} {% endblock %}

        <section class="content-header">
        {% block content_header %}
            <div class="row col-condensed">
                <div class="col-sm-5">
                    <h1 class="title">{% block content_title %}{% endblock %}</h1>
                </div>

                <div class="col-sm-7">
                    <div class="global-actions">
                        {% block global_actions %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock content_header %}
        </section>
        <section id="main" class="content">
            {% block main %} {% endblock %}
        </section>
    {% endblock %}
</div>
{% endblock main_content %}
