{% if is_granted('ROLE_APPROVER_SPECIAL') %}
    {% if o.state in ['state.evaluation', 'state.rejected'] %}
        <div id="form-provedor-js" class="row hide" style="padding: 10px;">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-warning pull-right">Aprobar</button>
            {{ form_end(form) }}
        </div>

        <div id="btn-group-js" class="row text-right" style="padding-top:10px">
            <button id="aprobar-js" class="btn btn-warning">Aprobar</button>

            <button id="rechazar-js" class="btn btn-danger"
                    data-action="{{ path('solicitud_especial_rechazar', { id: special_request.id }) }}"
                    data-return="{{ path('dashboard') }}">Rechazar
            </button>
        </div>

        <script>
            $(function () {
                $('#provider_rut').on('change', function () {
                    $.ajax({
                        url: '{{ path("find_supplier") }}',
                        async: false,
                        data: {
                            r: $(this).val()
                        },
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            if (!data.results) {
                                return;
                            }

                            $('#provider_city').val(data.results.city.id);
                            $('#provider_telephono').val(data.results.phone);
                            $('#provider_email').val(data.results.representatives[0].email);
                            $('#provider_name').val(data.results.name);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            bootbox.alert(thrownError);
                        }
                    });
                });

                $('#rechazar-js').on('click', function () {
                    var btn = $(this);

                    bootbox.prompt({
                        title: 'Ingrese motivo del rechazo',
                        inputType: 'textarea',
                        callback: function (result) {
                            if (!result) {
                                return;
                            }
                            var data = new FormData();
                            data.append('rejection', result);

                            $.ajax({
                                url: btn.data('action'),
                                data: data,
                                processData: false,
                                contentType: false
                            }).done(function () {
                                bootbox.alert('Su mensaje ha sido enviado correctamente', function () {
                                    window.location.replace(btn.data('return'));
                                });
                            }).fail(function () {
                                bootbox.alert('Ha ocurrido un error al enviar su mensaje');
                            });
                        }
                    });
                });

                $('#aprobar-js').on('click', function (e) {
                    e.preventDefault();

                    $('#form-provedor-js').removeClass('hide');
                    $('#btn-group-js').hide();
                });
            });
        </script>
    {% endif %}
{% elseif is_granted('ROLE_REQUESTER') %}

{% endif %}