{% if special_request.rejectionApeal %}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 panel-tarjeta" style="background: #eea236 !important">
        <h3>Apelación</h3>
    </div>
    <div class="col-md-12 tarjeta-datos">
        <p>{{ special_request.rejectionApeal }}</p>
    </div>
</div>
{% endif %}