{% if special_request.state == 'state.rejected_final' %}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 panel-tarjeta" style="background: #d9534f !important">
        <h3>Rechazada definitivamente</h3>
    </div>
</div>
{% endif %}