{% if special_request.supplier is not null %}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 panel-tarjeta">
        <h3>Detalle de proveedor</h3>
    </div>
    <div class="col-md-12 tarjeta-datos">
        {% set s = special_request.supplier %}
        <p><span><strong>RUT:</strong> {{ s.rut }}</span></p>
        <p><span><strong>Nombre:</strong> {{ s.name }}</span></p>
        <p><span><strong>Ciudad:</strong> {{ s.city.name|default('-') }}</span></p>
        <p><span><strong>Teléfono:</strong> {{ s.phone }}</span></p>
        <p><span><strong>Correo:</strong> {{ s.representatives[0].email }}</span></p>
        <p><span><strong>Centro de costo:</strong> {{ special_request.costCenter }}</span></p>
        <p><span><strong>Costo:</strong> {{ special_request.cost }}</span></p>
    </div>
</div>
{% endif %}
